<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spendwise_WebApp</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Spendwise_WebApp.styles.css" asp-append-version="true" />
    <link href="/css/home-min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/cdn-1stformations/gzip/assets/css/home-min.css?v=195" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css" />
    <!-- Scripts -->
    <script data-search-pseudo-elements src="https://kit.fontawesome.com/985ba39b02.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


    <style type="text/css">
    .st_searchbox {
        position: absolute;
        right: 10px;
        top: 4px;
        z-index: 9999;
        display: none;
    }

    .st_searchbox_open {
        display: block;
    }

    .st_searchbox_input {
        border: 1px solid #ccc;
        padding: 10px 50px 10px 10px;
        width: 296px;
    }

    .st_searchbox_submit {
        border: 0 none;
        position: absolute;
        right: 0;
        top: 10px;
        border-left: 1px solid #ccc;
        padding: 1px 0px;
        width: 45px;
        background: transparent;
        font-size: 16px;
        color: #fcbf09!important;
    }

    .ff-topmeninfo p {
        padding-right: 0;
    }

    .search-activate {
        color: #fff;
        font-size: 20px;
        padding: 12px;
    }

    .divider-50 {
        height: 50px
    }

    .search-activate i {
        cursor: pointer;
        transition: all ease-in-out 0.35s;
        -webkit-transition: all ease-in-out 0.35s
    }

    .search-activate i:hover {
        color: #fcbf09;
    }

    #efResidentialAddressTextSpan {
        vertical-align: center!important;
        padding-top: 15px;
        float: left;
        width: 50%;
    }

    .col {
        margin-left: initial;
    }

    .font-style-italic {
        font-style: italic !important;
    }

    .rf-home-bc {
        background-color: #fff!important;
        border-bottom: 0!important
    }

    .bc-checkout .eight {
        display: table;
        table-layout: fixed
    }

    .five-column {
        text-align: center;
        display: table-cell
    }

    .five-column:nth-child(2) {
        max-width: 24%;
        width: 24%
    }

    .five-column:nth-child(3) {
        max-width: 27%;
        width: 27%
    }

    .five-column:nth-child(4) {
        max-width: 16%;
        width: 16%
    }

    .five-column:nth-child(5) {
        max-width: 16%;
        width: 16%
    }

    .five-column i {
        display: block;
        font-size: 21px;
        font-weight: 300;
        padding-bottom: 5px;
        color: #bcbcbc
    }

    .five-column .active {
        color: #00a800
    }

    .slt-com-name>i {
        float: left;
        position: relative;
        top: 2px;
        font-size: 24px;
        padding-bottom: 10px;
        margin-right: 10px;
        color: #73B810
    }

    .slt-com-name p {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 5px;
        color: #3b3b3b;
        font-weight: 400
    }

    .fc-bcbcbc {
        color: #BCBCBC
    }

    .slt-com-name p {
        font-size: 21px;
        line-height: 31px;
        font-family: "myriad-pro-semi-condensed-n4", "myriad-pro-semi-condensed", calibri, sans-serif, helvetica!important;
        margin-bottom: 5px
    }

    .slt-com-name>span,
    .slt-com-name p>span {
        color: #479a00;
        display: inline-block;
        font-size: 21px;
        font-family: "myriad-pro-semi-condensed-n4", "myriad-pro-semi-condensed", calibri, sans-serif, helvetica!important
    }

    .progress-bar {
        height: 6px;
        display: block;
        width: 100%;
        background-color: #F3F3F3;
        margin-top: 5px;
        position: relative
    }

    .progress-bar.green {
        background-color: #73B810
    }

    .progress-bar.green.active:after {
        content: "";
        position: absolute;
        right: -3px;
        top: 0;
        width: 6px;
        height: 6px;
        border: none;
        -o-text-overflow: clip;
        text-overflow: clip;
        background: #73B810;
        -webkit-transform: skewX(45deg);
        transform: skewX(45deg);
        z-index: 1
    }

    .custom.ncblock.ncinput-wrap.lbs1{
        padding-left:0;
        padding-right:0;
    }

    .namecheck-holer .bc-checkout > .col{
        padding-left:0;
        padding-right:0;
        width:100%;
    }

   .col-five.namecheck-holer .col{
      padding-left:0;
      padding-right:0;
   }

    .mheight-one {
        min-height: 357px!important;
    }

    ol.ordered-list li {
        list-style: outside decimal;
    }

    .cpolicy ul.terms-cond-roman li {
        list-style-type: lower-roman !important;
    }

    .team-member:nth-child(6n+1) {
        clear: both
    }

    .ff-link-three {
        display: inline-block!important;
        height: auto!important;
    }
</style>

<link href="https://cdnnetwork.s3.amazonaws.com/files/dist/css/base-rev-2-0-min-gzip.css?=v9" rel="stylesheet" type="text/css">

<style type="text/css">
    #efPaymentFromOption_CARD p > span.efButton {
        display: block;
        clear: both;
        margin: 20px auto 0;
    }

    #efPaymentFromOption_CONTAUTH p > span.efButton {
        margin: 20px auto 0;
        clear: both;
    }

    .packcol-two .fs-16.fc-green {
        line-height: 18px !important;
    }

    .lity{
        background: rgba(0,0,0,.8);
     }

    p.fst-ads-bankhead-white,
    p.fst-ads-bankhead {
        font-size: 29px!important;
    }

    .package-cashback-ad {
        float: right;
        margin-top: 92px;
        background-color: rgba(255,255,255,.8);
        padding: 20px;
        max-width: 30%;
        text-align: center;
        box-sizing: border-box;
    }

    .box-icon-wrap.bg-color-red.addpack,
    .box-icon-wrap.bg-color-yellow.addpack{
        height:30px;
    }

    ul li {
        padding: initial;
    }

    .site-nav__menu-sub-item strong {
        color: #fff;
        font-size: 16px;
    }

    .site-nav__menu-sub-item a:hover strong {
        color: #fcbe18;
    }

    p strong { font-size: inherit!important;}

    .icon_bank_upgrade {
        float: left;
        background-attachment: scroll;
        background-image: url(https://s3-eu-west-1.amazonaws.com/cdnnetwork/images/system/global-compare-icons.png);
        background-repeat: no-repeat;
        background-position: left top;
        height: 32px;
        width: 32px;
        position: absolute;
    }

    .icon_bank_upgrade {
        background-position: left -2308px;
        height: 40px;
    }
    .fp-left-col {
        padding: 0 3% 0 0;
        max-width: 50%;
    }

    .fp-right-col {
        padding: 0 0 0 3%;
        max-width: 50%;
    }

</style>

<!-- Impact -->
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> *@
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.6.0/sha1.min.js"></script>

@* <script>
    $(function() {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var clickId = urlParams.get('irclickid');

        if(clickId !== null) {
            $.cookie('clickid', clickId, { expires: 30 });
        }
    });
</script> *@


<style type="text/css">
    *, input, select, textarea, option, button {
        outline: none!important;
    }

.lity{
     background: rgba(108,105,105,.9) !important;
}
</style>

</head>
<style>
    /*
    .service-add-page .fa-li,
    .fa-li {
        top: 0em !important;
    }
    */

    .sitemap h3,
    .sitemap h4 {
        font-weight: 600!important;
    }

    .fs-32 {
        font-size: 2rem;
    }

    .pack-container .fa-li.fa-check {
        top: 3px!important;
        font-size: 18px;
    }

    #packages-tabs .fa-ul li,
    .main-content li {
        margin: 0 0 13px 25px;
    }

    #packages-tabs .fp-left-col ul.fa-ul {
        margin-top: 15px !important;
    }

    .colfaqs ul.fa-ul {
        margin-top: 5px !important;
    }

    .numeric-ul {
        list-style-type: decimal;
    }

    .numeric-ul li {
        list-style-type: decimal;
    }

    .service-add-page h4 {
        margin-bottom: 20px
    }

    body {
        font-size: 16px!important;
    }

    .main-content ul,
    .main-content ol,
    .main-content li,
    .main-content p,
    .main-content b,
    .main-content strong {
        font-size: 16px!important;
        line-height: 1.4;
    }

    .main-content h3 {
        padding-bottom: 0;
    }

    .main-content h4 {
        font-size: 21px;
    }

    .main-content__internal-pages ul > li {
        margin-left: 45px;
    }
    .main-content__internal-pages ol > li {
        margin-left: 45px;
    }

    .ff-link-four,
    .ff-link-five {
        font-size: 16px;
        height: auto!important;
        line-height: 1.5!important;
        display: flex;
        padding: 0;
    }

    .ff-link-four a,
    .ff-link-five a {
        padding: 10px 30px;
        height: auto!important;
        display: flex;
        justify-content: center;
        font-family: Myriad Semi Condensed,sans-serif;
        font-size: 18px;
    }

    .page-heading {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid #c2dff3;
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .page-heading h1,
    .page-heading h2,
    .page-heading h3 {
        font-size: 2rem;
        line-height: 1.2;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .page-heading__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .page-heading__price {
        font-size: 31px;
        font-family: MyriadW08-BoldSemiConde!important;
        color: #333;
        margin-right: 1rem;
    }

    .page-heading__button {
        padding: 15px 30px;
        background-color: #5ea72d;
        font-family: MyriadW08-SemiCondensed!important;
        font-size: 1.5rem;
        color: #fff!important;
    }

    .page-heading__button:hover {
        background-color: #4d961c;
    }

    .page-heading__button.compare-packages {
        background-color: #31a5cb;
        margin-left:.5em;
    }

    .page-heading__button.compare-packages:hover {
        background-color: #1387ad;
    }

    .package-faqs,
    .service-faqs {
        margin-top: 20px;
    }

    .package-faqs > h2,
    .service-faqs > h2 {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        padding: 0;
        color: #000;
        border-bottom: 1px solid #c2dff3;
        padding-bottom: 1rem;
    }

    .service-faqs__columns,
    .package-faqs__columns {
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 30px;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }

    .service-faqs__faq,
    .package-faqs__faq {
        margin-bottom: 1.25rem;
    }

    .service-faqs__faq h2,
    .package-faqs__faq h2,
    .service-faqs__faq h3,
    .package-faqs__faq h3 {
        font-size: 1.4375rem!important;
        line-height: 1.35!important;
        margin-bottom: .5rem!important;
        padding: 0!important;
        border: 0!important;
    }

    .service-faqs__faq p,
    .package-faqs__faq p {
        font-size: 16px!important;
        line-height: 1.4!important;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .service-faqs__faq ul li,
    .service-faqs__faq ol li,
    .package-faqs__faq ul li,
    .package-faqs__faq ol li {
        margin-bottom: .625rem;
    }

    .page-banner .sp-heading {
        margin-top: 65px!important;
    }

    .page-banner .sp-heading h1 {
        margin-bottom: 10px;
    }

    .page-banner .sp-heading h1.redux {
        font-size: 36px;
        line-height: 1.25;
    }

    .page-banner a.btn.btn-buy-now.btn-order {
        margin-top: 25px;
        padding: 15px 30px;
        background-color: #5ea72d;
        font-family: MyriadW08-SemiCondensed!important;
        font-size: 1.5rem;
        color: #fff;
        float: left;
        clear: left;
        box-sizing: border-box;
        border: 1px solid;
    }

    .page-banner a.btn.btn-buy-now.btn-order:hover {
        background-color: #4d961c;
    }

    .your-address-service {
        display: grid;
        grid-template-columns: 1.5fr 1.1fr;
        border: 1px solid #ccc;
        margin-bottom: 30px;
    }

    .your-address-service__image {
        overflow: hidden;
        background-image: url('https://cdn-brand.s3.eu-west-1.amazonaws.com/assets/images/71-75SheltonStreetXL.jpg');
        background-size: cover;
    }

    .your-address-service__content {
        padding: 20px;
    }

    .your-address-service__content h3 {
        color: #11abe4;
    }

    .your-address-service__content p {
        margin-bottom: 0;
        color: #000;
    }

    .address-how-to-buy {
        padding: 20px;
        background-color: #f8f8f8;
        border: 1px solid #CBCBCB;
        box-sizing: border-box;
        float: left;
    }

    .address-how-to-buy h2 {
        color: #11abe4;
    }

    .address-how-to-buy ul {
        color: #000;
    }

    .no-padding {
        padding:0!important;
    }

    .buy-service__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .buy-service__price {
        font-size: 2rem;
        font-family: MyriadW08-BoldSemiConde!important;
        color: #fff;
        margin-right: 1rem;
    }

    .buy-service__button {
        padding: 15px 30px;
        background-color: #5ea72d;
        font-family: MyriadW08-SemiCondensed!important;
        font-size: 1.5rem;
        color: #fff!important;
    }

    .buy-service__button:hover {
        background-color: #4d961c;
    }

    .gradient--blue {
    background: rgb(28,141,212);
    background: -moz-linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
    background: linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c8dd4",endColorstr="#0bd8d1",GradientType=1);
    }

    .gradient--orange {
        background: rgb(242,158,11);
        background: -moz-linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
        background: linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f29e0b",endColorstr="#ecb112",GradientType=1);
    }

    .gradient--green {
        background: rgb(66,147,12);
        background: -moz-linear-gradient(90deg, rgba(66,147,12,1) 0%, rgba(169,203,50,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(66,147,12,1) 0%, rgba(169,203,50,1) 100%);
        background: linear-gradient(90deg, rgba(66,147,12,1) 0%, rgba(169,203,50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42930c",endColorstr="#a9cb32",GradientType=1);
    }

    .gradient--teal {
        background: rgb(82,141,135);
        background: -moz-linear-gradient(90deg, rgba(82,141,135,1) 0%, rgba(167,222,205,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(82,141,135,1) 0%, rgba(167,222,205,1) 100%);
        background: linear-gradient(90deg, rgba(82,141,135,1) 0%, rgba(167,222,205,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#528d87",endColorstr="#a7decd",GradientType=1);
    }

</style>
<body>
<style>
    :focus {
        outline: 0;
    }

    .site-header__open {
        display: block;
        font-family: Myriad Semi Condensed, sans-serif;
        font-size: 18px;
        letter-spacing: -0.5px;
        margin-bottom: 3px;
    }

    .cd-top {
        margin: 0 0 60px !important;
    }
</style>

    <header class="nav-section">
        <div class="site-header">
            <div class="container site-header__wrap">
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <a href="/">
                            <img alt="Spendwise" src="/Spenwise_logo.png" />
                        </a>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-6 col-lg-7">
                        <div class="site-header__contact hidden-xs hidden-sm">
                            <span class="site-header__contact">
                                <a href="https://support.1stformations.co.uk/hc/en-gb/requests/new" target="_blank"> <i class="fa fa-envelope"></i> Email Us</a>
                                <a href="tel:02038972233"> <i class="fa fa-phone"></i> 020 3897 2233</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 site-nav-burger">
                        <div class="site-nav-burger__wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <section class="site-nav__wrap">
                <div class="container">
                    <div class="col closed">
                        <ul class="site-nav__body">
                            <li class="site-nav__item site-nav__item--dropdown">
                                <a href="#"><span>+</span>Company Formation</a>
                                <div class="site-nav__menu site-nav__menu--inactive">
                                    <div class="site-nav__menu-body">
                                        <div class="site-nav__menu-links--three-col">
                                            <div>
                                                <h3 class="site-nav__menu-heading">Limited Company</h3>
                                                <ul class="site-nav__menu-links">
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/digital/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Digital Package
                                                        </a>
                                                    </li>
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/privacy/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Privacy Package
                                                        </a>
                                                    </li>
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/professional/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Professional Package
                                                        </a>
                                                    </li>
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/prestige/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Prestige Package
                                                        </a>
                                                    </li>
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/all-inclusive/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            All Inclusive Package
                                                        </a>
                                                    </li>
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/eseller/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            eSeller Package
                                                        </a>
                                                    </li>
                                                    <li class="site-nav__menu-sub-item">
                                                        <a class="hash-link" href="/package/reserve-company-name/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Reserve a Company Name
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h3 class="site-nav__menu-heading">International</h3>
                                                <ul class="site-nav__menu-links">
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/non-residents/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Non-Residents Package
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h3 class="site-nav__menu-heading">Other company packages</h3>
                                                <ul class="site-nav__menu-links">
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/limited-by-guarantee/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Limited By Guarantee
                                                        </a>
                                                    </li>
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/llp/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Limited Liability Partnership
                                                        </a>
                                                    </li>
                                                    <li class="site-nav__menu-sub-item">
                                                        <a href="/package/plc/">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                            Public Limited Company
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="site-nav__cta">
                                            <a class="button button--primary" href="/BuyPackage">View All Packages</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="site-nav__item site-nav__item--dropdown">
                                <a href="#"><span>+</span>Services</a>
                                <div class="site-nav__menu site-nav__menu--inactive">
                                    <div class="site-nav__menu-body">
                                        <ul class="site-nav__menu-links site-nav__menu-links site-nav__menu-grid-layout">
                                            <div>
                                                <h3 class="site-nav__menu-heading">Address Services</h3>
                                            <li class="site-nav__menu-sub-item">
                                                <a href="/registered-office-service/">
                                                    <i class="fa-solid fa-angle-right"></i>
                                                    London Registered Office
                                                </a>
                                            </li>
                                            <li class="site-nav__menu-sub-item">
                                                <a href="/service-address-service/">
                                                    <i class="fa-solid fa-angle-right"></i>
                                                    London Service Address
                                                </a>
                                            </li>
                                            <li class="site-nav__menu-sub-item">
                                                <a href="/business-address-service/">
                                                    <i class="fa-solid fa-angle-right"></i>
                                                    London Business Address
                                                </a>
                                            </li>
                                            <li class="site-nav__menu-sub-item">
                                                <a href="/company-address-guide/">
                                                    <i class="fa-solid fa-angle-right"></i>
                                                    Company Addresses Explained
                                                </a>
                                            </li>
                                            <li class="site-nav__menu-sub-item">
                                                <a href="/renewals/">
                                                    <i class="fa-solid fa-angle-right"></i>
                                                    Renewals
                                                </a>
                                            </li>
                                    </div>
                                    <div>
                                        <h3 class="site-nav__menu-heading">Company Services</h3>
                            <li class="site-nav__menu-sub-item">
                                <a href="/full-company-secretary/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Full Company Secretary Service
                                </a>
                            </li>
                            <li class="site-nav__menu-sub-item">
                                <a href="/confirmation-statement-service/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Confirmation Statement
                                </a>
                            </li>
                            <li class="site-nav__menu-sub-item">
                                <a href="/dormant-company-accounts/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Dormant Company Accounts
                                </a>
                            </li>
                            <li class="site-nav__menu-sub-item">
                                <a href="/company-dissolution/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Company Dissolution
                                </a>
                            </li>
                            <li class="site-nav__menu-sub-item">
                                <a href="/company-name-change/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Company Name Change
                                </a>
                            </li>
                            <li class="site-nav__menu-sub-item">
                                <a href="/director-appointment-resignation/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Director Appointment & Resignation
                                </a>
                            </li>
                            <li class="site-nav__menu-sub-item">
                                <a href="/apostilled-documents/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Apostilled Documents
                                </a>
                            </li>
                    </div>
                    <div>
                        <h3 class="site-nav__menu-heading">&nbsp;</h3>
                        <li class="site-nav__menu-sub-item">
                            <a href="/issue-of-shares/">
                                <i class="fa-solid fa-angle-right"></i>
                                Issue of Shares
                            </a>
                        </li>
                        <li class="site-nav__menu-sub-item">
                            <a href="/transfer-of-shares/">
                                <i class="fa-solid fa-angle-right"></i>
                                Transfer of Shares
                            </a>
                        </li>
                        <li class="site-nav__menu-sub-item">
                            <a href="/certificate-of-good-standing/">
                                <i class="fa-solid fa-angle-right"></i>
                                Certificate of Good Standing
                            </a>
                        </li>
                        <li class="site-nav__menu-sub-item">
                            <a href="/vat-registration/">
                                <i class="fa-solid fa-angle-right"></i>
                                VAT Registration
                            </a>
                        </li>
                        <li class="site-nav__menu-sub-item">
                            <a href="/bizik-answering/">
                                <i class="fa-solid fa-angle-right"></i>
                                Bizik Answering Services
                            </a>
                        </li>
                        <li class="site-nav__menu-sub-item">
                            <a href="/business-banking/">
                                <i class="fa-solid fa-angle-right"></i>
                                Business Banking
                            </a>
                        </li>
                    </div>
                    <div>
                        <h3 class="site-nav__menu-heading">Office Services</h3>
                        <li class="site-nav__menu-sub-item">
                            <a href="/serviced-offices/">
                                <i class="fa-solid fa-angle-right"></i>
                                Serviced Offices
                            </a>
                        </li>
                        <li class="site-nav__menu-sub-item">
                            <a href="/meeting-rooms/">
                                <i class="fa-solid fa-angle-right"></i>
                                Meeting Rooms
                            </a>
                        </li>
                    </div>
                    </ul>
                </div>
        </div>
        </li>
        <li class="site-nav__item site-nav__item--dropdown">
            <a href="#"><span>+</span>Resources</a>
            <div class="site-nav__menu site-nav__menu--inactive">
                <div class="site-nav__menu-body">
                    <div class="site-nav__menu-links--three-col">
                        <div>
                            <h3 class="site-nav__menu-heading">Information</h3>
                            <ul class="site-nav__menu-links">
                                <li class="site-nav__menu-sub-item">
                                    <a href="/online-company-manager/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Our Online Company Manager
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/company-set-up-guide/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Set Up a Company in 4 Simple Steps
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/company-set-up-checklist/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Information Required to Set Up a Company
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/about-companies/choose-company-name/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Company Name Guide
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/how-to-register-a-business/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        How to Register a Business
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/starting-your-own-business/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Starting Your Own Business - The Ultimate Guide
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/post-incorporation/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Post Incorporation Support
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="site-nav__menu-heading">Guides</h3>
                            <ul class="site-nav__menu-links">
                                <li class="site-nav__menu-sub-item">
                                    <a href="/about-companies/company-limited-by-shares/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Companies Limited by Shares
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/about-companies/company-limited-by-guarantee/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Companies Limited by Guarantee
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/about-companies/limited-liability-partnerships/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Limited Liability Partnerships
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/about-companies/public-limited-companies/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Public Limited Companies
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/directors-and-secretaries/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Directors and Secretaries
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/shares-and-shareholders/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Shares and Shareholders
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/annual-filings/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Annual Filing Requirements
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="site-nav__menu-heading">Useful</h3>
                            <ul class="site-nav__menu-links">
                                <li class="site-nav__menu-sub-item">
                                    <a href="/helpful-videos/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Videos
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/in-the-press/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        In The Press
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/our-partners/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Partner Offers
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/business-scholarship/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Scholarship
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/sustainability/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Sustainability
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/wonder-foundation/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Wonder Foundation
                                    </a>
                                </li>
                                <li class="site-nav__menu-sub-item">
                                    <a href="/pricing/">
                                        <i class="fa-solid fa-angle-right"></i>
                                        Pricing
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="site-nav__item">
            <a href="/case-studies/">Case Studies</a>
        </li>
        </ul>
        <ul class="site-nav__body--subnav">
            <li class="site-nav__item site-nav__item--subnav">
                <a href="/blog/">Blog</a>
            </li>
            <li class="site-nav__item site-nav__item--subnav">
                <a href="/Contact-us/">Contact</a>
            </li>
            <li class="site-nav__item site-nav__item--subnav">
                <a href="/About-us/">About</a>
            </li>
            <li class="site-nav__item site-nav__item--subnav site-nav__item--login">
                <a href="/login/"><i class="fa fa-lock"></i> Client Login</a>
            </li>
        </ul>
        </div>
        </div>
        </section>
        </div>
    </header>

    <div class="clearfix"> </div>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

<script data-search-pseudo-elements src="https://kit.fontawesome.com/985ba39b02.js"></script>


    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    
   
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/main-min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/sha1.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>