<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Spendwise</title>
    <link href="~/images/favicon.ico" rel="shortcut icon" />
    <script data-search-pseudo-elements src="/js/985ba39b02.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home-min.css" />
</head>
<body>

    
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer")

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/main-min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/sha1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>