@page
@model Spendwise_WebApp.Pages.BuyPackage.eSellerModel
@{
    Layout = null;
}
<section id="eseller-content" class="compare-packages-panel compare-packages-panel--desktop">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="compare-packages-panel__panel">
                    <div class="compare-packages-panel__header">
                        <h3>Ideal for e-commerce and dropshipping</h3>
                        <div class="compare-packages-panel__actions">
                            <div class="compare-packages-panel__prices">
                                <span class="compare-packages-panel__price compare-packages-panel__price--discounted">£129.99</span>
                                <span class="compare-packages-panel__price">£89.99</span>
                            </div>
                            <a href="/name-check-eseller-package/" class="button11 js-routing button button--secondary">Buy Now</a>
                        </div>
                    </div>
                    <div class="compare-packages-panel__body">
                        <div class="compare-packages-panel__columns">
                            <div>
                                <p>A package suitable for those selling via their own e-commerce website, or through Amazon, eBay, Walmart, providing:</p>
                                <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> limited company formation</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> WorldFirst UK &amp; International business banking referral</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> three Covent Garden address services</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Shopify - free 3 day trial + 3 months for £1/month</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> filing of the first confirmation statement</li>
                                </ul>

                                <h4>UK and International business banking referral</h4>
                                <p>We have partnered with WorldFirst to offer our e-commerce customers UK and International business accounts from the market leaders in the e-commerce payments space. For more information - see below.</p>

                                <a href="https://portal.worldfirst.com/register?region=UK&amp;affiliate_id=10378"><img src="https://1stformations.s3.eu-west-1.amazonaws.com/images/banners/WFT-AWARENESS_BANNER.png" alt="Worldfirst Banking"></a>

                                <h4>WorldFirst</h4>
                                <p>The simplest and quickest business banking solution for non-UK residents, so we have included a referral to WorldFirst within our Seller and Non-Residents Packages.</p>
                                <p>It provides international business banking with worldwide coverage, allowing you to open 10+ local currency accounts for free and receive money with the speed and ease of a local payment.</p>
                                <p>From Amazon and AliExpress, to PayPal and Shopify, you can get paid easily, no matter where in the world your customers are.</p>

                                <h4>Shopify</h4>
                                <p>Open an ecommerce business without the hassle of managing inventory, packaging, or shipping.</p>
                                <p>Products are purchased and shipped from the manufacturer only after your store receives an order.</p>
                                <p>New dropshippers get exclusive access to the lessons, support, and resources in our private Facebook group.</p>
                                <p>Shopify handles everything from marketing and payments, to secure checkout and shipping.</p>

                                <h4>Please note:</h4>
                                <p>† All registered office and service address mail (official government mail) will be scanned and emailed to you free of charge. Business address mail will be forwarded to you by scan and email at a cost of 50p per item. Any items of value, such as bank cards, will be forwarded to an address of your choice and charged at Royal Mail International postal rates plus a 15% handling charge.</p>
                                <p>‡ The Filing of the First Confirmation Statement does not include the Companies House filing fee of £34.00. At the time of filing your first confirmation statement, we will take payment of £34.00 using your payment card details securely stored on your account.</p>
                            </div>
                            <div>
                                <h3>Package Features:</h3>
                                <div class="compare-packages-panel__included-items">
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Company Formation</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon ltd"></div>
                                        <h4>Limited Company</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Limited Company</h3>
                                                        <p>Your new company will usually be formed within 24 hours; however, this timescale is subject to Companies House workload and it may take longer. If it is of great importance that your company is incorporated as soon as possible or on the same day, we always recommend you add the Guaranteed Same Day Service to your order.</p>
                                                        <p>Once your new company has been approved by Companies House, you can start trading immediately.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon gov"></div>
                                        <h4>Companies House<br>£50.00 Filing Fee Included</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Companies House £50.00 Filing Fee Included</h3>
                                                        <p>Companies House charge a £50.00 filing fee for company incorporation. This is included in the package price, so what you see is what you pay - there are no hidden costs.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon laptop"></div>
                                        <h4>Email Copy of Certificate of <br>Incorporation, Share Certificate(s), <br>Memorandum &amp; Articles</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Email Copy of your Company Documents</h3>
                                                        <p>As soon as your company is registered at Companies House we will deliver a full set of company documents to you by email, including:</p>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Certificate of Incorporation</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Memorandum &amp; Articles of Association</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Share Certificate(s)</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> WebFiling Authentication Code (required to use Companies House WebFiling system)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Banking Essentials</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon bank"></div>
                                        <h4>WorldFirst UK &amp; International business banking referral</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>WorldFirst UK Business Account Referral</h3>
                                                        <p>
                                                            We have partnered with WorldFirst, the easy alternative to a business bank account abroad, to provide our non-UK resident customers with an international business banking referral.
                                                        </p><p>
                                                            Apply for an account in minutes, and get access to local account numbers and sort codes for 10+ currencies, including USD, GBP and EUR.
                                                        </p><p>
                                                            Pay your domestic and international suppliers, partners and staff in 40+ currencies, and connect with Xero to reduce accounting administration and reconciliation.
                                                        </p><p>
                                                            Get paid easily from over 100 marketplaces, including Amazon, AliExpress, as well as from the likes of PayPal and Shopify, no matter where your customers are.

                                                        </p><p><strong>What happens next?</strong></p>
                                                        <p>As soon as your company is approved by Companies House, we will send you an Order Fulfilment email, which will include a link to sign up for a new WorldFirst Business Account. If your application is successful, you will receive your UK bank sort code and account number shortly afterwards. Account openings are subject to approval.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Address Services (for 12 months)</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon address"></div>
                                        <h4>London Registered Office Address<br>(with same-day digital mail service)<sup>†</sup></h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Registered Office Service <br> Covent Garden, London WC2</h3>
                                                        <p>The Registered Office will appear on public record as the official address of your company. With this service, our prestigious Covent Garden address will appear on public record rather than your home address.</p>
                                                        <p>We will then scan and email all statutory company mail to you, from all UK government bodies and Court documents, free of charge.</p>
                                                        <p>This service is renewable on a 12 monthly basis at the cost of £39.00 +VAT. Notice will always be given in advance of your renewal date and you will be able to cancel the service.</p>
                                                        <p>Please note: The forwarding of official government mail by scan and email is free. Mail will be forwarded on a daily basis.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon address"></div>
                                        <h4>1 x London Service Address<br>(with same-day digital mail service)<sup>†</sup></h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>1 x Service Address<br>Covent Garden, London WC2</h3>
                                                        <p>All company directors, shareholders who are persons with significant control (PSC), and company secretaries, must provide a service address where statutory mail from government bodies such as Companies House and HMRC can be sent to them personally. This address will appear on public record, so most people prefer not to use their home address for this purpose.</p>
                                                        <p>With this facility, our prestigious Covent Garden address will show on the public record rather than your home address. This service includes the scanning and emailing of mail addressed to a company officer from all UK government bodies, as well as Court documents, free of charge.</p>
                                                        <p>This item provides a service address for 1 person and is renewable on a 12 month basis at a cost of £26.00 +VAT. Notice will always be given in advance of your renewal date and you will be able to cancel the service.</p>
                                                        <p>Please note: Forwarding of service address mail by scan and email is free of charge. Mail will be forwarded on a daily basis.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon address"></div>
                                        <h4>London Business Address Service<br>(includes International Forwarding)<sup>†</sup></h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>London Business Address Service</h3>
                                                        <h4>Covent Garden, London WC2</h4>
                                                        <p>Spendwise' London Business Address Service allows you to use our prestigious Covent Garden address for your day-to-day business correspondence.</p>
                                                        <p>A business address in the heart of London’s West End is an excellent way to enhance the corporate image of your company and establish a business presence in an important area.</p>
                                                        <p>All mail addressed to your company will be forwarded to you by scan and email on the same day we receive it.</p>
                                                        <p>This service is renewable on a 12 monthly basis at the cost of £96.00 + VAT. Notice will always be given in advance of your renewal date and you will be able to cancel the service.</p>
                                                        <p><strong>Mail Delivery</strong><br>Mail forwarded by scan and email costs 50p per item.</p><p>Any items of value that cannot be sent by scan and email, will be forwarded by post. All postal forwarding will be charged at Royal Mail postal rates plus 15%.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Business Essentials</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon filing"></div>
                                        <h4>Filing of the First <br> Confirmation Statement<sup>‡</sup></h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Filing of the First Confirmation Statement</h3>
                                                        <p>It is a legal requirement to submit a confirmation statement to Companies House at least once each year, keeping them informed and up-to-date with your latest company details.</p>
                                                        <p>The confirmation statement is a snapshot of your company details on the date of filing the statement. It includes details of the company’s principal business activity, directors (and company secretary if applicable), the registered office, share capital, shareholdings and people with significant control.</p>
                                                        <p>An experienced staff member will prepare and submit your confirmation statement to Companies House before the due date, ensuring this will be done on time and accurately.</p>
                                                        <p>Please note: This service does not include the Companies House filing fee of £34.00. At the time of filing your first confirmation statement, we will take payment of £34.00 using your payment card details securely stored in your account.</p>
                                                        <p>This service is renewable annually at the cost of £59.99 +VAT.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon shopify"></div>
                                        <h4>Shopify - 3 Day Free Trial + 3 Months for £1/Month</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>hopify - 3 Day Free Trial + 3 Months for £1/Month</h3>
                                                        <p>Open an ecommerce business without the hassle of managing inventory, packaging, or shipping.</p>
                                                        <p><strong>Never get stuck with unsold inventory</strong></p>
                                                        <p>Products are purchased and shipped from the manufacturer only after your store receives an order.</p>
                                                        <p><strong>Join Shopify growing community</strong></p>
                                                        <p>New dropshippers get exclusive access to the lessons, support, and resources in our private Facebook group.</p>
                                                        <p><strong>Trusted by millions of businesses</strong></p>
                                                        <p>Shopify handles everything from marketing and payments, to secure checkout and shipping.</p>
                                                        <p><strong>How it works</strong></p>
                                                        <p>As soon as your company is approved by Companies House, we will send you an order fulfilled email, which will include a link to Shopify’s website to redeem your 3 day free 3 day trial + 3 months for £1/month.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon domain"></div>
                                        <h4>Free .com or .co.uk Domain Name</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Free .com or .co.uk Domain Name</h3>
                                                        <p>We have partnered with one of the UK’s leading domain name providers to offer you a free .co.uk domain name for 1 year, and help establish the online presence of your new business.</p>
                                                        <p><strong>How it works:</strong> As soon as your company is approved by Companies House, we will send you an order fulfilled email, which will include your exclusive voucher and a link to the Names.co.uk website. You should proceed to order your .com or .co.uk domain name and apply the voucher code at checkout. This code will expire in 30 days so take advantage of the offer and get your .com or .co.uk domain name now.</p>
                                                        <p>Please note: The price of a co.uk domain will be £0.00 (Ex VAT) when registered with names.co.uk for 1 year using the voucher code supplied. Discounts apply for the first billing period only and do not apply to renewals. Offer must be redeemed within 30 days and cannot be used in conjunction with any other offer. This offer may be withdrawn at any time at the discretion of Namesco Limited. Standard terms &amp; conditions apply. Limited to 1 per customer.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon book"></div>
                                        <h4>Ultimate Guide <br> to Starting Your Business</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Ultimate Guide to Starting Your Business – eBook</h3>
                                                        <p>Our exclusive guide to starting your business by our CEO and Founder, Graeme Donnelly, will provide you with the comprehensive guidance you need to give your company the best start possible.</p>
                                                        <p>Our book shows you how to cultivate a business idea and turn it into a structured business plan. It explains the funding strategies available, and explores various matters such as, whether you should hire staff to help run it, and the do’s and don’ts of researching company premises.</p>
                                                        <p>Learn how to set up a company website, develop a recognisable brand, advertise and market your business, and sell your products online.</p>
                                                        <p>Also covered are the skills you will require to become a successful business leader, and how to cope with the stress of running your own business, as well as a number of other insightful business tips.</p>
                                                        <p><strong>How do I receive my eBook?</strong></p>
                                                        <p>Your free eBook will be sent to you by email in PDF format, once your company has been formed. </p>
                                                        <p>Author: Graeme Donnelly, CEO and Founder of Spendwise. 70 pages.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon company-manager"></div>
                                        <h4>Free Online<br>Company Manager</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Online Company Manager</h3>
                                                        <p>Our Online Company Manager system allows you to take full control of your company details from one central login:</p>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Receive e-mail reminders of key filing dates to avoid missing deadlines and incurring penalties.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Make changes to company officer details, addresses, change accounting dates and file confirmation statements online.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Form new companies without having to re-enter all the same information each time.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Import existing companies, and control all of your business in one place.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> View and download your company documents easily.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> View and download your official government and business mail.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Purchase additional products and services from the Shop.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Manage your payment cards.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Renew your annual subscription services.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon answering"></div>
                                        <h4>Telephone Answering<br>One Month Free Trial</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Telephone Answering (One Month Free Trial)</h3>
                                                        <p>We are pleased to offer telephone answering through our sister company, Bizik, a leading UK provider of answering services.</p>
                                                        <p>You will benefit from an exclusive one month free trial of Bizik’s Biz Starter plan, which includes 20 receptionist minutes. A dedicated team of receptionists will be assigned to answer your business calls between 8.30 am and 5.30 pm, just like your in-house team. This service includes a free business telephone number.</p>
                                                        <h4>How it works</h4>
                                                        <p>As soon as your company has been formed, you will receive an 'order fulfilled' email which will contain a link to the onboarding form. Once you complete this form, the Bizik team will be in touch to get you started with your free trial.  </p>
                                                        <h4>Key Features</h4>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Bespoke call handling</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Professional people</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Diary management</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Online portal with reporting</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon livechat"></div>
                                        <h4>Managed Live Chat<br>One Month Free Trial</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Managed Live Chat (One Month Free Trial)</h3>
                                                        <p>We are pleased to offer managed live chat through our sister company, Bizik, a leading UK managed live chat provider.</p>
                                                        <p>You will benefit from an exclusive one month free trial of Bizik’s Chat 15 plan, which includes 15 chats answered and fully branded software.</p>
                                                        <p>Bizik will provide live chat functionality for your website, and work alongside you to build an extensive knowledge base of your business, so that their friendly UK-based agents can conduct live chats on your behalf.</p>
                                                        <h4>How it works</h4>
                                                        <p>As soon as your company has been formed, you will receive an 'order fulfilled' email which will contain a link to the onboarding form. Once you complete this form, the Bizik team will be in touch to get you started with your free trial.  </p>
                                                        <h4>Key features</h4>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Real human conversations</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Personalised live chat widget</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Full live chat transcripts</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Online portal with reporting</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Lead capture</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="compare-packages-panel__footer">
                        <h3>eSeller Package</h3>
                        <div class="compare-packages-panel__actions">
                            <div class="compare-packages-panel__prices">
                                <span class="compare-packages-panel__price compare-packages-panel__price--discounted">£129.99</span>
                                <span class="compare-packages-panel__price">£89.99</span>
                            </div>
                            <a href="/name-check-eseller-package/" class="button11 js-routing button button--secondary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
