@page
@model Spendwise_WebApp.Pages.BuyPackage.GuaranteeModel
@{
}
<section id="guarantee-content" class="compare-packages-panel compare-packages-panel--desktop">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="compare-packages-panel__panel">
                    <div class="compare-packages-panel__header">
                        <h3>A company registration package for non-profit organisations</h3>
                        <div class="compare-packages-panel__actions">
                            <div class="compare-packages-panel__prices">
                                <span class="compare-packages-panel__price">£69.99</span>
                            </div>
                            <a href="/name-check-lbg-package/" class="button9 js-routing button button--secondary">Buy Now</a>
                        </div>
                    </div>
                    <div class="compare-packages-panel__body">
                        <div class="compare-packages-panel__columns">
                            <div>
                                <p>Our Limited by Guarantee package, at a cost of just £69.99 +VAT, is ideal for those who wish to set up a limited company for non-profit purposes - i.e. a club, sporting association, community project, workers' cooperative or membership organisation.</p>
                                <p>This package provides:</p>
                                <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> online company registration</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> a full set of digital company documents</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> filing of the first confirmation statement</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> free .com or .co.uk domain name</li>
                                </ul>

                                <h4>Savings when you choose this package</h4>
                                <p>The cost of our Limited by Guarantee Package is £69.99, however, if you were to purchase each item in this package separately, the total cost would be £118.99 +VAT. That's a saving of £49.00.</p>

                                <h4>This package is not suitable to form the following companies:</h4>
                                <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> A Charity company.</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> A company requiring exemption from using the word ‘limited’ in the company name.</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> A company using the words Association, Benevolent, Federation, Foundation, Society or Trust in the company name.</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> A Right to Manage company.</li>
                                </ul>
                                <p>To form these companies or use bespoke articles of association, please call our Customer Service Team at <a href="tel:+442038972233">020 3897 2233</a>, and we will be happy to assist you.</p>
                                <p><strong>Please note:</strong> Company documents are delivered free of charge within the UK. For overseas deliveries, Royal Mail postage rates + 15% will be charged.</p>
                            </div>
                            <div>
                                <h3>Package Features:</h3>
                                <div class="compare-packages-panel__included-items">
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Company Formation</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon ltd"></div>
                                        <h4>Private Company<br>Limited by Guarantee</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Private Company Limited by Guarantee</h3>
                                                        <p>Your new company will usually be formed within 24 hours; however, this timescale is subject to Companies House workload and it may take longer. If it is of great importance that your company is incorporated as soon as possible or on the same day, we always recommend you add the Guaranteed Same Day Service to your order.</p>
                                                        <p>Once your new company has been approved by Companies House, you can start trading immediately.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon gov"></div>
                                        <h4>Companies House<br>£50.00 Filing Fee Included</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Companies House £50.00 Filing Fee Included</h3>
                                                        <p>Companies House charge a £50.00 filing fee for company incorporation. This is included in the package price, so what you see is what you pay - there are no hidden costs.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon laptop"></div>
                                        <h4>Email Copy of <br>Certificate of Incorporation, <br>Guarantor Certificate(s), <br>Memorandum &amp; Articles</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Email Copy of your Company Documents</h3>
                                                        <p>As soon as your company is registered at Companies House we will deliver a full set of company documents to you by email, including:</p>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Certificate of Incorporation</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Memorandum &amp; Articles of Association</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Guarantor Certificate(s)</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> WebFiling Authentication Code (required to use Companies House WebFiling system)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon laptop"></div>
                                        <h4>Email Copy of Company <br>Register with First Entries</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Email Copy of Company <br>Register with First Entries</h3>
                                                        <p>A digital version of your company’s statutory registers, including completed initial entries from the date of your company registration. The documents included in the company register are:</p>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Members</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Mortgages and Charges</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Debentures</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Sealings or Executions</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Directors</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Director's Residential Address</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Secretaries</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of PSC's</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of PSC's Residential Address</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon printer"></div>
                                        <h4>Printed Certificate of <br>Incorporation &amp; Guarantor Certificate(s)</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Printed Copy of your Company Documents</h3>
                                                        <p>As soon as your company is registered at Companies House we will deliver a full set of company documents to you by Royal Mail post, including:</p>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Certificate of Incorporation</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Guarantor Certificate(s)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon book"></div>
                                        <h4>Printed &amp; Bound Memorandum <br>&amp; Articles of Association</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Printed &amp; Bound Memorandum &amp; Articles of Association</h3>
                                                        <p>As soon as your company is registered at Companies House we will deliver a printed and bound copy of your Memorandum and Articles of Association by Royal Mail post.</p>
                                                        <p>The Memorandum &amp; Articles of Association are essential company documents that outline the purpose of the business and contain a set of rules about the management and structure of the company. Given their importance, it is highly recommended you have a hard copy of these documents.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Business Essentials</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon filing"></div>
                                        <h4>Filing of the First <br> Confirmation Statement</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Filing of the First Confirmation Statement</h3>
                                                        <p>It is a legal requirement to submit a confirmation statement to Companies House at least once each year, keeping them informed and up-to-date with your latest company details.</p>
                                                        <p>The confirmation statement is a snapshot of your company details on the date of filing the statement. It includes details of the company’s principal business activity, directors (and company secretary if applicable), the registered office, share capital, shareholdings and people with significant control.</p>
                                                        <p>An experienced staff member will prepare and submit your confirmation statement to Companies House before the due date, ensuring this will be done on time and accurately.</p>
                                                        <p>Please note: This service does not include the Companies House filing fee of £34.00. At the time of filing your first confirmation statement, we will take payment of £34.00 using your payment card details securely stored in your account.</p>
                                                        <p>This service is renewable annually at the cost of £59.99 +VAT.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon domain"></div>
                                        <h4>Free .com or .co.uk Domain Name</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Free .com or .co.uk Domain Name</h3>
                                                        <p>We have partnered with one of the UK’s leading domain name providers to offer you a free .co.uk domain name for 1 year, and help establish the online presence of your new business.</p>
                                                        <p><strong>How it works:</strong> As soon as your company is approved by Companies House, we will send you an order fulfilled email, which will include your exclusive voucher and a link to the Names.co.uk website. You should proceed to order your .com or .co.uk domain name and apply the voucher code at checkout. This code will expire in 30 days so take advantage of the offer and get your .com or .co.uk domain name now.</p>
                                                        <p>Please note: The price of a co.uk domain will be £0.00 (Ex VAT) when registered with names.co.uk for 1 year using the voucher code supplied. Discounts apply for the first billing period only and do not apply to renewals. Offer must be redeemed within 30 days and cannot be used in conjunction with any other offer. This offer may be withdrawn at any time at the discretion of Namesco Limited. Standard terms &amp; conditions apply. Limited to 1 per customer.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon company-manager"></div>
                                        <h4>Free Online<br>Company Manager</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Online Company Manager</h3>
                                                        <p>Our Online Company Manager system allows you to take full control of your company details from one central login:</p>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Receive e-mail reminders of key filing dates to avoid missing deadlines and incurring penalties.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Make changes to company officer details, addresses, change accounting dates and file confirmation statements online.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Form new companies without having to re-enter all the same information each time.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Import existing companies, and control all of your business in one place.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> View and download your company documents easily.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> View and download your official government and business mail.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Purchase additional products and services from the Shop.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Manage your payment cards.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Renew your annual subscription services.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>