@page
@model Spendwise_WebApp.Pages.BuyPackage.IndexModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<style>
    li.nav-item {
        width: 20%;
    }

    a.active.nav-link.packageTab {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid #73B810;
        border-radius: 5px;
    }

    ul.nav.nav-tabs.justify-content-center {
        padding-top: 2%;
        padding-bottom: 0.5%;
    }

    .compare-packages-hero__left h1 {
        color: #3f3f3f !important;
        margin-top: 0 !important;
        margin-bottom: .5rem !important;
    }

    .compare-packages-hero__left p {
        font-size: 21px;
        font-size: 1.3125rem;
        font-family: "Myriad Semi Condensed", sans-serif;
        color: #676767;
    }

    a.PackTabProcessed.nav-link.packageTab {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid #73B810;
        border-radius: 5px;
    }
</style>
<div>
    <input type="hidden" id="hdnSelectedPackage" value="@Model.PackageName" />
    <input type="hidden" id="hdnSelectedCompany" />
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link packageTab active" data-toggle="tab" role="tab" aria-controls="CompanyName"
               href="#CompanyName" onclick="ShowSelectedTab('CompanyName')">1. Company Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link packageTab" data-toggle="tab" role="tab" aria-controls="SelectPackage"
               href="#SelectPackage" onclick="ShowSelectedTab('SelectPackage')">2. Select Package</a>
        </li>
        <li class="nav-item">
            <a class="nav-link packageTab" data-toggle="tab" role="tab" aria-controls="Checkout"
               href="#Checkout" onclick="ShowSelectedTab('Checkout')">3. Checkout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link packageTab" data-toggle="tab" role="tab" aria-controls="CompanyDetails"
               href="#CompanyDetails" onclick="ShowSelectedTab('CompanyDetails')">4. Company Details</a>
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="rf-home-bc pd-top-20 pd-bot-20  xs-hide">
        <div class="clearfix"></div>
        <div class="container-inner ncinner pos-relative padding-top-bot-tw pad-left-none pad-right-none" id="PackageTabContent">
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;">
    <div id="myToast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastMessage">
                Toast message goes here!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $("#hdnSelectedCompany").val(Cookies.get("companyName"));

            var searchParams = new URLSearchParams(window.location.search);
            var UrlPrams = searchParams.toString().split('=');
            if (UrlPrams.length > 1 && $("#hdnSelectedCompany").val() != "") {
                $.ajax({
                    url: "/BuyPackage/Checkout?packageName=" + $("#hdnSelectedPackage").val(),
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $('a[href="#Checkout"]').addClass("active");
                        $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                        $('a[href="#SelectPackage"]').addClass("PackTabProcessed");
                    }
                })
            }
            else if (UrlPrams.length > 1) {
                $.ajax({
                    url: "/BuyPackage/CompanyName",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $('a[href="#CompanyName"]').addClass("active");
                        $("#PackageNameSpan").html($("#hdnSelectedPackage").val().toUpperCase() + " PACKAGE");
                    }
                })
            }
            else {
                $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $('a[href="#SelectPackage"]').addClass("active");
                        $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                        $('a[href="#Checkout"]').removeClass("PackTabProcessed");
                        $('a[href="#CompanyDetails"]').removeClass("PackTabProcessed");
                        if ($("#hdnSelectedCompany").val() != "") {
                            $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                            $("#selectPackageCompnameDiv").css("display", "flex");
                            $("#selectPackageCompnameDiv").show();
                        }
                        $.ajax({
                            url: "/BuyPackage/limited-company",
                            type: "get",
                            success: function (result) {
                                $("#CompanyTypeBasedPackage").html(result);
                                // $('a[href="#SelectPackage"]').addClass("active");
                                $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                                $('a[href="#Checkout"]').removeClass("PackTabProcessed");
                                $('a[href="#CompanyDetails"]').removeClass("PackTabProcessed");
                            }
                        })

                    }
                })
            }
        })

        function ShowSelectedTab(TabName) {
            if (TabName == "CompanyName") {
                $.ajax({
                    url: "/BuyPackage/CompanyName",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $('a[href="#CompanyName"]').addClass("active");
                        $('a[href="#SelectPackage"]').removeClass("PackTabProcessed");
                        $('a[href="#Checkout"]').removeClass("PackTabProcessed");
                        $('a[href="#CompanyDetails"]').removeClass("PackTabProcessed");
                    }
                })
            }
            else if (TabName == "SelectPackage") {
                $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $('a[href="#SelectPackage"]').addClass("active");
                        $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                        $('a[href="#Checkout"]').removeClass("PackTabProcessed");
                        $('a[href="#CompanyDetails"]').removeClass("PackTabProcessed");
                        $.ajax({
                            url: "/BuyPackage/limited-company",
                            type: "get",
                            success: function (result) {
                                $("#CompanyTypeBasedPackage").html(result);
                                $('a[href="#SelectPackage"]').addClass("active");
                                $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                                $('a[href="#Checkout"]').removeClass("PackTabProcessed");
                                $('a[href="#CompanyDetails"]').removeClass("PackTabProcessed");
                            }
                        })
                    }
                })
            }
            else if (TabName == "Checkout") {
                if ($("#hdnSelectedPackage").val() != "") {
                    $.ajax({
                        url: "/BuyPackage/Checkout?packageName=" + $("#hdnSelectedPackage").val(),
                        type: "get",
                        success: function (result) {
                            $(".packageTab").removeClass("active");
                            $("#PackageTabContent").html(result);
                            $('a[href="#Checkout"]').addClass("active");
                            $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                            $('a[href="#SelectPackage"]').addClass("PackTabProcessed");
                            $('a[href="#CompanyDetails"]').removeClass("PackTabProcessed");
                        }
                    })
                }
                else {
                    alert("please select package");
                }
            }
            else if (TabName == "CompanyDetails") {
                $.ajax({
                    url: "/BuyPackage/CompanyDetails",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $('a[href="#CompanyDetails"]').addClass("active");
                        $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                        $('a[href="#SelectPackage"]').addClass("PackTabProcessed");
                        $('a[href="#Checkout"]').addClass("PackTabProcessed");
                        alert($("#hdnSelectedCompany").val());
                        $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                    }
                })
            }

        }

        function CheckCompanyName() {
            if ($("#company_name").val() == "") {
                $("#errorCompanyname").css("display", "block");
            }
            else {
                $("#errorCompanyname").css("display", "none");
                $("#divCopmanySearch").css("display", "none");
                $("#efNameCheckResult").css("display", "block");
                var searchedCompanyName = $("#company_name").val();
                $("#spnSearchedCompanyName").html(searchedCompanyName);
            }
        }

        function MoveToNextPackageStep() {
            var searchParams = new URLSearchParams(window.location.search);
            alert(searchParams);
            var UrlPrams = searchParams.toString().split('=');
            if (UrlPrams[1] != "") {
                $.ajax({
                    url: "/BuyPackage/Checkout?packageName=" + $("#hdnSelectedPackage").val(),
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $('a[href="#Checkout"]').addClass("active");
                        $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                        $('a[href="#SelectPackage"]').addClass("PackTabProcessed");
                    }
                })
            }
            else {
                $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $('a[href="#SelectPackage"]').addClass("active");
                        $('a[href="#CompanyName"]').addClass("PackTabProcessed");
                        $('a[href="#Checkout"]').removeClass("PackTabProcessed");
                        $('a[href="#CompanyDetails"]').removeClass("PackTabProcessed");
                    }
                })
            }
        }

        function ShowTypeBasedPackage(Type) {
            if (Type == "limited-company") {
                $.ajax({
                    url: "/BuyPackage/limited-company",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        // $('a[href="#SelectPackage"]').addClass("active");
                        $('a[href="#limited-company"]').parent().addClass("active");
                        $('a[href="#Non-residents"]').parent().removeClass("active");
                        $('a[href="#LLP"]').parent().removeClass("active");
                        $('a[href="#Guarantee"]').parent().removeClass("active");
                        $('a[href="#eSeller"]').parent().removeClass("active");
                    }
                })
            }
            else if (Type == "Non-residents") {
                $.ajax({
                    url: "/BuyPackage/Non-residents",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        $('a[href="#limited-company"]').parent().removeClass("active");
                        $('a[href="#Non-residents"]').parent().addClass("active");
                        $('a[href="#LLP"]').parent().removeClass("active");
                        $('a[href="#Guarantee"]').parent().removeClass("active");
                        $('a[href="#eSeller"]').parent().removeClass("active");
                    }
                })
            }
            else if (Type == "LLP") {
                $.ajax({
                    url: "/BuyPackage/LLP",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        $('a[href="#limited-company"]').parent().removeClass("active");
                        $('a[href="#Non-residents"]').parent().removeClass("active");
                        $('a[href="#LLP"]').parent().addClass("active");
                        $('a[href="#Guarantee"]').parent().removeClass("active");
                        $('a[href="#eSeller"]').parent().removeClass("active");

                    }
                })
            }
            else if (Type == "Guarantee") {
                $.ajax({
                    url: "/BuyPackage/Guarantee",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        $('a[href="#limited-company"]').parent().removeClass("active");
                        $('a[href="#Non-residents"]').parent().removeClass("active");
                        $('a[href="#LLP"]').parent().removeClass("active");
                        $('a[href="#Guarantee"]').parent().addClass("active");
                        $('a[href="#eSeller"]').parent().removeClass("active");
                    }
                })
            }
            else if (Type == "eSeller") {
                $.ajax({
                    url: "/BuyPackage/eSeller",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        $('a[href="#limited-company"]').parent().removeClass("active");
                        $('a[href="#Non-residents"]').parent().removeClass("active");
                        $('a[href="#LLP"]').parent().removeClass("active");
                        $('a[href="#Guarantee"]').parent().removeClass("active");
                        $('a[href="#eSeller"]').parent().addClass("active");
                    }
                })
            }

        }

        function showToast(message, type = 'success') {
            // Update message and color
            $('#toastMessage').text(message);
            $('#myToast').removeClass('bg-success bg-danger bg-warning').addClass(`bg-${type}`);

            // Show the toast
            var toast = new bootstrap.Toast(document.getElementById('myToast'));
            toast.show();
        }

    </script>
} 