@page
@model Spendwise_WebApp.Pages.BuyPackage.IndexModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<style>
    li.nav-item {
        width: 25%;
    }

    span.active.nav-link.packageTab {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid #73B810;
        border-radius: 5px;
        color: #73b810;
    }

    ul.nav.nav-tabs.justify-content-center {
        padding-top: 2%;
        padding-bottom: 0.5%;
    }

    .compare-packages-hero__left h1 {
        color: #3f3f3f !important;
        margin-top: 0 !important;
        margin-bottom: .5rem !important;
    }

    .compare-packages-hero__left p {
        font-size: 21px;
        font-size: 1.3125rem;
        font-family: "Myriad Semi Condensed", sans-serif;
        color: #676767;
    }

    span.PackTabProcessed.nav-link.packageTab {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid #73B810;
        border-radius: 5px;
        color: #73b810;
    }
</style>
<div class="container">
    <input type="hidden" id="hdnSelectedPackage" value="@Model.PackageName" />
    <input type="hidden" id="hdnSelectedCompany" />
    <ul class="nav nav-tabs nav-checkout justify-content-center">
        <li class="nav-item">
            <span class="nav-link packageTab active" id="spnCompanyName" data-toggle="tab" role="tab" aria-controls="CompanyName">1. Company Name</span>
            @*  href="#CompanyName" onclick="ShowSelectedTab('CompanyName')" *@
        </li>
        <li class="nav-item">
            <span class="nav-link packageTab" id="spnSelectPackage" data-toggle="tab" role="tab" aria-controls="SelectPackage">2. Select Package</span>
            @*   href="#SelectPackage" onclick="ShowSelectedTab('SelectPackage')" *@
        </li>
        <li class="nav-item">
            <span class="nav-link packageTab" id="spnCheckout" data-toggle="tab" role="tab" aria-controls="Checkout">3. Checkout</span>
            @*   href="#Checkout" onclick="ShowSelectedTab('Checkout')" *@
        </li>
        <li class="nav-item">
            <span class="nav-link packageTab" id="spnCompanyDetails" data-toggle="tab" role="tab" aria-controls="CompanyDetails">4. Company Details</span>
            @*href="#CompanyDetails" onclick="ShowSelectedTab('CompanyDetails')" *@
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="rf-home-bc pd-top-20 pd-bot-20">
        <div class="clearfix"></div>
        <div class="container-inner ncinner pos-relative padding-top-bot-tw pad-left-none pad-right-none" id="PackageTabContent">
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;right:20%;width:400px;">
    <div id="myToast" class="toast align-items-center text-white bg-success border-0 p-2" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastMessage">
                Toast message goes here!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $("#hdnSelectedCompany").val(Cookies.get("companyName"));
            var searchParams = new URLSearchParams(window.location.search);
            var UrlPrams = searchParams.toString().split('=');
            if (UrlPrams.length > 1 && UrlPrams[0] == "id" && UrlPrams[1].indexOf("token") !== -1) {
                var id = searchParams.get("id");
                var token = searchParams.get("token");
                $.ajax({
                    url: "/BuyPackage/CompanyDetails?id=" + id + "&token=" + token,
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnCompanyDetails").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnSelectPackage").addClass("PackTabProcessed");
                        $("#spnCheckout").addClass("PackTabProcessed");
                        $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                    }
                })
            }
            else if (UrlPrams.length > 1 && UrlPrams[0] == "id") {
                var id = searchParams.get("id");
                $.ajax({
                    url: "/BuyPackage/CompanyDetails?id=" + id,
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnCompanyDetails").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnSelectPackage").addClass("PackTabProcessed");
                        $("#spnCheckout").addClass("PackTabProcessed");
                        $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                    }
                })
            }
            else if (UrlPrams.length > 1 && $("#hdnSelectedCompany").val() != "") {
                console.log("hdnSelectedPackage", $("#hdnSelectedPackage").val());
                console.log("Cookies packageName", Cookies.get("SelectedPackage"));
                if ($("#hdnSelectedPackage").val() != Cookies.get("SelectedPackage")) {
                    Cookies.remove("NetAmount");
                    Cookies.remove("VatAmount");
                    Cookies.remove("TotalAmount");
                    Cookies.remove("selectedPackageItems");
                    Cookies.remove("selectedAdditionalPackageItems");
                    const expires = 7 ? { expires: 7, secure: true, sameSite: 'None' } : {};
                    Cookies.set("SelectedPackage", $("#hdnSelectedPackage").val(), expires);
                }

                $.ajax({
                    url: "/BuyPackage/Checkout?packageName=" + $("#hdnSelectedPackage").val(),
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnCheckout").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnSelectPackage").addClass("PackTabProcessed");
                    }
                })
            }
            else if (UrlPrams.length > 1) {
                $.ajax({
                    url: "/BuyPackage/CompanyName",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnCompanyName").addClass("active");
                        $("#PackageNameSpan").html($("#hdnSelectedPackage").val().toUpperCase() + " PACKAGE");
                    }
                })
            }
            else {
                $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnSelectPackage").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnCheckout").removeClass("PackTabProcessed");
                        $("#spnCompanyDetails").removeClass("PackTabProcessed");
                        if ($("#hdnSelectedCompany").val() != "") {
                            $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                            $("#selectPackageCompnameDiv").css("display", "flex");
                            $("#selectPackageCompnameDiv").show();
                        }
                        $.ajax({
                            url: "/BuyPackage/limited-company",
                            type: "get",
                            success: function (result) {
                                $("#CompanyTypeBasedPackage").html(result);
                                // $("#spnSelectPackage").addClass("active");
                                $("#spnCompanyName").addClass("PackTabProcessed");
                                $("#spnCheckout").removeClass("PackTabProcessed");
                                $("#spnCompanyDetails").removeClass("PackTabProcessed");
                            }
                        })

                    }
                })
            }
        })

        $(document).ready(function () {
            var path = window.location.pathname;
            var hash = window.location.hash;
            var url = path+hash;
            if(url == "/BuyPackage#Non-residents"){
               $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnSelectPackage").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnCheckout").removeClass("PackTabProcessed");
                        $("#spnCompanyDetails").removeClass("PackTabProcessed");
                        if ($("#hdnSelectedCompany").val() != "") {
                            $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                            $("#selectPackageCompnameDiv").css("display", "flex");
                            $("#selectPackageCompnameDiv").show();
                        }
                        $.ajax({
                            url: "/BuyPackage/Non-residents",
                            type: "get",
                            success: function (result) {
                                $("#CompanyTypeBasedPackage").html(result);
                                $("#spnCompanyName").addClass("PackTabProcessed");
                                $("#spnCheckout").removeClass("PackTabProcessed");
                                $("#spnCompanyDetails").removeClass("PackTabProcessed");
                                $('a[href="#limited-company"]').parent().removeClass("active");
                                $('a[href="#Non-residents"]').parent().addClass("active");
                                $('a[href="#LLP"]').parent().removeClass("active");
                                $('a[href="#Guarantee"]').parent().removeClass("active");
                                $('a[href="#eSeller"]').parent().removeClass("active");
                            }
                        });
                    }
                });
            }
            else if(url == "/BuyPackage#LLP"){
               $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnSelectPackage").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnCheckout").removeClass("PackTabProcessed");
                        $("#spnCompanyDetails").removeClass("PackTabProcessed");
                        if ($("#hdnSelectedCompany").val() != "") {
                            $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                            $("#selectPackageCompnameDiv").css("display", "flex");
                            $("#selectPackageCompnameDiv").show();
                        }
                        $.ajax({
                            url: "/BuyPackage/LLP",
                            type: "get",
                            success: function (result) {
                                $("#CompanyTypeBasedPackage").html(result);
                                $('a[href="#limited-company"]').parent().removeClass("active");
                                $('a[href="#Non-residents"]').parent().removeClass("active");
                                $('a[href="#LLP"]').parent().addClass("active");
                                $('a[href="#Guarantee"]').parent().removeClass("active");
                                $('a[href="#eSeller"]').parent().removeClass("active");

                            }
                        });
                    }
                });
            }
            else if(url == "/BuyPackage#Guarantee"){
               $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnSelectPackage").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnCheckout").removeClass("PackTabProcessed");
                        $("#spnCompanyDetails").removeClass("PackTabProcessed");
                        if ($("#hdnSelectedCompany").val() != "") {
                            $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                            $("#selectPackageCompnameDiv").css("display", "flex");
                            $("#selectPackageCompnameDiv").show();
                        }
                        $.ajax({
                            url: "/BuyPackage/Guarantee",
                            type: "get",
                            success: function (result) {
                                $("#CompanyTypeBasedPackage").html(result);
                                $('a[href="#limited-company"]').parent().removeClass("active");
                                $('a[href="#Non-residents"]').parent().removeClass("active");
                                $('a[href="#LLP"]').parent().removeClass("active");
                                $('a[href="#Guarantee"]').parent().addClass("active");
                                $('a[href="#eSeller"]').parent().removeClass("active");
                            }
                        });
                    }
                });
            }
        });

        function ShowSelectedTab(TabName) {
            if (TabName == "CompanyName") {
                $.ajax({
                    url: "/BuyPackage/CompanyName",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnCompanyName").addClass("active");
                        $("#spnSelectPackage").removeClass("PackTabProcessed");
                        $("#spnCheckout").removeClass("PackTabProcessed");
                        $("#spnCompanyDetails").removeClass("PackTabProcessed");
                    }
                })
            }
            else if (TabName == "SelectPackage") {
                $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnSelectPackage").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnCheckout").removeClass("PackTabProcessed");
                        $("#spnCompanyDetails").removeClass("PackTabProcessed");
                        $.ajax({
                            url: "/BuyPackage/limited-company",
                            type: "get",
                            success: function (result) {
                                $("#CompanyTypeBasedPackage").html(result);
                                $("#spnSelectPackage").addClass("active");
                                $("#spnCompanyName").addClass("PackTabProcessed");
                                $("#spnCheckout").removeClass("PackTabProcessed");
                                $("#spnCompanyDetails").removeClass("PackTabProcessed");
                            }
                        })
                    }
                })
            }
            else if (TabName == "Checkout") {
                if ($("#hdnSelectedPackage").val() != "") {
                    $.ajax({
                        url: "/BuyPackage/Checkout?packageName=" + $("#hdnSelectedPackage").val(),
                        type: "get",
                        success: function (result) {
                            $(".packageTab").removeClass("active");
                            $("#PackageTabContent").html(result);
                            $("#spnCheckout").addClass("active");
                            $("#spnCompanyName").addClass("PackTabProcessed");
                            $("#spnSelectPackage").addClass("PackTabProcessed");
                            $("#spnCompanyDetails").removeClass("PackTabProcessed");
                        }
                    })
                }
                else {
                    //alert("please select package");
                    showToast("please select package", 'warning');
                }
            }
            else if (TabName == "CompanyDetails") {
                $.ajax({
                    url: "/BuyPackage/CompanyDetails",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnCompanyDetails").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnSelectPackage").addClass("PackTabProcessed");
                        $("#spnCheckout").addClass("PackTabProcessed");
                        // alert($("#hdnSelectedCompany").val());
                        $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                    }
                })
            }

        }

        function CheckCompanyName() {
            if ($("#company_name").val() == "") {
                $("#errorCompanyname").css("display", "block");
            }
            else {
                var searchedCompanyName = $("#company_name").val();
                $.ajax({
                    type: "GET",
                    url: "/Index?handler=CheckCompanyAvailability&companyName=" + encodeURIComponent($("#company_name").val()),
                    success: function (isAvailable) {
                        // Check if the response is a string and convert it to a boolean if necessary
                        if (typeof isAvailable === 'string') {
                            isAvailable = (isAvailable.toLowerCase() === 'true');
                        }

                        if (isAvailable === true) {
                            const expires = 7 ? { expires: 7, secure: true, sameSite: 'None' } : {};
                            Cookies.set("companyName", searchedCompanyName, expires);

                            $("#errorCompanyname").css("display", "none");
                            $("#divCopmanySearch").css("display", "none");
                            $("#efNameCheckResult_GREEN").show();
                            $("#btnCompanySearch").css("display", "block");
                            $("#btnContinue").css("display", "block");
                            $("#spnSearchedCompanyName").html(searchedCompanyName);

                        } else {
                            $("#errorCompanyname").css("display", "none");
                            $("#divCopmanySearch").css("display", "none");
                            $("#btnContinue").css("display", "none");
                            $("#spnSearchedAMBERCompanyName").html(searchedCompanyName);
                            $("#efNameCheckResult_AMBER").show();
                            $("#btnCompanySearch").css("display", "block");
                        }
                    },
                    error: function () {
                        console.log("Error checking company name.");
                    }
                });
            }
        }

        function MoveToNextPackageStep() {
            var searchParams = new URLSearchParams(window.location.search);
            //alert(searchParams);
            var UrlPrams = searchParams.toString().split('=');
            if (UrlPrams[1] != "") {
                $.ajax({
                    url: "/BuyPackage/Checkout?packageName=" + $("#hdnSelectedPackage").val(),
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnCheckout").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnSelectPackage").addClass("PackTabProcessed");
                    }
                })
            }
            else {
                $.ajax({
                    url: "/BuyPackage/SelectPackage",
                    type: "get",
                    success: function (result) {
                        $(".packageTab").removeClass("active");
                        $("#PackageTabContent").html(result);
                        $("#spnSelectPackage").addClass("active");
                        $("#spnCompanyName").addClass("PackTabProcessed");
                        $("#spnCheckout").removeClass("PackTabProcessed");
                        $("#spnCompanyDetails").removeClass("PackTabProcessed");
                    }
                })
            }
        }

        function ShowTypeBasedPackage(Type) {
            if (Type == "limited-company") {
                $.ajax({
                    url: "/BuyPackage/limited-company",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        // $("#spnSelectPackage").addClass("active");
                        $('a[href="#limited-company"]').parent().addClass("active");
                        $('a[href="#Non-residents"]').parent().removeClass("active");
                        $('a[href="#LLP"]').parent().removeClass("active");
                        $('a[href="#Guarantee"]').parent().removeClass("active");
                        $('a[href="#eSeller"]').parent().removeClass("active");
                    }
                })
            }
            else if (Type == "Non-residents") {
                $.ajax({
                    url: "/BuyPackage/Non-residents",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        $('a[href="#limited-company"]').parent().removeClass("active");
                        $('a[href="#Non-residents"]').parent().addClass("active");
                        $('a[href="#LLP"]').parent().removeClass("active");
                        $('a[href="#Guarantee"]').parent().removeClass("active");
                        $('a[href="#eSeller"]').parent().removeClass("active");
                    }
                })
            }
            else if (Type == "LLP") {
                $.ajax({
                    url: "/BuyPackage/LLP",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        $('a[href="#limited-company"]').parent().removeClass("active");
                        $('a[href="#Non-residents"]').parent().removeClass("active");
                        $('a[href="#LLP"]').parent().addClass("active");
                        $('a[href="#Guarantee"]').parent().removeClass("active");
                        $('a[href="#eSeller"]').parent().removeClass("active");

                    }
                })
            }
            else if (Type == "Guarantee") {
                $.ajax({
                    url: "/BuyPackage/Guarantee",
                    type: "get",
                    success: function (result) {
                        $("#CompanyTypeBasedPackage").html(result);
                        $('a[href="#limited-company"]').parent().removeClass("active");
                        $('a[href="#Non-residents"]').parent().removeClass("active");
                        $('a[href="#LLP"]').parent().removeClass("active");
                        $('a[href="#Guarantee"]').parent().addClass("active");
                        $('a[href="#eSeller"]').parent().removeClass("active");
                    }
                })
            }
        }

        function showToast(message, type = 'success') {
            // Update message and color
            $('#toastMessage').text(message);
            $('#myToast').removeClass('bg-success bg-danger bg-warning').addClass(`bg-${type}`);

            // Show the toast
            var toast = new bootstrap.Toast(document.getElementById('myToast'));
            toast.show();
        }

        function onSearchAgain() {
            $("#efNameCheckResult_GREEN").hide();
            $("#efNameCheckResult_AMBER").hide();
            $("#btnContinue").css("display", "none");
            $("#btnCompanySearch").css("display", "none");
            $("#divCopmanySearch").show();
            Object.keys(Cookies.get()).forEach(cookie => Cookies.remove(cookie));
        }
    </script>
} 