@page
@model Spendwise_WebApp.Pages.BuyPackage.LLPModel
@{
    Layout = null;
}
<section id="llp-content" class="compare-packages-panel compare-packages-panel--desktop">
    <div>
        <div class="row">
            <div class="col">
                <div class="compare-packages-panel__panel">
                    <div class="compare-packages-panel__header">
                        <h3>Limited Liability Partnership Package</h3>
                        <div class="compare-packages-panel__actions">
                            <div class="compare-packages-panel__prices">
                                <span class="compare-packages-panel__price">£74.99</span>
                            </div>
                            <a href="/name-check-llp-package/" class="button8 js-routing button button--secondary">Buy Now</a>
                        </div>
                    </div>
                    <div class="compare-packages-panel__body">
                        <div class="compare-packages-panel__columns">
                            <div>
                                <p>Our limited liability partnership formation package, at a cost of £74.99 +VAT, is ideal for any type of profession that would normally operate as a traditional partnership, but whose members require limited liability.</p>
                                <p>Our LLP Package provides:</p>
                                <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> online Companies House registration</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> digital and printed LLP company documents</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> a draft LLP Agreement</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> filing of the first confirmation statement</li>
                                    <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> a free.com or .co.uk domain name</li>
                                </ul>

                                <p>As soon as Companies House approves your new LLP registration, we will send your Certificate of Incorporation, LLP documents, and a draft LLP Agreement to your email address.</p>
                                <p>If you require a formal LLP Agreement, simply email your completed draft to Spendwise and we will prepare and deliver two printed copies of the document by 1st class post.</p>

                                <h4>How much will I save by choosing this package?</h4>
                                <p>If you were to buy the items included in this package individually, it would cost a total of £138.99. Therefore, at a package price of £74.99, you will enjoy a saving of £64.00 +VAT.</p>

                                <p><strong>Please note:</strong></p>
                                <ol>
                                    <li>A formal LLP Agreement is not a legal requirement; however, it is essential if the LLP members want to contribute capital and/or share business profits in any way other than equally.</li>
                                    <li>Company documents are delivered free of charge within the UK. For overseas deliveries, Royal Mail postage rates + 15% will be charged.</li>
                                    <li>The business bank account referral offers are only available to companies with UK resident directors and shareholders. Companies with overseas directors and shareholders are not eligible for this offer. We have partnered with WorldFirst to provide a business banking referral for non-UK residents. You will get the option to add a WorldFirst bank account during the order process. Account openings are subject to approval.</li>
                                </ol>
                            </div>
                            <div>
                                <h3>Package Features:</h3>
                                <div class="compare-packages-panel__included-items">
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Company Formation</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon llp"></div>
                                        <h4>Ready to Trade <br>Limited Liability Partnership</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Ready to Trade Limited Liability Partnership</h3>
                                                        <p>Your new LLP will usually be formed within 24 hours; however, this timescale is subject to Companies House workload and it may take longer. If it is of great importance that your LLP is incorporated as soon as possible or on the same day, we always recommend you add the Guaranteed Same Day Service to your order.</p>
                                                        <p>Once your new LLP has been approved by Companies House, you can start trading immediately.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon gov"></div>
                                        <h4>Companies House<br>£50.00 Filing Fee Included</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Companies House £50.00 Filing Fee Included</h3>
                                                        <p>Companies House charge a £50.00 filing fee for company incorporation. This is included in the package price, so what you see is what you pay - there are no hidden costs.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon laptop"></div>
                                        <h4>Email Copy of Certificate of Incorporation</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Email Copy of Certificate of Incorporation</h3>
                                                        <p>An email copy of the Certificate of Incorporation will be delivered to you as soon as Companies House registers your new LLP.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon laptop"></div>
                                        <h4>Email Copy of Draft LLP Agreement</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Email Copy of Draft LLP Agreement</h3>
                                                        <p>We will send you an email copy of your draft LLP Agreement, as soon as Companies House registers your new LLP.</p>
                                                        <p>If you would like a formal Agreement for your LLP, return your completed draft to us by email.</p>
                                                        <p>Please note, that it is not a legal requirement to have a formal LLP Agreement.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon laptop"></div>
                                        <h4>Email Copy of Company <br>Registers with First Entries</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Email Copy of Company Registers with First Entries</h3>
                                                        <p>A digital version of your LLP's statutory registers, including completed initial entries from the date of your LLP's registration. The documents included in the company register are:</p>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Mortgages and Charges</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Debentures</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Sealings or Executions</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Members</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of Member's Residential Address</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of PSCs</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Register of PSCs Residential Address</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon printer"></div>
                                        <h4>Printed Certificate of Incorporation</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Printed Certificate of Incorporation</h3>
                                                        <p>As soon as your LLP is registered at Companies House, we will deliver a printed copy of the Certificate of Incorporation by Royal Mail post.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon printer"></div>
                                        <h4>2 x Printed Copies of the LLP Agreement (if required)</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>2 x Printed Copies of the LLP Agreement (if required)</h3>
                                                        <p>If you would like your LLP to have a formal Agreement, return your completed draft to us by email. We will then prepare two printed copies of your LLP Agreement and send them to you by Royal Mail post.</p>
                                                        <p>It is not a legal requirement to have a formal LLP Agreement; however, it is required if you need to divide the share of profits and capital other than equally.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Banking</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon bank"></div>
                                        <h4>Free Business Bank <br>Account (optional)</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Free Business Bank Account</h3>
                                                        <p><strong>UK customers</strong></p>
                                                        <p>We have partnered with six of the top banks to provide our UK customers with a free business bank account. This offer is only available to companies with UK resident directors and shareholders.</p>
                                                        <p>Complete a simple online application for your chosen bank and we’ll send it directly to them as part of your order. Our current banking partners include Barclays, NatWest, Tide, Monzo and HSBC.</p>

                                                        <p><strong>International customers</strong></p>
                                                        <p>Customers based outside of the UK are recommended to purchase the Non-Residents or eSeller Packages, which include a free business bank account referral to WorldFirst.</p>
                                                        <p>WorldFirst provides a UK bank sort code and account number, as well as the ability to open 10+ local currency accounts for free and spend in over 40+ currencies.</p>
                                                        <p><strong>Please note:</strong> Account openings for all banking referral partners are subject to approval.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-category">
                                        <h3>Business Essentials</h3>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon filing"></div>
                                        <h4>Filing of the First <br> Confirmation Statement</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Filing of the First Confirmation Statement</h3>
                                                        <p>It is a legal requirement to submit a confirmation statement to Companies House at least once each year, keeping them informed and up-to-date with your latest company details.</p>
                                                        <p>The confirmation statement is a snapshot of your LLP on the made up to date of the filing. It confirms that your LLP is still required, that its future activities are lawful and that all other details registered at Companies House about the LLP are correct.</p>
                                                        <p>An experienced staff member will prepare and submit your confirmation statement to Companies House before the due date, ensuring this will be done on time and accurately.</p>
                                                        <p>Please note: This service is renewable every 12 months and does not include the Companies House filing fee of £34.00. At the time of filing your first confirmation statement, we will take payment of £34.00 using your payment card details securely stored in your account.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon domain"></div>
                                        <h4>Free .com or .co.uk Domain Name</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Free .com or .co.uk Domain Name</h3>
                                                        <p>We have partnered with one of the UK’s leading domain name providers to offer you a free .co.uk domain name for 1 year, and help establish the online presence of your new business.</p>
                                                        <p><strong>How it works:</strong> As soon as your company is approved by Companies House, we will send you an order fulfilled email, which will include your exclusive voucher and a link to the Names.co.uk website. You should proceed to order your .com or .co.uk domain name and apply the voucher code at checkout. This code will expire in 30 days so take advantage of the offer and get your .com or .co.uk domain name now.</p>
                                                        <p>Please note: The price of a co.uk domain will be £0.00 (Ex VAT) when registered with names.co.uk for 1 year using the voucher code supplied. Discounts apply for the first billing period only and do not apply to renewals. Offer must be redeemed within 30 days and cannot be used in conjunction with any other offer. This offer may be withdrawn at any time at the discretion of Namesco Limited. Standard terms &amp; conditions apply. Limited to 1 per customer.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="compare-packages-panel__included-item">
                                        <div class="compare-packages-panel__icon company-manager"></div>
                                        <h4>Free Online<br>Company Manager</h4>
                                        <div class="compare-packages-panel__tooltip">
                                            <span class="infobox-btn">
                                                <i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i>
                                            </span>
                                            <div class="infobox">
                                                <div class="infobox__wrapper">
                                                    <a class="infobox__close">×</a>
                                                    <div class="infobox__content">
                                                        <h3>Online Company Manager</h3>
                                                        <p>Our Online Company Manager system allows you to take full control of your company details from one central login:</p>
                                                        <ul class="fa-ul">
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Receive e-mail reminders of key filing dates to avoid missing deadlines and incurring penalties.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Make changes to company officer details, addresses, change accounting dates and file confirmation statements online.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Form new companies without having to re-enter all the same information each time.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Import existing companies, and control all of your business in one place.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> View and download your company documents easily.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> View and download your official government and business mail.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Purchase additional products and services from the Shop.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Manage your payment cards.</li>
                                                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i> Renew your annual subscription services.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>