@page
@model Spendwise_WebApp.Pages.BuyPackage.SelectPackageModel
@{
    Layout = null;
}
<link href="/css/compare-packages-min.css" rel="stylesheet" />

<section class="compare-packages-hero ltd">
    <div class="">
        <div class="row">
            <div class="col col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="compare-packages-hero__left">
                    <h1>Compare our company registration packages</h1>
                    <p> Need help choosing a package? Call our friendly team of experts <br> who will be happy to assist. </p>
                    <div class="compare-packages-hero__actions">
                        <span class="compare-packages-hero__tel">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                            <a href="tel:+442038972233">020 3897 2233</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col col-lg-5 col-md-12 col-sm-12 col-xs-12 compare-packages-hero__right">
                <div class="compare-packages-hero__company-name" style="display: none;">
                    <i class="fa fa-check" aria-hidden="true"></i> <p> Your new company name:<br> <span>CODEPLUS</span> </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="compare-packages-tabs">
    <div class="">
        <div class="row">
            <div class="col">
                <div class="compare-packages-tabs__tabs">
                    <ul>
                        <li data-tab="limited-company" class="compare-packages-tabs__tab active">
                            <a href="#limited-company" onclick="ShowTypeBasedPackage('limited-company')">Limited Company</a>
                        </li>
                        <li data-tab="non-residents" class="compare-packages-tabs__tab">
                            <a href="#Non-residents" onclick="ShowTypeBasedPackage('Non-residents')">Non-Residents</a>
                        </li>
                        <li data-tab="llp" class="compare-packages-tabs__tab">
                            <a href="#LLP" onclick="ShowTypeBasedPackage('LLP')">LLP</a>
                        </li>
                        <li data-tab="guarantee" class="compare-packages-tabs__tab">
                            <a href="#Guarantee" onclick="ShowTypeBasedPackage('Guarantee')">Guarantee</a>
                        </li>
                        <li data-tab="eseller" class="compare-packages-tabs__tab">
                            <a href="#eSeller" onclick="ShowTypeBasedPackage('eSeller')">eSeller</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@* non-residents-content start *@
<div id="CompanyTypeBasedPackage">
</div>
