@page
@model Spendwise_WebApp.Pages.Admin.LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Admin Login";
}
<link href="~/css/adminlogin.css" rel="stylesheet" />
<div class="login-container">
    <div class="login-box">
        <h2><img alt="SpendWise" src="/images/Logo-for-website-SpendWise-Logo-New.png" style="height:10%;"></h2>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="text-danger">
                <p><b>@Model.ErrorMessage</b></p>
            </div>
        }
        <form method="post">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" autocomplete="off" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</div>

