@page
@model Spendwise_WebApp.Pages.FormationPage.AppointmentsModel
@{
    Layout = null;
}

<link href="/css/company-formation.css" rel="stylesheet" />

<div class="w-container ef-content-wrapper" id="ef-content-wrapper">
    <div class="ef-panel-wrapper">
        <div class="head-04" id="ef-panel-title">
            <h1>Appointments</h1>
        </div>
        <div id="appoinmentPage">
            <div class="" id="ef-panel-content">
                <div class="" id="ef-panel-inner-content">
                    <div id="ef-psc-warning" class="ef-primary-warning-msg ef-alert-box warning" style="display:none;">
                        <h2 class="">Warning</h2>
                        <div class="ef-alert-box-main-text" id="">
                            <div class="ef-alert-box-main-text">
                                <p class="fc-red">It is now a legal requirement to identify the Persons with Significant Control (PSCs) of a company.</p>
                                <p class="fc-red">Any person who ultimately controls more than 25% of the company is a PSC. If you are a shareholder with more than 25% of the company's shares - you are a PSC.</p>
                                <p class="fc-red"><strong class="fc-red">There are currently no PSCs appointed.</strong></p>
                                <br>
                                <p><strong>Please choose one of the following options to proceed:</strong></p>
                                <div class="col nine">
                                    <p class="lh-31"><strong>1.</strong> I want to go to Current Appointments below, and click 'Select' to add a PSC(s).</p>
                                </div>
                                <div class="col three mr-bot-10"><a class="scroll ef-btn ef-primary-btn" href="#ef-current-appointment-wrapper" style="padding:5px 15px!important">Select</a></div>
                                <div class="col nine">
                                    <p class="lh-31"><strong>2.</strong> I want 1st Formations to add a PSC(s) for me, free of charge.</p>
                                </div>
                                <div class="col three mr-bot-10"><a class="ef-btn ef-primary-btn" href="#" onclick="addPSC();" style="padding:5px 15px!important">Select</a></div>
                                <div class="col nine">
                                    <p class="lh-31"><strong>3.</strong> I want to continue forming my company regardless of the warning - <strong>not recommended.</strong></p>
                                </div>
                                <div class="col three mr-bot-10">
                                    <a class="scroll ef-btn ef-primary-btn" style="padding:5px 15px!important" href="#" onclick="FormBuilder.LoadNextStep();">Select</a>
                                    <p></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div id="ef-registered-addres-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                        <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                    </div>
                    <div>
                        <div id="current-appointments-wrapper">
                            <div class="ef-information-box">
                                <h2 class="ef-information-box-title">LLP Members</h2>
                                <p>A Limited Liability Partnership must have at least two Designated Members to form the Partnership. They will be responsible for the day-to-day running of the LLP.</p>
                                <p>Please complete the details of this company's members on this page.</p>
                            </div>
                            <div class="ef-add-officer-wrapper">
                                <h2>Add An Officer</h2>
                                <p>Click on one of the buttons below to add an officer to your company.</p>
                                <div class="">
                                    <div class="ef-add-officer-buttons">
                                        <button type="button" class="ef-btn ef-add-officer person" onclick="handleOfficerbtn('person')">Person</button>
                                        <button type="button" class="ef-btn ef-add-officer corporate" onclick="FormBuilder.EditOfficer('0', 'corporate')">Corporate</button>
                                        <button type="button" class="ef-btn ef-add-officer corporate nominee" onclick="FormBuilder.EditOfficer('0', 'corporate', false, true)">Other Legal Entity</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="personPage">
        </div>
    </div>

    <div class="w-row ef-next-prev-btn" id="ef-next-prev-btn">
        <div class="w-col w-col-6" style="padding-left: 0px;">
            <button type="button" id="prevstep" class="ef-btn prevstep" onclick="FormBuilder.LoadPrevStep();">Previous: Business <span class="m-hide t-hide">Address</span></button>
        </div>
        <div class="w-col w-col-6" style="padding-right: 0px; margin-top: -63px;">
            <button type="button" id="nextstep" class="ef-btn nextstep" onclick="FormBuilder.LoadNextStep('/formation-page/?o=5104501&amp;section=CompanyFormation&amp;step=documents');">Save &amp; continue</button>
        </div>
    </div>
</div>


<script>
    function handleOfficerbtn(type) {
        if(type == "person")
        {
            $.ajax({
                url: "/FormationPage/AppointmentTab/PersonTabs",
                type: "get",
                success: function (result) {
                    $('#appoinmentPage').css('display', 'none');
                    $('#ef-next-prev-btn').css('display', 'none');;
                    $("#personPage").html(result);
                    $.ajax({
                        url: '/FormationPage/AppointmentTab/PersonPosition',
                        type: "get",
                        success: function (result) {
                            $("#personTab").html(result);
                            $('#tab-link-position').addClass("w--current");
                            $('#"tab-link-pick-officer').removeClass("w--current");
                            $('#tab-link-details').removeClass("w--current");
                            $('#tab-link-addressing').removeClass("w--current");
                        }
                    });
                }
            });
        }
    }

    function showPersonBaseTab(type) {
        if(type == "position"){
            $.ajax({
                url: '/FormationPage/AppointmentTab/PersonPosition',
                type: "get",
                success: function (result) {
                    $("#personTab").html(result);
                    $('#tab-link-position').addClass("w--current");
                    $('#tab-link-pick-officer').removeClass("w--current");
                    $('#tab-link-details').removeClass("w--current");
                    $('#tab-link-addressing').removeClass("w--current");
                }
            });
        }
        else if(type == "pick-officer"){
            $.ajax({
                url: '/FormationPage/AppointmentTab/PersonOfficer',
                type: "get",
                success: function (result) {
                    $("#personTab").html(result);
                    $('#tab-link-position').removeClass("w--current");
                    $('#tab-link-pick-officer').addClass("w--current");
                    $('#tab-link-details').removeClass("w--current");
                    $('#tab-link-addressing').removeClass("w--current");
                    $('#efOfficerInProgressWarningContainer').css('display', 'none');
                }
            });
        }
        else if(type == "details"){
            $.ajax({
                url: '/FormationPage/AppointmentTab/PersonDetails',
                type: "get",
                success: function (result) {
                    $("#personTab").html(result);
                    $('#tab-link-position').removeClass("w--current");
                    $('#tab-link-pick-officer').removeClass("w--current");
                    $('#tab-link-details').addClass("w--current");
                    $('#tab-link-addressing').removeClass("w--current");
                }
            });
        }
        else if(type == "addressing"){
            $.ajax({
                url: '/FormationPage/AppointmentTab/PersonPosition',
                type: "get",
                success: function (result) {
                    $("#personTab").html(result);
                    $('#tab-link-position').removeClass("w--current");
                    $('#tab-link-pick-officer').removeClass("w--current");
                    $('#tab-link-details').removeClass("w--current");
                    $('#tab-link-addressing').addClass("w--current");
                }
            });
        }
    }
</script>