@page
@model Spendwise_WebApp.Pages.FormationPage.Business_AddressModel
@{
    Layout = null;
}

<style>
    .ef-item-box{
        border-width: 1px !important;
        position: relative;
        margin-bottom: 20px;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        border: 2px solid #ccc;
        background-color: #fff;
    }

    .ef-item-content {
        padding: 18px 0px !important;
        position: relative;
    }

    .ef-item-bottom-border {
        border-bottom: 1px solid #ccc !important;
        margin: 30px 15px;
        padding-bottom: 1px;
    }

    .ef-panel-row {
        display: block;
    }

    .w-col-9 {
        width: 75%;
    }

    .w-col-9 h3 {
        margin: 10px 0 10px 0;
    }

    h3 {
        font-size: 20px !important;
        line-height: 18px !important;
        font-family: 'MyriadW08-BoldSemiConde' !important;
        color: #2a3135 !important;
    }

    .w-col-3 {
        width: 25%;
    }

    .item-box-price {
        float: right;
        text-align: right;
        width: 100%;
        font-size: 18px;
        margin-top: 10px;
    }

    .price {
        font-size: 18px !important;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 0;
        padding-top: 0;
        float: right;
        color: #333;
        font-weight: 700;
    }

    .renewal {
        /* color: #d90000 !important; */
        color: #333;
        font-size: 12px !important;
        margin-bottom: 10px;
        float: right;
        clear: right;
    }

    .ef-panel-row {
        display: block;
    }

    .ef-panel-icon {
        margin-top: 0 !important;
        margin-bottom: 30px;
        padding-top: 0;
        text-align: center;
    }

    .w-col-4 {
        width: 33.33333333%;
    }

    .ef-product-icon.ef-product-10698 {
        background-image: url(https://cdn-brand.s3.eu-west-1.amazonaws.com/assets/images/71-75SheltonStreetXL.jpg) !important;
        height: 230px !important;
        background-size: cover;
        width: 100%;
    }

    .ef-product-icon {
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .w-col-8 {
        width: 66.66666667%;
    }

    .w-col-8 h3 {
        margin: 10px 0 10px 0;
    }

    .savings-amount-row {
        margin-bottom: 20px;
    }

    .add-col {
        padding-right: 10px;
        text-align: right;
    }

    .ef-choose-btn {
        background-color: #5ea72d !important;
        border: 1px solid #5ea72d !important;
        color: #FFFFFF !important;
    }

    .ef-btn {
        padding: 10px 15px !important;
        width: auto !important;
        font-size: 14px !important;
        outline: none;
    }

    .ef-next-prev-btn {
        border-top: 3px solid #ccc;
        padding-top: 20px;
    }

    .w-col-6 {
        width: 50%;
    }

    .ef-btn.prevstep {
        background-color: #babdc0 !important;
        border: 1px solid #babdc0 !important;
        color: #FFFFFF !important;
        background-image: none !important;
        font-family: 'MyriadW08-SemiCondensed';
        font-size: 18px !important;
        background-position: 3% 50%;
        background-size: 22px;
        background-repeat: no-repeat;
        box-shadow: none;
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        float: left;
    }

</style>

<div class="w-container ef-content-wrapper ef-trading-address-step" id="ef-content-wrapper">
    <div class="ef-panel-wrapper">
        <div class="head-03" id="ef-panel-title">
            <h1>Business <span class="m-hide t-hide">Address</span></h1>
        </div>
        <div class="" id="ef-panel-content">
            <div id="ef-panel-inner-content">
                <div id="ef-registered-addres-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                    <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                </div>
                <div>
                    <h2 class="ef-hide">Trading Address</h2>
                    <!--  educational text -->
                    <div class="ef-information-box">
                        <h2 class="ef-information-box-title">Business Address Service (optional)</h2>
                        <ul>
                            <li>A business address service provides a general business correspondence address for your company, and this is the address which is displayed at the top of your letterheads and stationery as your business location.</li>
                            <li>If you choose to purchase this service, we will forward all business correspondence (non-government mail) to you by scan and email on the same day we receive it.</li>
                            <li>Any items of value, such as bank cards, will be forwarded on by Royal Mail.</li>
                            <li>This service does not include a registered office service, which should be purchased separately.</li>
                            <li><b>You are not required to provide a business address to form a company, however, you may wish to use our Covent Garden, WC2 address to enhance your corporate image and provide privacy for your home address.</b></li>
                        </ul>
                    </div>
                    <div class="">
                        <!-- no thanks
                           <div id="ef-use-own-trading-address"class="ef-item-box ef-selected">
                               <div class="ef-item-content">

                                   <div class="w-row ef-panel-row">
                                       <div class="w-col w-col-8">
                                           <h3>No Thanks</h3>
                                       </div>
                                       <div class="w-col w-col-4 w-clearfix add-col">
                                           <a class="ef-btn ef-primary-btn ef-no-thanks-btn"
                                              onclick="FormBuilder.UseOwnTradingAddress();">Selected</a>

                                       </div>
                                   </div>
                               </div>
                           </div>
                           -->
                        <div class="ef-item-box ef-item-box-10698 ">
                            <div class="ef-item-content">
                                <div class="w-row ef-panel-row ef-item-bottom-border">
                                    <div class="w-col w-col-9">
                                        <h3>Business Address</h3>
                                    </div>
                                    <div class="w-col w-col-3 w-clearfix">
                                        <div class="w-clearfix item-box-price">
                                            <div class="price">£96.00</div>
                                            <div class="renewal">Renewed annually at £96.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-row ef-panel-row">
                                    <div class="w-col w-col-4 ef-panel-icon">
                                        <div class="ef-product-icon ef-trading-address-icon ef-product-10698">
                                        </div>
                                    </div>
                                    <div class="w-col w-col-8">
                                        <p></p>
                                        <h3>Improve your corporate image</h3>
                                        <p>Improve your corporate image by using our Covent Garden,<br class="m-hide"> London, WC2 address as your business address.</p>
                                        <p><strong>London:</strong> 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ</p>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="w-row ef-panel-row">
                                    <div class="w-col w-col-4 savings-amount-row">
                                    </div>
                                    <!--  buy buttons -->
                                    <div class="w-col w-col-8 w-clearfix add-col">
                                        <button type="button" class="ef-btn ef-primary-btn ef-choose-btn ef-buy-btn ef-assign-10698" onclick="FormBuilder.AddToBasket('10698', 'TradingAddress')">Buy Now</button>
                                    </div>
                                </div>
                                <!--  item details -->
                                <div class="ef-item-details" style="display: none;">
                                </div>
                                <!-- end item details -->
                            </div>
                        </div>
                        <!-- forwarding address -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-row ef-next-prev-btn" id="ef-next-prev-btn">
        <div class="w-col w-col-6" style="padding-left: 0px;">
            <button type="button" id="prevstep" class="ef-btn prevstep" onclick="FormBuilder.LoadPrevStep();">Previous: Addresses</button>
        </div>
        <div class="w-col w-col-6" style="padding-right: 0px;">
            <button type="button" id="nextstep" class="ef-btn nextstep" onclick="FormBuilder.LoadNextStep('/formation-page/?o=5100219&amp;section=CompanyFormation&amp;step=appointments');">Save &amp; continue</button>
        </div>
    </div>
</div>
