@page
@model Spendwise_WebApp.Pages.FormationPage.CompanyFormationSubTabModel
@{
    Layout = null;
}

<div id="parentTabs">
    <div class="ef-order-form-nav-step-wrapper">
        <div class="w-container ef-order-form-nav-step-content">
            <a class="nav-link ef-companyformation-steps" aria-current="page" href="#particular" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-1-active"></div>
                    Particular
                </div>
            </a>
            <a class="nav-link ef-companyformation-steps" href="#address" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-2-todo"></div>
                    Addresses
                </div>
            </a>
            <a class="nav-link ef-companyformation-steps" href="#business-address" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-3-todo"></div>
                    Business Address
                </div>
            </a>
            <a class="nav-link ef-companyformation-steps" href="#appointment" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-4-todo"></div>
                    Appointments
                </div>
            </a>
            <a class="nav-link ef-companyformation-steps" href="#document" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-5-todo"></div>
                    Documents
                </div>
            </a>
        </div>
    </div>

    <div class="tab-pane current" id="Formation">
        <div class="w-container ef-content-wrapper ef-particulars-step">
            <div id="particular" class="section">
                <div class="ef-panel-wrapper">
                    <div class="head-01">
                        <h1>Particular</h1>
                    </div>
                    <div class="ef-information-box mr-top-20">
                        <h2 class="ef-information-box-title">Company Name</h2>
                        <p>This is the name that will appear on your certificate of incorporation and will also appear on the public record at Companies House.</p>
                        <p>Remember to add <strong id="LLP-extention">LLP</strong> to the end of your company name<span id="limited-liability-partnership-ex-text"></span>. </p>
                    </div>
                    <div id="ef-panel-inner-content-particular">
                        <div class="success name-check-result show-namecheck particular-company" id="companyAvailable" style="display:none">
                            <div class="ef-alert-box-main-text"><span class="ef-namecheck-choosen-name" id="availableCompanyName"> </span> Congratulations! This company name is available.</div>
                        </div>

                        <div class="success name-check-result show-namecheck particular-company" id="companyNotAvailable" style="display:none">
                            <div class="ef-alert-box-main-text"><span class="ef-namecheck-choosen-name" id="notAvailablecompanyName"> </span> Sorry, this company name is unavailable.</div>
                        </div>
                        <form>
                            <div>
                                <div class="ef-namecheck-wrapper w-row ef-form-wrap">
                                    <div class="ef-namecheck-label-row w-col w-col-9"></div>
                                    <div class="w-row">
                                        <div class="w-col w-col-6">
                                        <label for="ef-company-name">
                                            Company Name
                                            <span class="ef-modal-help-icon" data-ref="HELP|COMPANY_NAME"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                        </label>
                                        <input type="text" class="w-input ef-company-name-field" asp-for="Particular.CompanyName" />
                                    </div>
                                        <div class="w-col w-col-6" style="margin-top: 1px;">
                                        <label for="ef-namecheck-button">&nbsp;</label>
                                        <button type="button" id="ef-namecheck-button" class="ef-btn ef-primary-btn" name="ef-name-check-btn" onclick="CheckCompanyName()">Check another name</button>
                                    </div>
                                    </div>
                                </div>
                                <div class="ef-form-wrap last-margin">
                                    <div class="w-row">
                                        <div class="w-col w-col-6">
                                            <label for="company-type">
                                                Type of Company
                                                <span class="ef-modal-help-icon" data-ref="HELP|COMPANY_TYPE"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                            </label>
                                            <select class="w-select" asp-for="Particular.CompanyType">
                                                <option value="4" selected="selected">
                                                    Limited Liability Partnership
                                                </option>
                                            </select>
                                        </div>
                                        <div class="w-col w-col-6">
                                            <label for="company-jur">
                                                Jurisdiction
                                                <span class="ef-modal-help-icon" data-ref="HELP|JURISDICTION"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                            </label>
                                            <select class="w-select" asp-for="Particular.Jurisdiction">
                                                <option> --Select Jurisdiction-- </option>
                                                <option value="EWs">
                                                    England &amp; Wales
                                                </option>
                                                <option value="WA">
                                                    Wales
                                                </option>
                                                <option value="SC">
                                                    Scotland
                                                </option>
                                                <option value="NI">
                                                    Northern Ireland
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--  there can be multiple -->
                                    <div class="w-row">
                                        <div class="w-col w-col-6">
                                            <!-- sic codes -->
                                            <label>
                                                What are your business activities
                                                <span class="ef-modal-help-icon" data-ref="HELP|SIC_CODES"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                            </label>
                                            <div class="" id="ef-js-sic-codes">
                                                <div class="" id="ef-js-sic-codes__categories">
                                                    <select class="w-select" asp-for="Particular.Activities">
                                                        <option>Select a category:</option>
                                                        <option value="all-categories">All</option>
                                                        <option value="A">A: Agriculture, Forestry and Fishing</option>
                                                        <option value="B">B: Mining and Quarrying</option>
                                                        <option value="C">C: Manufacturing</option>
                                                        <option value="D">D: Electricity, gas, steam and air conditioning supply</option>
                                                        <option value="E">E: Water supply, sewerage, waste management and remediation activities</option>
                                                        <option value="F">F: Construction</option>
                                                        <option value="G">G: Wholesale and retail trade; repair of motor vehicles and motorcycles</option>
                                                        <option value="H">H: Transportation and storage</option>
                                                        <option value="I">I: Accommodation and food service activities</option>
                                                        <option value="J">J: Information and communication</option>
                                                        <option value="K">K: Financial and insurance activities</option>
                                                        <option value="L">L: Real estate activities</option>
                                                        <option value="M">M: Professional, scientific and technical activities</option>
                                                        <option value="N">N: Administrative and support service activities</option>
                                                        <option value="O">O: Public administration and defence; compulsory social security</option>
                                                        <option value="P">P: Education</option>
                                                        <option value="Q">Q: Human health and social work activities</option>
                                                        <option value="R">R: Arts, entertainment and recreation</option>
                                                        <option value="S">S: Other service activities</option>
                                                        <option value="T">T: Activities of households as employers; undifferentiated goods and services producing activities of households for own use</option>
                                                        <option value="U">U: Activities of extraterritorial organisations and bodies</option>
                                                    </select>
                                                </div>
                                                <div class="ef-js-sic-codes__loader ef-sic-codes__loader">
                                                    <span class="ef-sic-codes__loader__img">
                                                        <!-- loader -->
                                                    </span>
                                                </div>
                                                <div class="w-input ef-sic-code-filter" id="ef-js-sic-codes__filter" style="display:none;">
                                                    <div class="ef-js-sic-codes__filter__label">
                                                        Filter: <input type="text" class="ef-js-sic-codes__filter__input" asp-for="Particular.SIC_Code" autocomplete="off">
                                                    </div>
                                                    <div class="" id="ef-js-sic-codes__filter__found"></div>
                                                    <div class="ef-js-sic-code-error" style=""></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-col w-col-6">
                                            <div id="ef-js-sic-codes__selected" class="ef-sic-codes-selected">
                                                <label class="ef-sic-codes-selected-label">
                                                    Selected SIC codes
                                                </label>
                                                <!-- <div class="ef-selected-sic-codes" id="ef-js-sic-codes__selected__picked"> -->
                                                <ul id="ef-sic-code-list" class="ef-sic-code-list">
                                                    <li class="ef-no-sic-code">None Selected</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="particular-save">
                                <button type="button" onclick="saveFormationData('particular')" class="ef-btn nextstep">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="address" class="section">
                <div class="ef-panel-wrapper">
                    <div class="head-02">
                        <h1>Registered Address</h1>
                    </div>
                    <div class="ef-registered-office-step" id="ef-panel-content">
                        <div id="ef-panel-inner-content">
                            <div id="ef-registered-addres-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                                <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                            </div>
                            <div>
                                <!--  educational text -->
                                <div class="ef-information-box">
                                    <h2 class="ef-information-box-title">Registered Office (required)</h2>
                                    <ul>
                                        <li>All companies require having a registered office address located in the same country as they are registered.</li>
                                        <li>It is the address to which all Companies House, HMRC and other official letters will be sent and must always be a physical address (e.g. not a PO Box or DX).</li>
                                        <li><b>The address of the registered office must appear on all company correspondence and publications.</b></li>
                                        <li><b>A company’s registered office address is available to view by the public free of charge.</b></li>
                                        <li>If you purchased our Registered Office Address Service, we will scan and email all official mail to an email address of your choice, with the exception of items of value which will be forwarded by post to your forwarding address.</li>
                                    </ul>
                                </div>
                                <div class="w-clearfix">
                                    <div class="ef-registered-email-section">
                                        <h2>Registered Email</h2>
                                        <div class="ef-form-wrap">
                                            <div class="w-row">
                                                <div class="w-col w-col-6">
                                                    <label for="ef-company-email">
                                                        Registered Email
                                                        <span class="ef-modal-help-icon" data-ref="HELP|REGISTERED_EMAIL">
                                                            <img class="ef-help-icon-img" src="/assets/icons/help.png">
                                                        </span>
                                                    </label>
                                                    <input class="w-input ef-company-email-field" id="ef-company-email" type="text" name="company-email" value="it@spendwiseacc.com" onkeyup="FormBuilder.setCompanyRegisteredEmail(this.value)">
                                                    <span class="ef-company-email-supplement-text ef-input-supplement-text">
                                                        The official email address of the company - this can be changed at any time.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ef-registered-office-section">
                                        <h2>Registered Office</h2>
                                        <!--  Forwarding address -->
                                        <div class="ef-item-box ef-selected">
                                            <div class="ef-item-content">
                                                <div class="w-row ef-panel-row">
                                                    <div class="w-col">
                                                        <h3 class="forward-address">Forwarding Address:</h3>
                                                    </div>
                                                </div>
                                                <div class="w-row ef-panel-row">
                                                    <div class="w-col w-col-8">
                                                        <div class="">
                                                            <span class="ef-js-forwarding-address">15, Harrow Way, Watford, Hertfordshire, WD19 5EH, UNITED KINGDOM</span>
                                                        </div>
                                                    </div>
                                                    <div class="w-col w-col-4 w-clearfix add-col">
                                                        <button id="efForwardingAddressEditButton" type="button" class="ef-btn ef-alt-btn ef-edit-btn">Edit</button>
                                                        <button type="button" class="ef-btn ef-choose-btn ef-completed-btn" data-bs-toggle="modal" data-bs-target="#addressModal">Choose Address</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end forwarding address -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-save">
                        <button type="button" id="pseudo-nextstep" class="ef-btn nextstep">
                            Save
                        </button>
                    </div>
                </div>
            </div>

            <div id="business-address" class="section">
                <div class="ef-panel-wrapper">
                    <div class="head-03">
                        <h1>Business <span class="m-hide t-hide">Address</span></h1>
                    </div>
                    <div class="" id="ef-panel-content">
                        <div id="ef-panel-inner-content">
                            <div id="ef-registered-addres-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                                <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                            </div>
                            <div>
                                <h2 class="ef-hide">Trading Address</h2>
                                <!--  educational text -->
                                <div class="ef-information-box">
                                    <h2 class="ef-information-box-title">Business Address Service (optional)</h2>
                                    <ul>
                                        <li>A business address service provides a general business correspondence address for your company, and this is the address which is displayed at the top of your letterheads and stationery as your business location.</li>
                                        <li>If you choose to purchase this service, we will forward all business correspondence (non-government mail) to you by scan and email on the same day we receive it.</li>
                                        <li>Any items of value, such as bank cards, will be forwarded on by Royal Mail.</li>
                                        <li>This service does not include a registered office service, which should be purchased separately.</li>
                                        <li><b>You are not required to provide a business address to form a company, however, you may wish to use our Covent Garden, WC2 address to enhance your corporate image and provide privacy for your home address.</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-save">
                        <button type="button" id="pseudo-nextstep" class="ef-btn nextstep">Save</button>
                    </div>
                </div>
            </div>

            <div id="appointment" class="section">
                <div class="ef-panel-wrapper">
                    <div class="head-04" id="ef-panel-title">
                        <h1>Appointments</h1>
                    </div>
                    <div class="" id="ef-panel-content">
                        <div class="" id="ef-panel-inner-content">
                            <div id="ef-psc-warning" class="ef-primary-warning-msg ef-alert-box warning" style="display:none;">
                                <h2 class="">Warning</h2>
                                <div class="ef-alert-box-main-text" id="">
                                    <div class="ef-alert-box-main-text">
                                        <p class="fc-red">It is now a legal requirement to identify the Persons with Significant Control (PSCs) of a company.</p>
                                        <p class="fc-red">Any person who ultimately controls more than 25% of the company is a PSC. If you are a shareholder with more than 25% of the company's shares - you are a PSC.</p>
                                        <p class="fc-red"><strong class="fc-red">There are currently no PSCs appointed.</strong></p>
                                        <br>
                                        <p><strong>Please choose one of the following options to proceed:</strong></p>
                                        <div class="col nine">
                                            <p class="lh-31"><strong>1.</strong> I want to go to Current Appointments below, and click 'Select' to add a PSC(s).</p>
                                        </div>
                                        <div class="col three mr-bot-10"><a class="scroll ef-btn ef-primary-btn" href="#ef-current-appointment-wrapper" style="padding:5px 15px!important">Select</a></div>
                                        <div class="col nine">
                                            <p class="lh-31"><strong>2.</strong> I want 1st Formations to add a PSC(s) for me, free of charge.</p>
                                        </div>
                                        <div class="col three mr-bot-10"><a class="ef-btn ef-primary-btn" href="#" onclick="addPSC();" style="padding:5px 15px!important">Select</a></div>
                                        <div class="col nine">
                                            <p class="lh-31"><strong>3.</strong> I want to continue forming my company regardless of the warning - <strong>not recommended.</strong></p>
                                        </div>
                                        <div class="col three mr-bot-10">
                                            <a class="scroll ef-btn ef-primary-btn" style="padding:5px 15px!important" href="#" onclick="FormBuilder.LoadNextStep();">Select</a>
                                            <p></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="ef-registered-addres-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                                <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                            </div>
                            <div>
                                <div id="current-appointments-wrapper">
                                    <div class="ef-information-box">
                                        <h2 class="ef-information-box-title">Appointments</h2>
                                        <p>A private company must have at least one director, being a natural person aged 16 years or over, and at least one shareholder; both roles may be fulfilled by the same individual.</p>
                                        <p>Please use the <b>Person</b> button to appoint an individual as an <b>Officer, Shareholder</b> or <b>PSC</b> of the Company.</p>
                                        <p>Use the <b>Corporate</b> button to appoint a corporate entity as an <b>Officer, Shareholder</b> or <b>PSC</b> of the Company.</p>
                                        <p>Use the <b>Other Legal Entity</b> Button if you want to appoint an other legal entity (e.g. a corporation sole, a national or local government, or an international organisation) as a <b>PSC</b> of the Company.</p>
                                    </div>
                                    <div class="ef-add-officer-wrapper">
                                        <h2>Add Another Officer</h2>
                                        <p>Click on one of the buttons below to add an officer to your company.</p>
                                        <div class="">
                                            <div class="ef-add-officer-buttons">
                                                <button type="button" class="ef-btn ef-add-officer person" onclick="showAppointmentTab('person')">Person</button>
                                                <button type="button" class="ef-btn ef-add-officer corporate" onclick="showAppointmentTab('corporate')">Corporate</button>
                                                <button type="button" class="ef-btn ef-add-officer corporate nominee" onclick="showAppointmentTab('other-legal-entity')">Other Legal Entity</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="document" class="section" style="border-bottom: none;">
                <div class="ef-panel-wrapper">
                    <div class="head-01">
                        <h1> Documents </h1>
                    </div>
                </div>

                <div class="add-save">
                    <button type="button" id="pseudo-nextstep" class="ef-btn nextstep ef-save-next-btn"> Save & Next</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Choose Address Modal *@
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Forwarding Address</h5>
                <p>Tell us where to forward your mail to you, by entering your address below.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div id="an-address" class="ef-address-form" style="">
                    <div>
                        <div id="use-previous-address-or-search" class="address-form-div" style="display:block">
                            <h4>Recently used addresses</h4>

                            <div class="w-clearfix simple-row-elem">
                                <div class="w-row ef-panel-row">
                                    <div class="w-col w-col-8">
                                        <p>15, Harrow Way, Watford, Hertfordshire, WD19 5EH, UNITED KINGDOM</p>
                                    </div>
                                    <div class="w-col w-col-4 w-clearfix add-col">
                                        <button type="button" class="ef-btn ef-alt-address-btn" id="openSecondModal">Edit</button>
                                        <button type="button" class="ef-btn ef-select-btn">Select</button>
                                    </div>
                                </div>
                            </div>

                            <div class="w-clearfix simple-row-elem">
                                <div class="w-row ef-panel-row">
                                    <div class="w-col w-col-8">
                                        <p>22, First Avenue, WEMBLEY, Middlesex, HA9 8QG, UNITED KINGDOM</p>
                                    </div>
                                    <div class="w-col w-col-4 w-clearfix add-col">
                                        <button type="button" class="ef-btn ef-alt-address-btn">Edit</button>
                                        <button type="button" class="ef-btn ef-select-btn">Select</button>
                                    </div>
                                </div>
                            </div>

                            <div class="w-clearfix simple-row-elem">
                                <div class="w-row ef-panel-row">
                                    <div class="w-col w-col-8">
                                        <p>2 Westglade Court, Woodgrange Close, Harrow, Middlesex, HA3 0XQ,...</p>
                                    </div>
                                    <div class="w-col w-col-4 w-clearfix add-col">
                                        <button type="button" class="ef-btn ef-alt-address-btn">Edit</button>
                                        <button type="button" class="ef-btn ef-select-btn">Select</button>
                                    </div>
                                </div>
                            </div>

                            <h4>Or enter a new Address</h4>

                            <div class="w-clearfix simple-row-elem">
                                <div class="w-row ef-panel-row">
                                    <div class="w-col w-col-8">
                                        <p>Enter new Address</p>
                                    </div>
                                    <div class="w-col w-col-4 w-clearfix add-col">

                                        <!-- <span class="ef-btn ef-primary-btn ef-alt-btn ef-cancel-address" onclick="javascript:void(0)" >Cancel</span>-->
                                        <button type="button" class="ef-btn ef-select-btn" onclick="">Select</button>

                                    </div>
                                </div>

                            </div>

                            <div lass="ef-cancel-btn-wrapper">
                                <div class="w-clearfix">
                                    <button type="button" class="ef-btn ef-cancel-address" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="secondAddressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Forwarding Address</h5>
                <p>Tell us where to forward your mail to you, by entering your address below.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
            </div>
        </div>

    </div>
</div>
<div id="appointmentTab"></div>

<script>
    function saveFormationData(type) {
        if(type == "particular"){
            debugger;
            var isValid = true;
            const particularData = {
                CompanyName: $("#Particular_CompanyName").val(),
                CompanyType: $("select[name='Particular.CompanyType']").val(),
                Jurisdiction: $("select[name='Particular.Jurisdiction']").val(),
                Activities: $("select[name='Particular.Activities']").val(),
                SIC_Code: $("input[name='Particular.SIC_Code']").val()
            };

            $("#companyNotAvailable").hide();
            $("#companyAvailable").hide();

            // Field validation helper
            function validateField(id, fieldName) {
                var value = $(id).val().trim();
                if (value === "") {
                    $(id).after('<small class="text-danger">' + fieldName + ' is required.</small>');
                }
                else {
                    if(id == "#Particular_CompanyName"){
                        if(Cookies.get("packageName") == "LLP"){

                        var str1 = $("#Particular_CompanyName").val();
                        var str2 = "LLP, LIMITED LIABILITY PARTNERSHIP";

                        var found = false;

                        // Split str2 into parts using comma and space as delimiters
                        var parts = str2.split(/[\s,]+/); // splits on space and comma
                        alert(parts);
                        $.each(parts, function(index, part) {
                            if (str1.toUpperCase().includes(part.toUpperCase())) {
                                found = true;
                                return false; // break out of loop
                            }
                        });
                            if (found) {
                                $(".ef-alert-box").hide();
                            } else {
                                $(id).after('<div class="ef-alert-box warning name-check-result show-namecheck" style="margin-top: -105px; width: 70rem;"> <div class="ef-alert-box-main-text">Warning, <span class="ef-namecheck-choosen-name"> ' + fieldName + '</span> is available for registration.</div> <p class="ef-js-namecheck-meta-text namecheck-error-description">You will need to provide a valid Company ending: LLP, LIMITED LIABILITY PARTNERSHIP.</p> </div>');
                            }
                        }
                        else {
                            $(id).after('<div class="ef-alert-box warning name-check-result show-namecheck" style="margin-top: -105px; width: 70rem;"> <div class="ef-alert-box-main-text">Warning, <span class="ef-namecheck-choosen-name"> ' + fieldName + '</span> is available for registration.</div> <p class="ef-js-namecheck-meta-text namecheck-error-description">You will need to provide a valid Company ending: LLP.</p> </div>');
                        }
                    }
                }

            }
            validateField("#Particular_CompanyName",  Cookies.get("companyName"));

            if(isValid) {
                $.ajax({
                    url: "/FormationPage/CompanyFormationSubTab?handler=SaveParticularData",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(particularData),
                    success: function (response) {
                        $("#errorCompanyNameMsg").css("display", "none");
                         document.querySelectorAll('.field-msg').forEach(span => span.textContent = '');

                        if (!response.success) {
                            // Loop through returned errors and set messages
                            for (const [field, message] of Object.entries(response.errors)) {
                                const errorSpan = document.getElementById(`${field}-error`);
                                if (errorSpan) {
                                    errorSpan.textContent = message;
                                }
                            }
                        }
                        else{
                        console.log("Success:", response);
                        }
                    },
                    error: function (xhr) {
                        console.error("Error:", xhr.statusText, xhr.responseText);
                    }
                });
            }
        }
    }

    $(document).ready(function () {
        $('#openSecondModal').on('click', function () {
            $('#addressModal').modal('hide');

            $('#addressModal').on('hidden.bs.modal', function () {
                $('#secondAddressModal').modal('show');
            });
        });
    });

    function CheckCompanyName() {
        if ($("#Particular_CompanyName").val() == "") {
            $("#errorCompanyname").css("display", "block");
        }
        else {
            var searchedCompanyName = $("#Particular_CompanyName").val();
            const expires = 7 ? { expires: 7, secure: true, sameSite: 'Strict' } : {};
            $.ajax({
                type: "GET",
                url: "/Index?handler=CheckCompanyAvailability&companyName=" + encodeURIComponent($("#Particular_CompanyName").val()),
                success: function (isAvailable) {
                    // Check if the response is a string and convert it to a boolean if necessary
                    if (typeof isAvailable === 'string') {
                        isAvailable = (isAvailable.toLowerCase() === 'true');
                    }

                    if (isAvailable === true) {
                        Cookies.set("companyName", searchedCompanyName, expires);
                        $("#companyAvailable").show();
                        $("#companyNotAvailable").hide();
                        $(".ef-alert-box").hide();
                        $("#availableCompanyName").html(searchedCompanyName);
                    } else {
                        alert("not");
                        $("#companyNotAvailable").show();
                        $("#companyAvailable").hide();
                        $(".ef-alert-box").hide();
                        $("#notAvailablecompanyName").html(searchedCompanyName);
                    }
                },
                error: function () {
                    console.log("Error checking company name.");
                }
            });
        }
        }
</script>
