@page
@model Spendwise_WebApp.Pages.FormationPage.Company_FormationModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}

<link href="/css/company-formation.css" rel="stylesheet" />

<div class="col-five ff-orderpage" id="formationPage">
    <div class="container-inner limited-liability-partnership" id="LLP-order-page">
        <div class="ui-widget">
            <div id="efAuthenticatedContent">
                <form name="ef-order-form" onsubmit="return false">
                    <div id="ef-order-form">
                        <!-- payment msg -->
                        <!-- end payment msg -->
                        <!--  menu wrapper -->
                        <div class="ef-order-form-nav-wrapper" id="ef-order-form-nav">
                            <!--  section menu -->
                            <div class="w-container" id="ef-order-form-nav-section-wrapper">
                                <div class="w-row">
                                    <div class="w-col w-col-12 w-clearfix" id="ef-order-form-nav-section-content">
                                        <div class="ef-nav-section-link current" data-toggle="tab" role="tab" aria-controls="CompanyFormation">
                                            <a class="ef-nav-section-title" id="spnCompanyFormation" href="#Formation">1. Company Formation</a>
                                            <div class="ef-nav-section-description">Details about your company</div>
                                        </div>
                                        <div class="ef-nav-section-link " id="spnBusinessEssentials" data-toggle="tab" role="tab" aria-controls="BusinessEssentials">
                                            <a class="ef-nav-section-title" href="#BusinessEssentials">2. Business Essentials</a>
                                            <div class="ef-nav-section-description">Products &amp; services</div>
                                        </div>
                                        <div class="ef-nav-section-link " id="spnSummary" data-toggle="tab" role="tab" aria-controls="Summary">
                                            <a class="ef-nav-section-title" href="#Summary">3. Summary</a>
                                            <div class="ef-nav-section-description">Details about your order</div>
                                        </div>
                                        <div class="ef-nav-section-link ">
                                            <a class="ef-nav-section-title" href="#">4. Delivery &amp; Partner Services</a>
                                            <div class="ef-nav-section-description">Delivery &amp; partner details</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  Step Menu -->
                            <div id="FormationTabContent">
                            </div>
                        </div>
                        <!-- modal template -->
                        <div id="ef-modal-template" class="ef-info-modal" style="display:none;">
                            <div class="ef-info-modal-content">
                                <div class="ef-info-modal-header">
                                    <span class="ef-info-modal-close">×</span>
                                    <h2 class="ef-info-modal-title"></h2>
                                </div>
                                <div class="ef-info-modal-body">
                                    Loading...
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end order form wrapper -->
                </form>
                <!-- end step form -->
                <!-- <script type="text/javascript" src="/assets/efiling/wizard-v2/js/modernizr.js"></script> -->
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            var tab = $("#spnCompanyFormation").text();
            var tabName = tab.replace(/[\s\d.]+/g, '').replace(/\d+/g, '');
            $.ajax({
                url: "/FormationPage/CompanyFormationSubTab",
                type: "get",
                success: function (result) {
                    $("#FormationTabContent").html(result);
                }
            });
        });

        function showAppointmentTab(type) {
            if(type == "person"){
                 $.ajax({
                    url: "/FormationPage/AppointmentPersonTab",
                    type: "get",
                    success: function (result) {
                        $("#Formation").css('display', 'none');
                        $("#appCorporateTab").css('display', 'none');
                        $("#appOtherTab").css('display', 'none');
                        $("#appointmentTab").html(result);
                        $('html, body').scrollTop($('#appointmentTab').offset().top);
                    }
                });
            }
            else if(type == "corporate") {
                 $.ajax({
                    url: "/FormationPage/AppointmentCorporateTab",
                    type: "get",
                    success: function (result) {
                        $("#Formation").css('display', 'none');
                        $("#appPersonTab").css('display', 'none');
                        $("#appOtherTab").css('display', 'none');
                        $("#appointmentTab").html(result);
                        $('html, body').scrollTop($('#appointmentTab').offset().top);
                    }
                })
            }
            else if(type == "other-legal-entity") {
                 $.ajax({
                    url: "/FormationPage/AppointmentOtherTab",
                    type: "get",
                    success: function (result) {
                        $("#Formation").css('display', 'none');
                        $("#appPersonTab").css('display', 'none');
                        $("#appCorporateTab").css('display', 'none');
                        $("#appointmentTab").html(result);
                        $('html, body').scrollTop($('#appointmentTab').offset().top);
                    }
                })
            }
        }

        function btnBackToMainPage() {
             var hash = window.location.hash;
             $.ajax({
                url: "/FormationPage/CompanyFormationSubTab",
                type: "get",
                success: function (result) {
                    $("#appointmentTab").css('display', 'none');
                    $("#FormationTabContent").html(result);
                    if (hash) {

                        // Optionally log it
                        console.log("Hash found:", hash);

                        // Redirect (scroll) to the section with that ID
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800); // Smooth scroll over 800ms
                    }
                }
             });
        }

        $(window).on('scroll', function () {
            if ($(window).scrollTop() > 100) {
                $('.ef-order-form-nav-step-wrapper').addClass('fixed-top');
                $('.ef-person-tab').addClass('fixed-top');
                $('.ef-corporate-tab').addClass('fixed-top');
                $('.ef-other-tab').addClass('fixed-top');
            } else {
                $('.ef-order-form-nav-step-wrapper').removeClass('fixed-top');
                $('.ef-person-tab').removeClass('fixed-top');
                $('.ef-corporate-tab').removeClass('fixed-top');
                $('.ef-other-tab').removeClass('fixed-top');
            }

            var scrollPos = $(document).scrollTop();
            $('.appointment-section').each(function() {
                var currLink = $('.tab-link[data-target="#' + $(this).attr('id') + '"]');
                var refElement = $(this);

                if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                  $('.tab-link').removeClass('active');
                  currLink.addClass('active');
                }
            });
        });

        $(document).ready(function () {
            $(window).on('scroll', function () {
                var scrollPos = $(document).scrollTop();

                $('.nav-link').each(function () {
                    var currLink = $(this);
                    var refElement = $(currLink.attr("href"));

                    if (
                      refElement.position()?.top <= scrollPos + 10 &&
                      refElement.position()?.top + refElement.height() > scrollPos
                    ) {
                      $('.nav-link').removeClass("active");
                      currLink.addClass("active");

                       const newHash = currLink.attr("href");
                       if (history.replaceState && window.location.hash !== newHash) {
                           history.replaceState(null, null, newHash);
                       }
                    }
                });
            });
        });
    </script>
}