@page
@model Spendwise_WebApp.Pages.FormationPage.Company_FormationModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<style>
    .ff-orderpage {
        padding: 30px 0 90px;
    }

    .col-five {
        width: 100%;
        max-width: 100%;
        position: relative;
        float: left;
    }

    .container-inner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-width: 1024px;
        height: auto;
        padding: 0 10px;
    }

    #ef-order-form {
        font-size: 14px;
    }

    .ef-form-wrap, .ef-order-form-nav-wrapper {
        background-color: #FFFFFF;
    }

    .ef-order-form-nav-wrapper {
        background-color: #fafafa;
    }

    .w-container {
        margin-left: auto;
        margin-right: auto;
    }

    #ef-order-form-nav-section-content {
        padding-right: 0 !important;
        border-bottom: 2px solid #3F4042;
        padding-left: 0;
    }

    .w-col-12 {
        width: 100%;
    }

    .w-col {
        position: relative;
        float: left;
        width: 100%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #ef-order-form-nav-section-content .ef-nav-section-link.current {
        border-right: 5px solid #fafafa !important;
    }

    #ef-order-form-nav-section-content .ef-nav-section-link {
        width: 25%;
        border-right: 5px solid #fafafa !important;
        margin-right: 0 !important;
        min-height: 75px;
    }

    .ef-nav-section-link.current {
        border-right: none !important;
        position: relative;
        background-color: #3F4042 !important;
        color: #FFFFFF !important;
        line-height: 14px;
    }

    .ef-nav-section-link {
        width: 219px;
        padding: 21px 15px;
        float: left;
        border-right: 1px solid #636363;
        color: #9e9e9e;
        font-size: 12px;
    }

        .ef-nav-section-link.current a {
            color: #FFFFFF !important;
            font-size: 16px;
        }

        .ef-nav-section-link a {
            font-size: 16px !important;
        }

    a:hover {
        outline: 0;
    }

    .ef-nav-section-title {
        display: block;
        text-align: left !important;
        font-size: 16px !important;
        font-family: 'MyriadW08-BoldSemiConde';
        padding-bottom: 5px;
        font-weight: 600;
    }

    .ef-nav-section-description {
        margin-left: 15px;
        font-family: 'MyriadW08-SemiCondensed';
    }

    #ef-order-form-nav-section-content .ef-nav-section-link {
        width: 25%;
        border-right: 5px solid #fafafa !important;
        margin-right: 0 !important;
        min-height: 75px;
    }

    .ef-nav-section-link {
        background-color: #eef1f4 !important;
        color: #525252 !important;
        line-height: 14px;
        padding: 21px 15px;
        float: left;
        font-size: 12px;
    }

    .w-container:before {
        content: " ";
        display: table;
    }

    .w-clearfix:before {
        content: " ";
        display: table;
    }

    .w-row:after {
        clear: both;
    }

    .w-container:after {
        clear: both;
    }

    .ef-order-form-nav-step-wrapper {
        background-color: #3F4042 !important;
    }

    .ef-order-form-nav-step-wrapper {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #b3b3b3;
    }

    .w-container:after, .w-container:before {
        content: " ";
        display: table;
    }

    .ef-order-form-nav-step-content {
        padding-top: 10px !important;
        padding-left: 10px;
        width: 100%;
    }

        .ef-order-form-nav-step-content .ef-companyformation-steps:nth-child(1) {
            width: 16%;
        }

    a:link {
        color: #1387ad;
        text-decoration: none !important;
        -webkit-tap-highlight-color: transparent;
    }

    .ef-order-form-nav-step-content a {
        line-height: 1em;
        padding-right: 10px;
        width: 20%;
    }

    .ef-order-form-nav-item {
        height: 40px;
        float: left;
    }

    .ef-order-form-nav-item-indicator {
        background-image: none !important;
        margin-right: 0 !important;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
        padding-top: 0;
        float: left;
        margin-top: -5px;
    }

        .ef-order-form-nav-item-indicator:after {
            content: "\f05d";
            font-family: fontawesome;
            font-size: 24px;
            line-height: 27px;
        }


    .ef-order-form-nav-item-text {
        color: #abb5ba !important;
        font-size: 17px;
        font-family: 'MyriadW08-SemiCondensed';
        padding-top: 8px;
    }

    .ef-order-form-nav-step-content .ef-companyformation-steps:nth-child(2) {
        width: 22%;
    }

    .ef-order-form-nav-item-indicator.step-1-todo:after,
    .ef-order-form-nav-item-indicator.step-2-todo:after,
    .ef-order-form-nav-item-indicator.step-3-todo:after,
    .ef-order-form-nav-item-indicator.step-4-todo:after,
    .ef-order-form-nav-item-indicator.step-5-todo:after {
        color: #abb5ba !important;
    }

    .ef-panel-wrapper {
        padding-bottom: 10px !important;
        border: none !important;
        margin-bottom: 20px;
        background-color: #fff;
    }

    #ef-panel-title.head-01,
    #ef-panel-title.head-02,
    #ef-panel-title.head-03,
    #ef-panel-title.head-04,
    #ef-panel-title.head-05 {
        background-image: none !important;
    }

    #ef-panel-title.head-01 {
        background-position: 8px 50%;
        background-size: 38px;
        background-repeat: no-repeat;
    }

    #ef-panel-title {
        background-color: #FFFFFF !important;
        padding-left: 0px !important;
        color: #333;
    }

        #ef-panel-title h1 {
            padding-left: 0px;
            color: rgb(49, 165, 203);
            margin: 0px 0px 15px !important;
            padding: 14px;
        }

    h1 {
        font-size: 28px !important;
        line-height: 28px !important;
        font-family: 'MyriadW08-BoldSemiConde' !important;
    }

    #ef-panel-content {
        border-top: 1px solid #a9a9a9;
        padding: 0 !important;
    }

    .mr-top-20 {
        margin-top: 20px;
    }

    .ef-information-box {
        display: block;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #a5c7d9;
        border-radius: 0;
        background-color: #d9edf7;
        background-image: url(~/images/education-icon@High.png);
        background-position: 17px 22px;
        background-size: 35px;
        background-repeat: no-repeat;
    }

        .ef-information-box h2 {
            /* padding-left: 0 !important; */
            margin-top: 0 !important;
            line-height: 21px !important;
            border-bottom: none !important;
        }

    .ef-information-box-title {
        display: block;
        padding-left: 47px;
        font-weight: 600;
    }

    h2 {
        font-size: 22px !important;
        /* line-height: 22px !important; */
        color: #2a3135 !important;
        padding-top: 10px;
        padding-bottom: 10px !important;
        font-family: 'MyriadW08-BoldSemiConde' !important;
        box-shadow: none !important;
        /* border-bottom: none !important; */
    }

    .ef-information-box p {
        line-height: 21px;
        padding-top: 5px;
        margin-left: 0px !important;
    }

    #ef-panel-inner-content {
        padding-top: 20px;
    }

    .ef-alert-box.success, .ef-alert-box.fail, .ef-alert-box.warning {
        background-color: #EAEFF2 !important;
        border-color: #EAEFF2 !important;
    }

    .ef-alert-box.fail {
        /* display: block; */
        padding: 20px;
        /* border-width: 1px;
                                            border-color: #e09696;
                                            background-color: #f2dede; */
        color: #a94442;
    }

    .ef-alert-box {
        border-width: 1px !important;
        margin-bottom: 15px;
        border: 2px solid #59a16a;
    }

        .ef-alert-box.fail .ef-alert-box-main-text {
            color: #E91C12 !important;
        }

    .ef-primary-error-msg .ef-alert-box-main-text, #addressing-error .ef-alert-box-main-text {
        font-size: 18px !important;
    }

    #ef-panel-inner-content h2 {
        /* padding-bottom: 20px !important; */
        box-shadow: none !important;
        position: relative;
        margin: 30px 0 10px;
    }

    .ef-hide {
        display: none;
    }

    .ef-alert-box.netural {
        display: block;
        padding: 20px;
        border: 1px solid #d6d6d6;
        background-color: #fafafa;
    }

    .ef-alert-box .ef-namecheck-choosen-name {
        color: #3C434B !important;
        /* padding-top: 5px; */
        /* display: block; */
        /* font-size: 18px !important; */
    }

    .ef-namecheck-choosen-name {
        line-height: 30px;
        font-weight: 700;
    }

    .ef-form-wrap, .ef-order-form-nav-wrapper {
        background-color: #FFFFFF;
    }

    .ef-form-wrap {
        display: block;
        margin: 40px 0 !important;
        padding: 0 !important;
        border: none !important;
    }

    .ef-namecheck-wrapper {
        color: #292929;
        margin-bottom: 10px;
    }

        .ef-namecheck-wrapper .w-col {
            padding: 0;
            margin: 0;
        }

    .w-col-9 {
        width: 75%;
    }

    .w-col-5 {
        width: 41.66666667%;
    }

    .w-col-4 {
        width: 33.33333333%;
    }

    label, .field-label, .field-lable {
        font-size: 17px;
        line-height: 18px;
        color: rgb(42, 49, 53);
        margin-bottom: 10px;
        font-weight: initial;
        font-family: MyriadW08-BoldSemiConde;
    }

    .ef-modal-help-icon {
        cursor: pointer;
    }

    .ef-help-icon-img {
        display: none !important;
    }

    .ef-modal-help-icon:after {
        content: "\f05a";
        font-family: fontawesome;
        color: #3F4042;
        font-size: 18px;
        line-height: 18px;
    }

    input#ef-company-name {
        padding: 16px 20px !important;
        height: auto !important;
    }

    .w-input, .w-select {
        margin-bottom: 20px;
    }

    .w-input {
        border: 1px solid #84888a !important;
        font-size: 14px !important;
        display: block;
        width: 100%;
        line-height: 1.428571429;
        vertical-align: middle;
        background-color: #fff;
    }

    .w-input, .w-select {
        display: block;
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .ef-company-name-field {
        float: left;
        color: #333;
        font-size: 18px;
        text-transform: uppercase;
    }

    #ef-namecheck-button {
        background-color: #ff7b00 !important;
        border: 1px solid #ff7b00 !important;
        padding: 18px 20px !important;
        outline: none;
        height: auto !important;
        line-height: 16px;
        width: 100% !important;
        margin-left: -1px;
        font-family: "MyriadW08-SemiCondensed" !important;
        font-size: 20px !important;
    }

    .ef-btn.ef-primary-btn {
        border-radius: 0;
        transition-delay: initial;
        font-weight: 300;
        margin-right: 0;
    }

    .ef-primary-btn {
        background-color: #5ea72d !important;
        border: 1px solid #5ea72d !important;
        color: #FFFFFF !important;
    }

    .ef-btn {
        display: inline-block;
        transition: all .5s ease;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    .ef-form-wrap, .ef-order-form-nav-wrapper {
        background-color: #FFFFFF;
    }

    .ef-form-wrap {
        margin: 40px 0 !important;
        padding: 0 !important;
        border: none !important;
        display: block;
    }

    .w-col-6 {
        width: 50%;
    }

    label[for="company-type"] .ef-modal-help-icon {
        display: none;
    }

    .ef-modal-help-icon {
        cursor: pointer;
    }

    .ef-help-icon-img {
        display: none !important;
    }

    #company-type.w-select {
        margin-bottom: 40px;
    }

    .ef-sic-codes__loader {
        display: none;
        text-align: center;
    }

    .ef-sic-codes__loader__img {
        display: inline-block;
        /* background-image: url(/assets/loaders/default.gif); */
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .ef-js-sic-codes__filter__label {
        font-weight: 400;
        margin-left: 4%;
    }

    #ef-sic-code-list {
        padding: 0 !important;
        margin: 0 !important;
    }

    .ef-sic-code {
        padding: 10px;
        background-color: #dff0d8;
        margin-bottom: 4px;
        cursor: pointer;
    }

    .sic-text {
        cursor: pointer;
        width: 90%;
    }

    .ef-remove-sic-code-img {
        margin-top: -4%;
        cursor: pointer;
        float: right;
    }

    .ef-js-sic-code-row {
        cursor: pointer;
        padding: 2%;
        padding-top: 1.5%;
        background-color: #fff;
        border-bottom: 1px solid #a9a9a9;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .ef-js-plus-button-container {
        margin-left: 2%;
        float: right;
        margin-top: -18px;
    }

    .ef-js-plus-button {
        cursor: pointer;
    }

    .ef-members-always-designated-wrapper .append-done {
        padding: 0 !important;
    }

    .float-left {
        float: left;
    }

    .ef-modal-help-icon {
        cursor: pointer;
    }

    .mr-top-10 {
        margin-top: 10px;
    }

    .w-row:after, .w-row:before {
        content: " ";
        display: table;
    }

    .ef-members-always-designated-wrapper .mr-top-10 span {
        float: right !important;
        width: calc(100% - 30px);
    }

    .ef-members-always-designated-wrapper .mr-top-10 .checkbox-big {
        padding: 0 !important;
        float: left;
    }

    i.fa.checkbox-big.fa-check:before {
        content: "\f00c";
    }

    .ef-members-always-designated-wrapper .mr-top-10 .checkbox-big::before {
        margin: 0 !important;
    }

    i.fa.checkbox-big:before {
        display: inline-block;
        font-size: 100%;
        margin: -4px 15px 0;
        width: 20px;
        height: 20px;
        border: 1px solid #84888a;
        text-align: center;
        padding: 0;
        border-radius: 3px;
        background-color: #eee;
        line-height: 18px;
        color: #555 !important;
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: "";
    }

    .ef-next-prev-btn {
        border-top: 3px solid #ccc;
        padding-top: 20px;
    }

    .ef-btn.nextstep {
        background-color: #5ea72d !important;
        border: 1px solid #5ea72d !important;
        color: #FFFFFF !important;
        background-image: none !important;
        font-family: 'MyriadW08-SemiCondensed';
        font-size: 18px !important;
    }

    .ef-btn.nextstep {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        padding-right: 38px;
        float: right;
        border: 1px solid #333;
        background-color: #fff;
        /* background-image: url(/assets/efiling/wizard-v2/images/chevrons@High.png); */
        background-position: 97% 50%;
        background-size: 22px;
        background-repeat: no-repeat;
        box-shadow: none;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        float: right;
        width: 60%;
    }

        .ef-btn.nextstep:after {
            content: "\f061";
            font-family: fontawesome;
            color: #FFFFFF;
            padding-left: 20px;
        }

        .ef-btn.nextstep:hover {
            background-color: #329118 !important;
            border-color: #329118 !important;
            text-decoration: none !important;
        }

    .ef-btn {
        padding: 10px 15px !important;
        font-size: 18px !important;
        width: auto !important;
        font-size: 14px !important;
        outline: none;
    }

    .ef-nav-section-link.current {
        background-color: #3F4042 !important;
        color: #FFFFFF !important;
    }
</style>

<div class="col-five ff-orderpage" id="formationPage">
    <div class="container-inner limited-liability-partnership" id="LLP-order-page">
        <div id="efPageContent" class="ui-widget">
            <div id="efAuthenticatedContent">
                <form name="ef-order-form" onsubmit="return false">
                    <div id="ef-order-form">
                        <!-- payment msg -->
                        <!-- end payment msg -->
                        <!--  menu wrapper -->
                        <div class="ef-order-form-nav-wrapper" id="ef-order-form-nav">
                            <!--  section menu -->
                            <div class="w-container" id="ef-order-form-nav-section-wrapper">
                                <div class="w-row">
                                    <div class="w-col w-col-12 w-clearfix" id="ef-order-form-nav-section-content">
                                        <div class="ef-nav-section-link current" data-toggle="tab" role="tab" aria-controls="CompanyFormation">
                                            <a class="ef-nav-section-title" id="spnCompanyFormation" href="#Formation">1. Company Formation</a>
                                            <div class="ef-nav-section-description">Details about your company</div>
                                        </div>
                                        <div class="ef-nav-section-link " id="spnBusinessEssentials" data-toggle="tab" role="tab" aria-controls="BusinessEssentials">
                                            <a class="ef-nav-section-title" href="#BusinessEssentials">2. Business Essentials</a>
                                            <div class="ef-nav-section-description">Products &amp; services</div>
                                        </div>
                                        <div class="ef-nav-section-link " id="spnSummary" data-toggle="tab" role="tab" aria-controls="Summary">
                                            <a class="ef-nav-section-title" href="#Summary">3. Summary</a>
                                            <div class="ef-nav-section-description">Details about your order</div>
                                        </div>
                                        <div class="ef-nav-section-link ">
                                            <a class="ef-nav-section-title" href="#">4. Delivery &amp; Partner Services</a>
                                            <div class="ef-nav-section-description">Delivery &amp; partner details</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  Step Menu -->
                        <div class="tab-content" id="myTabContent">
                            <div id="FormationTabContent">
                            </div>
                        </div>

                        <!-- form data -->
                        <input type="hidden" name="token" value="cd4ed277ed4fe1563d069713a54fe7c7d23604c8ac10d0f54f46114f39c41c10">
                        <input type="hidden" name="i" value="3015260">
                        <input type="hidden" name="o" value="5100219">
                        <input type="hidden" name="current_section" value="CompanyFormation">
                        <input type="hidden" name="current_step" value="particulars">
                        <input type="hidden" name="next_section" value="CompanyFormation">
                        <input type="hidden" name="next_step" value="registered-address">
                        <!-- modal template -->
                        <div id="ef-modal-template" class="ef-info-modal" style="display:none;">
                            <div class="ef-info-modal-content">
                                <div class="ef-info-modal-header">
                                    <span class="ef-info-modal-close">×</span>
                                    <h2 class="ef-info-modal-title"></h2>
                                </div>
                                <div class="ef-info-modal-body">
                                    Loading...
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end order form wrapper -->
                </form>
                <!-- end step form -->
                <!-- <script type="text/javascript" src="/assets/efiling/wizard-v2/js/modernizr.js"></script> -->
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            var tab = $("#spnCompanyFormation").text();
            var tabName = tab.replace(/[\s\d.]+/g, '').replace(/\d+/g, '');
            $.ajax({
                url: "/FormationPage/CompanyFormationSubTab",
                type: "get",
                success: function (result) {
                    $("#FormationTabContent").html(result);
                    $.ajax({
                        url: '/FormationPage/Particular',
                        type: "get",
                        success: function (result) {
                            $("#formationTab").html(result);
                            $('#particular').addClass("active");
                            $('#address').removeClass("active");
                            $('#businessAddress').removeClass("active");
                            $('#appointment').removeClass("active");
                            $('#document').removeClass("active");
                            history.pushState(null, '', '?section=' + tabName + '&step=' + $("#particular").text().trim());
                        }
                    });
                }
            });
        });

        function showFormationBasePage(type) {
            var tab = $("#spnCompanyFormation").text();
            var tabName = tab.replace(/[\s\d.]+/g, '').replace(/\d+/g, '');
            if(type == "particular"){
                $.ajax({
                    url: '/FormationPage/Particular',
                    type: "get",
                    success: function (result) {
                        $("#formationTab").html(result);
                        $('#particular').addClass("active");
                        $('#address').removeClass("active");
                        $('#businessAddress').removeClass("active");
                        $('#appointment').removeClass("active");
                        $('#document').removeClass("active");
                        history.pushState(null, '', '?section=' + tabName + '&step=' + $("#particular").text().trim());
                    }
                });
            }
            else if(type == "register-address"){
                $.ajax({
                    url: '/FormationPage/Register-Address',
                    type: "get",
                    success: function (result) {
                        $("#formationTab").html(result);
                        $('#particular').removeClass("active");
                        $('#address').addClass("active");
                        $('#businessAddress').removeClass("active");
                        $('#appointment').removeClass("active");
                        $('#document').removeClass("active");
                        history.pushState(null, '', '?section=' + tabName + '&step=' + $("#address").text().trim());
                    }
                });
            }
            else if(type == "business-Address"){
                $.ajax({
                    url: '/FormationPage/Business-Address',
                    type: "get",
                    success: function (result) {
                        $("#formationTab").html(result);
                        $('#particular').removeClass("active");
                        $('#address').removeClass("active");
                        $('#businessAddress').addClass("active");
                        $('#appointment').removeClass("active");
                        $('#document').removeClass("active");
                        history.pushState(null, '', '?section=' + tabName + '&step=' + $("#businessAddress").text().trim());
                    }
                });
            }
            else if(type == "appointments"){
                $.ajax({
                    url: '/FormationPage/Appointments',
                    type: "get",
                    success: function (result) {
                        $("#formationTab").html(result);
                        $('#particular').removeClass("active");
                        $('#address').removeClass("active");
                        $('#businessAddress').removeClass("active");
                        $('#appointment').addClass("active");
                        $('#document').removeClass("active");
                        history.pushState(null, '', '?section=' + tabName + '&step=' + $("#appointment").text().trim());
                    }
                });
            }
            else if(type == "documents"){
                $.ajax({
                    url: '/FormationPage/Documents',
                    type: "get",
                    success: function (result) {
                        $("#formationTab").html(result);
                        $('#particular').removeClass("active");
                        $('#address').removeClass("active");
                        $('#businessAddress').removeClass("active");
                        $('#appointment').removeClass("active");
                        $('#document').addClass("active");
                        history.pushState(null, '', '?section=' + tabName + '&step=' + $("#document").text().trim());
                    }
                });
            }
        }
    </script>
}