@page
@model Spendwise_WebApp.Pages.FormationPage.ParticularModel
@{
    Layout = null;
}
<style>
    .ef-panel-wrapper {
        padding-bottom: 10px !important;
        border: none !important;
        margin-bottom: 20px;
        background-color: #fff;
    }

    #ef-panel-title.head-01,
    #ef-panel-title.head-02,
    #ef-panel-title.head-03,
    #ef-panel-title.head-04,
    #ef-panel-title.head-05 {
        background-image: none !important;
    }

    #ef-panel-title.head-01 {
        background-position: 8px 50%;
        background-size: 38px;
        background-repeat: no-repeat;
    }

    #ef-panel-title {
        background-color: #FFFFFF !important;
        padding-left: 0px !important;
        color: #333;
    }

        #ef-panel-title h1 {
            padding-left: 0px;
            color: rgb(49, 165, 203);
            margin: 0px 0px 15px !important;
            padding: 14px;
        }

    h1 {
        font-size: 28px !important;
        line-height: 28px !important;
        font-family: 'MyriadW08-BoldSemiConde' !important;
    }

    #ef-panel-content {
        border-top: 1px solid #a9a9a9;
        padding: 0 !important;
    }

    .mr-top-20 {
        margin-top: 20px;
    }

    .ef-information-box {
        display: block;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #a5c7d9;
        border-radius: 0;
        background-color: #d9edf7;
        /* background-image: url(/assets/efiling/wizard-v2/images//education-icon@High.png); */
        background-position: 17px 22px;
        background-size: 35px;
        background-repeat: no-repeat;
    }

        .ef-information-box h2 {
            /* padding-left: 0 !important; */
            margin-top: 0 !important;
            line-height: 21px !important;
            border-bottom: none !important;
        }

    .ef-information-box-title {
        display: block;
        padding-left: 47px;
        font-weight: 600;
    }

    h2 {
        font-size: 22px !important;
        /* line-height: 22px !important; */
        color: #2a3135 !important;
        padding-top: 10px;
        padding-bottom: 10px !important;
        font-family: 'MyriadW08-BoldSemiConde' !important;
        box-shadow: none !important;
        /* border-bottom: none !important; */
    }

    .ef-information-box p {
        line-height: 21px;
        padding-top: 5px;
        margin-left: 0px !important;
    }

    #ef-panel-inner-content {
        padding-top: 20px;
    }

    .ef-alert-box.success, .ef-alert-box.fail, .ef-alert-box.warning {
        background-color: #EAEFF2 !important;
        border-color: #EAEFF2 !important;
    }

    .ef-alert-box.fail {
        /* display: block; */
        padding: 20px;
        /* border-width: 1px;
                                        border-color: #e09696;
                                        background-color: #f2dede; */
        color: #a94442;
    }

    .ef-alert-box {
        border-width: 1px !important;
        margin-bottom: 15px;
        border: 2px solid #59a16a;
    }

        .ef-alert-box.fail .ef-alert-box-main-text {
            color: #E91C12 !important;
        }

    .ef-primary-error-msg .ef-alert-box-main-text, #addressing-error .ef-alert-box-main-text {
        font-size: 18px !important;
    }

    #ef-panel-inner-content h2 {
        /* padding-bottom: 20px !important; */
        box-shadow: none !important;
        position: relative;
        margin: 30px 0 10px;
    }

    .ef-hide {
        display: none;
    }

    .ef-alert-box.netural {
        display: block;
        padding: 20px;
        border: 1px solid #d6d6d6;
        background-color: #fafafa;
    }

    .ef-alert-box .ef-namecheck-choosen-name {
        color: #3C434B !important;
        /* padding-top: 5px; */
        /* display: block; */
        /* font-size: 18px !important; */
    }

    .ef-namecheck-choosen-name {
        line-height: 30px;
        font-weight: 700;
    }

    .ef-form-wrap, .ef-order-form-nav-wrapper {
        background-color: #FFFFFF;
    }

    .ef-form-wrap {
        display: block;
        margin: 40px 0 !important;
        padding: 0 !important;
        border: none !important;
    }

    .ef-namecheck-wrapper {
        color: #292929;
        margin-bottom: 10px;
    }

        .ef-namecheck-wrapper .w-col {
            padding: 0;
            margin: 0;
        }

    .w-col-9 {
        width: 75%;
    }

    .w-col-5 {
        width: 41.66666667%;
    }

    .w-col-4 {
        width: 33.33333333%;
    }

    label, .field-label, .field-lable {
        font-size: 17px;
        line-height: 18px;
        color: rgb(42, 49, 53);
        margin-bottom: 10px;
        font-weight: initial;
        font-family: MyriadW08-BoldSemiConde;
    }

    .ef-modal-help-icon {
        cursor: pointer;
    }

    .ef-help-icon-img {
        display: none !important;
    }

    .ef-modal-help-icon:after {
        content: "\f05a";
        font-family: fontawesome;
        color: #3F4042;
        font-size: 18px;
        line-height: 18px;
    }

    input#ef-company-name {
        padding: 16px 20px !important;
        height: auto !important;
    }

    .w-input, .w-select {
        margin-bottom: 20px;
    }

    .w-input {
        border: 1px solid #84888a !important;
        font-size: 14px !important;
        display: block;
        width: 100%;
        line-height: 1.428571429;
        vertical-align: middle;
        background-color: #fff;
    }

    .w-input, .w-select {
        display: block;
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .ef-company-name-field {
        float: left;
        color: #333;
        font-size: 18px;
        text-transform: uppercase;
    }

    #ef-namecheck-button {
        background-color: #ff7b00 !important;
        border: 1px solid #ff7b00 !important;
        padding: 18px 20px !important;
        outline: none;
        height: auto !important;
        line-height: 16px;
        width: 100% !important;
        margin-left: -1px;
        font-family: "MyriadW08-SemiCondensed" !important;
        font-size: 20px !important;
    }

    .ef-btn.ef-primary-btn {
        border-radius: 0;
        transition-delay: initial;
        font-weight: 300;
        margin-right: 0;
    }

    .ef-primary-btn {
        background-color: #5ea72d !important;
        border: 1px solid #5ea72d !important;
        color: #FFFFFF !important;
    }

    .ef-btn {
        display: inline-block;
        transition: all .5s ease;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    .ef-form-wrap, .ef-order-form-nav-wrapper {
        background-color: #FFFFFF;
    }

    .ef-form-wrap {
        margin: 40px 0 !important;
        padding: 0 !important;
        border: none !important;
        display: block;
    }

    .w-col-6 {
        width: 50%;
    }

    label[for="company-type"] .ef-modal-help-icon {
        display: none;
    }

    .ef-modal-help-icon {
        cursor: pointer;
    }

    .ef-help-icon-img {
        display: none !important;
    }

    #company-type.w-select {
        margin-bottom: 40px;
    }

    .ef-sic-codes__loader {
        display: none;
        text-align: center;
    }

    .ef-sic-codes__loader__img {
        display: inline-block;
        /* background-image: url(/assets/loaders/default.gif); */
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .ef-js-sic-codes__filter__label {
        font-weight: 400;
        margin-left: 4%;
    }

    #ef-sic-code-list {
        padding: 0 !important;
        margin: 0 !important;
    }

    .ef-sic-code {
        padding: 10px;
        background-color: #dff0d8;
        margin-bottom: 4px;
        cursor: pointer;
    }

    .sic-text {
        cursor: pointer;
        width: 90%;
    }

    .ef-remove-sic-code-img {
        margin-top: -4%;
        cursor: pointer;
        float: right;
    }

    .ef-js-sic-code-row {
        cursor: pointer;
        padding: 2%;
        padding-top: 1.5%;
        background-color: #fff;
        border-bottom: 1px solid #a9a9a9;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .ef-js-plus-button-container {
        margin-left: 2%;
        float: right;
        margin-top: -18px;
    }

    .ef-js-plus-button {
        cursor: pointer;
    }

    .ef-members-always-designated-wrapper .append-done {
        padding: 0 !important;
    }

    .float-left {
        float: left;
    }

    .ef-modal-help-icon {
        cursor: pointer;
    }

    .mr-top-10 {
        margin-top: 10px;
    }

    .w-row:after, .w-row:before {
        content: " ";
        display: table;
    }

    .ef-members-always-designated-wrapper .mr-top-10 span {
        float: right !important;
        width: calc(100% - 30px);
    }

    .ef-members-always-designated-wrapper .mr-top-10 .checkbox-big {
        padding: 0 !important;
        float: left;
    }

    i.fa.checkbox-big.fa-check:before {
        content: "\f00c";
    }

    .ef-members-always-designated-wrapper .mr-top-10 .checkbox-big::before {
        margin: 0 !important;
    }

    i.fa.checkbox-big:before {
        display: inline-block;
        font-size: 100%;
        margin: -4px 15px 0;
        width: 20px;
        height: 20px;
        border: 1px solid #84888a;
        text-align: center;
        padding: 0;
        border-radius: 3px;
        background-color: #eee;
        line-height: 18px;
        color: #555 !important;
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: "";
    }

    .ef-next-prev-btn {
        border-top: 3px solid #ccc;
        padding-top: 20px;
    }

    .ef-btn.nextstep {
        background-color: #5ea72d !important;
        border: 1px solid #5ea72d !important;
        color: #FFFFFF !important;
        background-image: none !important;
        font-family: 'MyriadW08-SemiCondensed';
        font-size: 18px !important;
    }

    .ef-btn.nextstep {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        padding-right: 38px;
        float: right;
        border: 1px solid #333;
        background-color: #fff;
        /* background-image: url(/assets/efiling/wizard-v2/images/chevrons@High.png); */
        background-position: 97% 50%;
        background-size: 22px;
        background-repeat: no-repeat;
        box-shadow: none;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        float: right;
        width: 60%;
    }

        .ef-btn.nextstep:after {
            content: "\f061";
            font-family: fontawesome;
            color: #FFFFFF;
            padding-left: 20px;
        }

        .ef-btn.nextstep:hover {
            background-color: #329118 !important;
            border-color: #329118 !important;
            text-decoration: none !important;
        }

    .ef-btn {
        padding: 10px 15px !important;
        font-size: 18px !important;
        width: auto !important;
        font-size: 14px !important;
        outline: none;
    }
</style>
<div class="tab-pane current" id="Formation">
    <div class="w-container ef-content-wrapper ef-particulars-step" id="ef-content-wrapper">
        <div class="ef-panel-wrapper">
            <div class="head-01" id="ef-panel-title">
                <h1>Particulars</h1>
            </div>
            <div class="" id="ef-panel-content">
                <div class="ef-information-box mr-top-20">
                    <h2 class="ef-information-box-title">Company Name</h2>
                    <p>This is the name that will appear on your certificate of incorporation and will also appear on the public record at Companies House.</p>
                    <p>Remember to add <strong id="LLP-extention">LLP</strong> to the end of your company name<span id="limited-liability-partnership-ex-text"></span>. </p>
                </div>
                <div id="ef-panel-inner-content">
                    <div id="ef-particulars-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                        <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                    </div>
                    <div>
                        <h2 class="ef-hide">Particulars</h2>
                        <!--  results -->
                        <div class="ef-alert-box netural name-check-placeholder ef-js-check-name-alert" style="display: none;">
                            <div class="ef-alert-box-main-text">
                                Checking availability of "<span class="ef-namecheck-choosen-name">CODEPLUS</span>"
                                <span class="ef-inline-loader"></span>
                            </div>
                        </div>
                        <!-- GREEN -->
                        <div class="ef-alert-box success name-check-result" style="display:none">
                            <div class="ef-alert-box-main-text">
                                Congratulations,"
                                <span class="ef-namecheck-choosen-name">CODEPLUS</span>" is available for registration.
                            </div>
                        </div>
                        <!-- RED -->
                        <div class="ef-alert-box fail name-check-result" style="display:none">
                            <div class="ef-alert-box-main-text">
                                <span class="ef-namecheck-choosen-name">CODEPLUS</span> is not available for registration.
                            </div>
                            <p class="ef-js-namecheck-meta-text">You will need to provide a valid Company ending: LLP, LIMITED LIABILITY PARTNERSHIP</p>
                        </div>
                        <!-- AMBER -->
                        <div class="ef-alert-box warning name-check-result" style="display: none;">
                            <div class="ef-alert-box-main-text">
                                <span class="ef-namecheck-choosen-name">CODEPLUS</span> is available for registration.
                            </div>
                            <p class="ef-js-namecheck-meta-text">You will need to provide a valid Company ending: LLP, LIMITED LIABILITY PARTNERSHIP</p>
                            <div class="supp-same-as-req supp-sensitive-req" style="display:none">
                                <p class="sup-type supp-same-as-req" style="display:none">Name authorisation from <strong class="permission-from"></strong></p>
                                <p class="sup-type supp-sensitive-req" style="display:none">Sensitive word authorisation for <strong class="sensitive-list"></strong></p>
                                <p class="sup-type supp-sensitive-req" style="display: none;"> Please attach supporting documentation (either PDF, RTF, DOC or DOCX), below:</p>
                            </div>
                        </div>
                        <div>
                            <div class="ef-namecheck-wrapper w-row ef-form-wrap">
                                <div class="ef-namecheck-label-row w-col w-col-9"></div>
                                <div class="w-col w-col-5">
                                    <label for="ef-company-name">
                                        Company Name
                                        <span class="ef-modal-help-icon" data-ref="HELP|COMPANY_NAME"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                    </label>
                                    <input class="w-input ef-company-name-field" id="ef-company-name" type="text" name="company-name" value="CODEPLUS" onkeyup="progress_is_namecheck(event)">
                                </div>
                                <div class="w-col w-col-4" style="margin-top: 1px;">
                                    <label for="ef-namecheck-button">&nbsp;</label>
                                    <button type="button" id="ef-namecheck-button" class="ef-btn ef-primary-btn" name="ef-name-check-btn" onclick="FormBuilder.NameCheck(jQuery('#ef-company-name').val()); ">Check another name</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="ef-same-as-doc" value="0" id="ef-same-as-doc">
                        <input type="hidden" name="ef-sensitive-doc" value="0" id="ef-sensitive-doc">
                        <div class="ef-form-wrap supp-doc-container" style="display:none" id="same-as-container">
                            <div class="w-row">
                                <div class="w-col w-col-12">
                                    <label>Name Authorisation</label>
                                    <p>You need permission from <span class="permission-from"></span> to use this company name.</p>
                                    <p>Please obtain permission and upload file here.</p>
                                </div>
                            </div>
                            <div class="w-row ef-supporting-doc-attachment-wrapper" style="clear:both">
                                <div class="w-col w-col-8">
                                    <label>Supporting Document</label>
                                    <input class="w-input file-upload" type="file" name="file-upload-same-as" id="file-upload-same-as">
                                    <button class="ef-btn ef-primary-btn attach-button js-attach-same-as" data-doc-type="same-as">Attach</button>
                                </div>
                                <div class="w-col w-col-12 same-as-col ef-upload-result">
                                </div>
                            </div>
                        </div>
                        <div class="ef-form-wrap supp-doc-container" style="display:none" id="sensitive-container">
                            <div class="w-row">
                                <div class="w-col w-col-12">
                                    <label>Sensitive Words</label>
                                    <div class="sensitive-guidance"></div>
                                </div>
                            </div>
                            <div class="w-row ef-supporting-doc-attachment-wrapper" style="clear:both">
                                <div class="w-col w-col-8">
                                    <div>
                                        <label>Supporting Document</label>
                                        <input class="w-input file-upload" type="file" name="file-upload-sensitive" id="file-upload-sensitive">
                                        <button type="button" class="ef-btn ef-primary-btn attach-button js-attach-sensitive-name" data-doc-type="sensitive">Attach</button>
                                    </div>
                                </div>
                                <div class="w-col w-col-12 sensitive-col ef-upload-result">
                                </div>
                            </div>
                        </div>
                        <div class="ef-form-wrap last-margin">
                            <div class="w-row">
                                <div class="w-col w-col-6">
                                    <label for="company-type">
                                        Type of Company
                                        <span class="ef-modal-help-icon" data-ref="HELP|COMPANY_TYPE"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                    </label>
                                    <select class="w-select" id="company-type" name="company-type" onchange="FormBuilder.ChangeCompanyType()">
                                        <option value="4" selected="selected">
                                            Limited Liability Partnership
                                        </option>
                                    </select>
                                </div>
                                <div class="w-col w-col-6">
                                    <label for="company-jur">
                                        Jurisdiction
                                        <span class="ef-modal-help-icon" data-ref="HELP|JURISDICTION"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                    </label>
                                    <select class="w-select" id="company-jur" name="company-jur">
                                        <option value="EW" selected="selected">
                                            England &amp; Wales
                                        </option>
                                        <option value="WA">
                                            Wales
                                        </option>
                                        <option value="SC">
                                            Scotland
                                        </option>
                                        <option value="NI">
                                            Northern Ireland
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!--  there can be multiple -->
                            <div class="w-row">
                                <div class="w-col w-col-6">
                                    <!-- sic codes -->
                                    <label>
                                        What are your business activities
                                        <span class="ef-modal-help-icon" data-ref="HELP|SIC_CODES"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                    </label>
                                    <div class="" id="ef-js-sic-codes">
                                        <div class="" id="ef-js-sic-codes__categories">
                                            <select class="w-select" name="" id="ef-js-sic-codes__categories__options">
                                                <option value="none-selected">Select a category:</option>
                                                <option value="all-categories">All</option>
                                                <option value="A">A: Agriculture, Forestry and Fishing</option>
                                                <option value="B">B: Mining and Quarrying</option>
                                                <option value="C">C: Manufacturing</option>
                                                <option value="D">D: Electricity, gas, steam and air conditioning supply</option>
                                                <option value="E">E: Water supply, sewerage, waste management and remediation activities</option>
                                                <option value="F">F: Construction</option>
                                                <option value="G">G: Wholesale and retail trade; repair of motor vehicles and motorcycles</option>
                                                <option value="H">H: Transportation and storage</option>
                                                <option value="I">I: Accommodation and food service activities</option>
                                                <option value="J">J: Information and communication</option>
                                                <option value="K">K: Financial and insurance activities</option>
                                                <option value="L">L: Real estate activities</option>
                                                <option value="M">M: Professional, scientific and technical activities</option>
                                                <option value="N">N: Administrative and support service activities</option>
                                                <option value="O">O: Public administration and defence; compulsory social security</option>
                                                <option value="P">P: Education</option>
                                                <option value="Q">Q: Human health and social work activities</option>
                                                <option value="R">R: Arts, entertainment and recreation</option>
                                                <option value="S">S: Other service activities</option>
                                                <option value="T">T: Activities of households as employers; undifferentiated goods and services producing activities of households for own use</option>
                                                <option value="U">U: Activities of extraterritorial organisations and bodies</option>
                                            </select>
                                        </div>
                                        <div class="ef-js-sic-codes__loader ef-sic-codes__loader">
                                            <span class="ef-sic-codes__loader__img">
                                                <!-- loader -->
                                            </span>
                                        </div>
                                        <div class="w-input ef-sic-code-filter" id="ef-js-sic-codes__filter" style="display:none;">
                                            <div class="ef-js-sic-codes__filter__label">
                                                Filter: <input type="text" name="name" value="" class="ef-js-sic-codes__filter__input" id="ef-js-sic-codes__filter__input" autocomplete="off">
                                            </div>
                                            <div class="" id="ef-js-sic-codes__filter__found"></div>
                                            <div class="ef-js-sic-code-error" style=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-col w-col-6">
                                    <div id="ef-js-sic-codes__selected" class="ef-sic-codes-selected">
                                        <label class="ef-sic-codes-selected-label">
                                            Selected SIC codes
                                        </label>
                                        <!-- <div class="ef-selected-sic-codes" id="ef-js-sic-codes__selected__picked"> -->
                                        <ul id="ef-sic-code-list" class="ef-sic-code-list">
                                            <div class="ef-no-sic-code">None Selected</div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ef-limited-exemption-wrapper ef-form-wrap efHide">
                            <div class="w-row">
                                <div class="w-col w-col-6">
                                    <label for="ef-company-limited-exemption">Limited Exemption</label>
                                    <input class="w-checkbox" id="ef-company-limited-exemption" type="checkbox" name="company-limited-exemption" value="1">
                                </div>
                            </div>
                        </div>
                        <div class="last-margin"></div>
                        <div class="ef-form-wrap ef-members-always-designated-wrapper">
                            <div class="w-row">
                                <div class="w-col w-col-12">
                                    <label for="ef-members-always-designated" class="w-col-12 float-left pd-right-10 pd-left-10 append-done">
                                        Always designated members
                                        <span class="ef-modal-help-icon" data-ref="HELP|MEMBERS_ALWAYS_DESIGNATED">
                                            <img class="ef-help-icon-img" src="/assets/icons/help.png">
                                        </span>
                                        <p class="mr-top-10"><span style="line-height: 23px; float: left;">Please check the box if all members in this LLP, now and in the future, are to be designated.</span> <i class="fa checkbox-big fc-lgray pd-right-10 pd-left-10 fa-check" aria-hidden="true"></i></p>
                                    </label>
                                </div>
                                <div class="w-col-8">
                                    <input class="w-checkbox" id="ef-members-always-designated" type="checkbox" name="company-members-always-designated" value="1" checked="checked" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-row ef-next-prev-btn" id="ef-next-prev-btn">
        <div class="w-col w-col-6"></div>
        <div class="w-col w-col-6" style="padding-right: 0px;">
            <button type="button" style="display:none" id="pseudo-nextstep" class="ef-btn nextstep" onclick="FormBuilder.LoadNextStep('/formation-page/?o=5100219&amp;section=CompanyFormation&amp;step=registered-address');">Save &amp; continue</button>
            <button type="button" id="nextstep" class="ef-btn nextstep" onclick="showFormationBasePage('register-address')">Save &amp; continue</button>
        </div>
    </div>
</div>