@page
@model Spendwise_WebApp.Pages.FormationPage.SummaryModel
@{
    Layout = null;
}

<div>
    <div class="ef-order-form-nav-step-wrapper">
        <div class="w-container ef-order-form-nav-step-content">
            <a class="nav-link ef-companyformation-steps" aria-current="page" href="#summary" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-1-active"></div>
                    Summary
                </div>
            </a>
        </div>
    </div>

    <div class="w-container ef-content-wrapper" id="ef-content-wrapper">
        <div class="ef-panel-wrapper">

            <div class="head-01" id="ef-panel-title">
                <h1>Summary</h1>
            </div>

            <div class="" id="ef-panel-summary-content">
                <div id="ef-review-error" class="ef-primary-error-msg ef-alert-box fail" style="display : none;">
                    <div class="ef-alert-box-main-text main-error-text" id=""></div>
                </div>

                <div id="ef-panel-inner-content">
                    <div class="ef-review-section-title-wrapper">
                        <div class="w-row ef-review-section-title">
                            <div class="w-col w-col-6">
                                <h2 class="summary-title">Company Formation</h2>
                            </div>
                            <div class="w-col w-col-6">
                                <button type="button" id="go-to-cart" class="ef-btn additional-button">
                                    Save &amp; Continue
                                </button>
                                <button class="ef-btn ef-review-summary-btn" onclick="">
                                    Download Summary
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-review">
                        <div class="ef-form-wrap" id="company-formation-summary">
                            <!-- start particulars wrapper -->
                            <div class="ef-review-particulars-wrapper">
                                <h3>Particulars</h3>
                                <div class="w-row">
                                    <div class="w-col w-col-11">
                                        <div class="w-row row-margin ef-review-company-name">
                                            <div class="w-col w-col-3">
                                                <div class="ef-review-title">Company Name</div>
                                            </div>
                                            <div class="w-col w-col-8">
                                                <div>CAMPAUK LTD</div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin ef-review-company-type">
                                            <div class="w-col w-col-3">
                                                <div class="ef-review-title">Company Type</div>
                                            </div>
                                            <div class="w-col w-col-8">
                                                <div>
                                                    Limited By Shares
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin ef-review-jurisdiction">
                                            <div class="w-col w-col-3">
                                                <div class="ef-review-title">Jurisdiction</div>
                                            </div>
                                            <div class="w-col w-col-8">
                                                <div>
                                                    England and Wales
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin ef-review-sic-codes">
                                            <div class="w-col w-col-3">
                                                <div>SIC Codes</div>
                                            </div>
                                            <div class="w-col w-col-8 ef-review-sic-codes-col">
                                                <div class="ef-review-sic-code">
                                                    <p>
                                                        Growing of rice
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-col w-col-1">
                                        <button type="button" class="ef-btn ef-small-btn" onclick="">Edit</button>
                                    </div>
                                </div>
                            </div>

                            <div class="ef-review-business-address-wrapper">
                                <h3>Registered Office</h3>
                                <div class="w-row">
                                    <div class="w-col w-col-11">
                                        <div class="w-row row-margin">
                                            <div class="w-col w-col-3">
                                                <div class="ef-review-title">Email</div>
                                            </div>
                                            <div class="w-col w-col-8">
                                                <div>
                                                    it@spendwiseacc.com
                                                </div>
                                            </div>
                                            <div class="w-col w-col-1">
                                            </div>
                                        </div>

                                        <div class="w-row row-margin">
                                            <div class="w-col w-col-3">
                                                <div class="ef-review-title">Addresses</div>
                                            </div>
                                            <div class="w-col w-col-8">
                                                <div>
                                                    Registered Office - Pay Monthly
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin">
                                            <div class="w-col w-col-3">
                                                <div class="ef-review-title">Forwarding Address</div>
                                            </div>
                                            <div class="w-col w-col-8">
                                                <div>
                                                    15, Harrow Way, Watford, Hertfordshire, WD19 5EH, UNITED KINGDOM
                                                </div>
                                            </div>
                                            <div class="w-col w-col-1">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-col w-col-1">
                                        <button type="button" class="ef-btn ef-small-btn " onclick="">Edit</button>
                                    </div>
                                </div>
                            </div>

                            <div class="ef-review-appointments">
                                <h3>Appointments</h3>
                                <div class="w-row">
                                    <div class="w-col w-col-11">
                                        <div class="w-row row-margin ef-review-officer">
                                            <div class="w-row row-margin ef-head-row">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title"> Name</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    <div>
                                                        Kunjbala Patel
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Roles</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    <div>
                                                        Shareholder
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Holdings</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    <div class="ef-review-officer-holdings">
                                                        <p>
                                                            1 x ORDINARY at 1 GBP
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">
                                                        Address
                                                    </div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    15, Harrow Way, Watford, Hertfordshire, WD19 5EH, UNITED KINGDOM
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Service Address</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    Service Address - Pay Monthly
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Forwarding Address</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    22, First Avenue, WEMBLEY, Middlesex, HA9 8QG, UNITED KINGDOM
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin ef-review-officer">
                                            <div class="w-row row-margin ef-head-row">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title"> Name</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    <div>
                                                        Arjun Patel
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Roles</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    <div>
                                                        Director
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">DOB</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    31/08/1988
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title"> Occupation</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    Mortgage Adviser
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Nationality</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    British
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">
                                                        Residential Address
                                                    </div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    15, Harrow Way, Watford, Hertfordshire, WD19 5EH, UNITED KINGDOM
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Service Address</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    22, First Avenue, WEMBLEY, Middlesex, HA9 8QG, UNITED KINGDOM
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin ef-review-officer">
                                            <div class="w-row row-margin ef-head-row">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title"> Name</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    <div>
                                                        ada
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Roles</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    <div>
                                                        Person of Significant Control
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Registration Number</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    -
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Place Registered</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    -
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">UK entity</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    No
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Law Governed</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    asd
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Legal Form</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    sad
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Address</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    15, Harrow Way, Watford, Hertfordshire, WD19 5EH, UNITED KINGDOM
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-3 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Nature Of Control</div>
                                                </div>
                                                <div class="w-col w-col-8 ef-officer-additional-info-col">
                                                    <span class="ef-applies-to-header">Individual</span>
                                                    <ul>
                                                        <li class="ef-applies-to-list"><span>Ownership of shares: More than 25% but not more than 50%</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-col w-col-1">
                                        <div class="w-col w-col-1 ef-review-edit-wrapper">
                                            <button type="button" class="ef-btn ef-small-btn" onclick="">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ef-review-documents">
                                <h3>Documents</h3>
                                <div class="w-row">
                                    <div class="w-col w-col-11">
                                        <div class="w-row row-margin">
                                            <div class="w-col w-col-3">
                                                <div class="ef-review-title">Memorandum and Articles</div>
                                            </div>
                                            <div class="w-col w-col-8">
                                                <div class="ef-review-official-document">
                                                    Generic Limited by Shares Articles
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-col w-col-1">
                                        <div class="w-col w-col-1 ef-review-edit-wrapper">
                                            <button type="button" class="ef-btn ef-small-btn" onclick="">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2>Legalities</h2>
                    <div class="ef-form-wrap ef-legalities-box last-margin">
                        <div class="w-row">
                            <div class="w-col w-col-12">
                                <label for="terms-lawful-activity">
                                    <input type="checkbox" class="w-checkbox-input" id="terms-lawful-activity" name="terms-lawful-activity">
                                    The shareholders confirm that the intended future activities of the company are lawful.
                                </label>
                                <p></p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end id:ef-panel-inner-content -->

            </div> <!-- end id:ef-panel-content -->
            <!-- start progress buttons -->
            <div class="w-row ef-next-prev-btn" id="ef-next-prev-btn">
                <div class="w-col w-col-6" style="padding-left: 0px;">
                    <button type="button" id="prevstep" class="ef-btn prevstep" onclick="">Previous: Company Formation</button>
                </div>
                <div class="w-col w-col-6" style="padding-right: 0px;">
                    <button type="button" id="go-to-cart" class="ef-btn summary-nextstep">Save &amp; continue</button>
                </div>
            </div>
            <!-- end progress buttons -->

        </div> <!-- end class:ef-panel-wrapper -->

    </div>
</div>