@page
@model Spendwise_WebApp.Pages.Admin.PackageFeatures.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<div style="padding:1.5%;">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>PackageFeatures</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PackageFeatures.Feature)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PackageFeatures.Feature)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PackageFeatures.FeatureInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.PackageFeatures.FeatureInfo)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="PackageFeatures.FeatureId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index" class="btn btn-dark">Back to List</a>
        </form>
    </div>
</div>