@page
@model Spendwise_WebApp.Pages.Admin.PackageFeatures.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<div style="padding:1.5%;">

    <h4>Edit PackageFeatures</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PackageFeatures.FeatureId" />
                <div class="form-group">
                    <label asp-for="PackageFeatures.Feature" class="control-label"></label>
                    <input asp-for="PackageFeatures.Feature" class="form-control" />
                    <span asp-validation-for="PackageFeatures.Feature" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-dark" />
                    <a asp-page="./Index" class="btn btn-dark">Back to List</a>
                </div>
            </form>
        </div>
    </div>


</div>

