
/*Company Details*/
.ff-orderpage {
    padding: 30px 0 90px;
}

.col-five {
    width: 100%;
    max-width: 100%;
    position: relative;
    float: left;
}

.container-inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    height: auto;
    padding: 0 10px;
}

#ef-order-form {
    font-size: 14px;
}

.ef-form-wrap, .ef-order-form-nav-wrapper {
    background-color: var(--color-white);
}

.ef-order-form-nav-wrapper {
    background-color: var(--color-green);
}

.w-container {
    margin-left: auto;
    margin-right: auto;
}

#ef-order-form-nav-section-content {
    padding-right: 0 !important;
    border-bottom: 2px solid var(--color-green);
    padding-left: 0;
}

    #ef-order-form-nav-section-content .ef-nav-section-link.current {
        border-right: 5px solid var(--color-green) !important;
    }

    #ef-order-form-nav-section-content .ef-nav-section-link {
        width: 25%;
        border-right: 5px solid var(--color-green) !important;
        margin-right: 0 !important;
        min-height: 85px;
    }

.ef-nav-section-link.current {
    border-right: none !important;
    position: relative;
    background-color: var(--color-green) !important;
    color: var(--color-white) !important;
    line-height: 14px;
}

.ef-nav-section-link {
    width: 219px;
    padding: 21px 15px;
    float: left;
    border-right: 1px solid #636363;
    color: #9e9e9e;
    font-size: 12px;
    background-color: var(--color-green-four) !important;
}

.ef-nav-section-link.current a {
    color: var(--color-white) !important;
    font-size: 16px;
}

.ef-nav-section-link a {
    font-size: 16px !important;
}

a:hover {
    outline: 0;
}

.ef-nav-section-title {
    display: block;
    text-align: left !important;
    font-size: 16px !important;
    font-family: var(--font-family-myriad);
    padding-bottom: 5px;
    font-weight: 600;
}

.ef-nav-section-description {
    margin-left: 15px;
    font-family: var(--font-family-myriad);
}

.w-container:before {
    content: " ";
    display: table;
}

.w-container:after {
    clear: both;
}

.ef-order-form-nav-step-wrapper {
    background-color: var(--color-green) !important;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.w-container:after, .w-container:before {
    content: " ";
    display: table;
}

.ef-order-form-nav-step-content {
    padding-top: 10px !important;
    padding-left: 10px;
    width: 100%;
}

.ef-order-form-nav-step-content .ef-companyformation-steps:nth-child(1) {
    width: 16%;
}



.ef-order-form-nav-step-content a {
    line-height: 1em;
    padding-right: 10px;
    width: 20%;
    text-decoration: none
}

.ef-order-form-nav-item {
    height: 40px;
    float: left;
}

.ef-order-form-nav-item-indicator {
    background-image: none !important;
    margin-right: 0 !important;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    padding-top: 0;
    float: left;
    margin-top: -5px;
}

.ef-order-form-nav-item-indicator:after {
    content: "\f05d";
    font-family: fontawesome;
    font-size: 24px;
    line-height: 27px;
}

.ef-order-form-nav-item-text {
    color: var(--color-white) !important;
    font-size: 17px;
    font-family: var(--font-family-myriad);
    padding-top: 8px;
}

.ef-order-form-nav-step-content .ef-companyformation-steps:nth-child(2) {
    width: 22%;
}

.ef-order-form-nav-item-indicator.step-1-todo:after,
.ef-order-form-nav-item-indicator.step-2-todo:after,
.ef-order-form-nav-item-indicator.step-3-todo:after,
.ef-order-form-nav-item-indicator.step-4-todo:after,
.ef-order-form-nav-item-indicator.step-5-todo:after {
    color: #abb5ba !important;
}

.ef-panel-wrapper {
    padding-bottom: 10px !important;
    border: none !important;
    margin-bottom: 20px;
    background-color: #fff;
}

#ef-panel-title.head-01,
#ef-panel-title.head-02,
#ef-panel-title.head-03,
#ef-panel-title.head-04,
#ef-panel-title.head-05 {
    background-image: none !important;
}

#ef-panel-title.head-01 {
    background-position: 8px 50%;
    background-size: 38px;
    background-repeat: no-repeat;
}

#ef-panel-title {
    background-color: var(--color-white) !important;
    padding-left: 0px !important;
    color: #333;
}

    #ef-panel-title h1 {
        padding-left: 0px;
        color: var(--color-green);
        margin: 0px 0px 15px !important;
        padding: 14px;
    }

h1 {
    font-size: 28px !important;
    line-height: 28px !important;
    font-family: var(--font-family-myriad) !important;
}

#ef-panel-content {
    /*border-top: 1px solid #a9a9a9;*/
    padding: 0 !important;
}

.mr-top-20 {
    margin-top: 20px;
}

.ef-information-box p {
    line-height: 21px;
    padding-top: 5px;
    margin-left: 0px !important;
}

#ef-panel-inner-content {
    padding-top: 20px;
}

.ef-primary-error-msg .ef-alert-box-main-text, #addressing-error .ef-alert-box-main-text {
    font-size: 18px !important;
}

#ef-panel-inner-content h2 {
    /* padding-bottom: 20px !important; */
    box-shadow: none !important;
    position: relative;
    margin: 30px 0 10px;
}

.ef-hide {
    display: none;
}

.ef-alert-box.netural {
    display: block;
    padding: 20px;
    border: 1px solid #d6d6d6;
    background-color: #fafafa;
}

.ef-alert-box .ef-namecheck-choosen-name {
    color: #3C434B !important;
    /* padding-top: 5px; */
    /* display: block; */
    /* font-size: 18px !important; */
}

.ef-namecheck-choosen-name {
    line-height: 30px;
    font-weight: 700;
}

.ef-namecheck-wrapper {
    color: #292929;
    margin-bottom: 10px;
}

.ef-namecheck-wrapper .w-col {
    padding: 0;
    margin: 0;
}

label, .field-label, .field-lable {
    font-size: 17px;
    line-height: 18px;
    color: rgb(42, 49, 53);
    margin-bottom: 10px;
    font-weight: initial;
    font-family: var(--font-family-myriad);
}

.ef-modal-help-icon {
    cursor: pointer;
}

.ef-help-icon-img {
    display: none !important;
}

.ef-modal-help-icon:after {
    content: "\f05a";
    font-family: fontawesome;
    color: #3F4042;
    font-size: 18px;
    line-height: 18px;
}

input#ef-company-name {
    padding: 16px 20px !important;
    height: auto !important;
}

.w-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #84888a !important;
    font-size: 14px !important;
    margin-bottom: 20px;
}

.ef-company-name-field {
    float: left;
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
}

#ef-namecheck-button {
    background-color: var(--color-green) !important;
    border: 1px solid var(--color-green) !important;
    padding: 18px 20px !important;
    outline: none;
    height: auto !important;
    line-height: 16px;
    width: 100% !important;
    margin-left: -1px;
    font-family: var(--font-family-myriad) !important;
    font-size: 20px !important;
}

label[for="company-type"] .ef-modal-help-icon {
    display: none;
}

.w-select {
    margin-bottom: 40px;
    border: 1px solid #84888a !important;
    font-size: 14px !important;
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
}

.ef-sic-codes__loader {
    display: none;
    text-align: center;
}

.ef-sic-codes__loader__img {
    display: inline-block;
    /* background-image: url(/assets/loaders/default.gif); */
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.ef-js-sic-codes__filter__label {
    font-weight: 400;
    margin-left: 4%;
}

#ef-sic-code-list {
    padding: 0 !important;
    margin: 0 !important;
}

.ef-sic-code {
    padding: 10px;
    background-color: #dff0d8;
    margin-bottom: 4px;
    cursor: pointer;
}

.sic-text {
    cursor: pointer;
    width: 90%;
}

.ef-remove-sic-code-img {
    margin-top: -4%;
    cursor: pointer;
    float: right;
}

.ef-js-sic-code-row {
    cursor: pointer;
    padding: 2%;
    padding-top: 1.5%;
    background-color: #fff;
    border-bottom: 1px solid #a9a9a9;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.ef-js-plus-button-container {
    margin-left: 2%;
    float: right;
    margin-top: -18px;
}

.ef-js-plus-button {
    cursor: pointer;
}

.ef-members-always-designated-wrapper .append-done {
    padding: 0 !important;
}

.float-left {
    float: left;
}

.mr-top-10 {
    margin-top: 10px;
}

.ef-members-always-designated-wrapper .mr-top-10 span {
    float: right !important;
    width: calc(100% - 30px);
}

.ef-members-always-designated-wrapper .mr-top-10 .checkbox-big {
    padding: 0 !important;
    float: left;
}

i.fa.checkbox-big.fa-check:before {
    content: "\f00c";
}

.ef-members-always-designated-wrapper .mr-top-10 .checkbox-big::before {
    margin: 0 !important;
}

i.fa.checkbox-big:before {
    display: inline-block;
    font-size: 100%;
    margin: -4px 15px 0;
    width: 20px;
    height: 20px;
    border: 1px solid #84888a;
    text-align: center;
    padding: 0;
    border-radius: 3px;
    background-color: #eee;
    line-height: 18px;
    color: #555 !important;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
}

.ef-next-prev-btn {
    border-top: 3px solid #ccc;
    padding-top: 20px;
}

.ef-btn.nextstep {
    background-color: #5ea72d !important;
    border: 1px solid #5ea72d !important;
    color: var(--color-white) !important;
    background-image: none !important;
    font-family: var(--font-family-myriad);
    font-size: 18px !important;
}

.ef-btn.nextstep:after {
    content: "\f061";
    font-family: fontawesome;
    color: var(--color-white);
    padding-left: 20px;
}

.ef-btn.nextstep:hover {
    background-color: #329118 !important;
    border-color: #329118 !important;
    text-decoration: none !important;
}


.ef-order-form-nav-item-text.active {
    text-decoration: none;
    cursor: pointer;
    color: #fff !important;
}

.tab-pane {
    background-color: #FFF;
}

.particular-save {
    padding-right: 0px;
    background-color: #FFF;
    margin-top: -25px;
    float: right;
}

.ef-item-box.ef-selected {
    border-color: #59a16a;
    background-color: #deffe6;
}

.ef-item-bottom-border h3 {
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
}

.ef-product-icon.ef-product-22183 {
    background-image: url(https://cdn-brand.s3.eu-west-1.amazonaws.com/assets/images/71-75SheltonStreetXL.jpg) !important;
    height: 230px !important;
    background-size: cover;
    width: 100%;
}

.ef-product-icon {
    background-repeat: no-repeat;
    margin: 0 auto;
}

.ef-protect h3 {
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
}

.ef-remove-btn {
    background-color: #fff !important;
    border: 1px solid #d90000 !important;
    color: #d90000 !important;
    margin-right: 4px;
}

.ef-remove-btn:hover {
    border: 1px solid #bc0404 !important;
    color: #bc0404 !important;
    background-color: #efefef !important;
}

.forward-address {
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
}

.ef-edit-btn {
    background-color: var(--color-white) !important;
    border: 1px solid #84888a !important;
    color: #6f7b82 !important;
}

    .ef-edit-btn:hover {
        background-color: var(--color-green-one) !important;
        border-color: var(--color-green-one) !important;
        color: #333 !important;
        text-decoration: none;
    }

.ef-choose-btn {
    background-color: var(--color-green-one) !important;
    border: var(--color-green-one) !important;
    color: var(--color-white) !important;
}

.add-save {
    padding-right: 0px;
    background-color: #FFF;
    margin-top: -12px;
    float: right;
}

.business-title {
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
}

.ef-buy-btn {
    background-color: #5ea72d !important;
    border: 1px solid #5ea72d !important;
    color: var(--color-white) !important;
}

.ef-buy-btn:hover {
    background-color: #329118 !important;
    border-color: #329118 !important;
    color: var(--color-white) !important;
    text-decoration: none !important;
}

/*Appoinments*/
.ef-add-officer-wrapper {
    padding: 20px !important;
    background-color: var(--color-green-four);
    margin-bottom: 20px;
}

.ef-add-officer-wrapper h2 {
    box-shadow: none !important;
    position: relative;
    margin: 30px 0 10px;
    font-size: 22px !important;
    line-height: 22px !important;
    color: #2a3135 !important;
    padding-top: 10px;
    padding-bottom: 10px !important;
    font-family: var(--font-family-myriad) !important;
    box-shadow: none !important;
    border-bottom: none !important;
}

.ef-add-officer-buttons {
    width: 100% !important;
    margin: 0 !important;
    padding: 15px 0px !important;
    display: block;
    background-color: transparent;
    text-align: center;
}

.ef-add-officer.person {
    margin-left: 0 !important;
    background-position: 10px 50%;
    background-size: 29px;
    background-repeat: no-repeat;
    color: #fff;
}

.ef-add-officer.person:before {
    content: "\f234";
    font-family: fontawesome;
    color: var(--color-white);
    padding-right: 5px;
}

.ef-add-officer.corporate {
    margin-bottom: 0;
    background-position: 10px 50%;
    background-size: 31px;
    background-repeat: no-repeat;
    color: #fff;
}

.ef-add-officer.corporate:before {
    content: "\f1ad";
    font-family: fontawesome;
    color: var(--color-white);
    padding-right: 5px;
}

.ef-add-officer {
    background-image: none !important;
    background-color: var(--color-green)!important;
    border-color: var(--color-green)!important;
}

.ef-add-officer.nominee {
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-green)!important;
    color: var(--color-green)!important;
    background-position: 9px 50%;
    background-size: 28px;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.ef-add-officer.nominee:before {
    color: inherit !important;
    content: "\f0b1";
    font-family: fontawesome;
    padding-right: 5px;
}

.ef-btn {
    padding: 10px 15px !important;
    width: auto !important;
    font-size: 14px !important;
    outline: none;
}

.ef-btn.prevstep {
    background-color: #babdc0 !important;
    border: 1px solid #babdc0 !important;
    color: var(--color-white) !important;
    background-image: none !important;
    font-family: 'MyriadW08-SemiCondensed';
    font-size: 18px !important;
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    float: left;
    background-position: 3% 50%;
    background-size: 22px;
    background-repeat: no-repeat;
    box-shadow: none;
    font-weight: 400;
}

.ef-btn.prevstep:hover {
    background-color: #a6a9ab !important;
    border: 1px solid #a6a9ab !important;
}

.ef-btn.prevstep:before {
    content: "\f060";
    font-family: fontawesome;
    color: var(--color-white);
    padding-right: 20px;
}

.w-tabs {
    position: relative;
}

.w-tabs:before {
    content: " ";
    display: table;
}

.ef-officer-form-tab-menu {
    border-bottom-width: 2px !important;
    margin-bottom: 20px;
    border-bottom: 1px solid #b3b3b3;
}

.w-tab-menu {
    position: relative;
}

.ef-tab-link.sub-active {
    background-color: #31a5cb !important;
    border-color: var(--color-green) !important;
    color: var(--color-white) !important;
    border-top-left-radius: 0;
    font-weight: 600;
}

.ef-tab-link {
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: var(--color-green) !important;
    border-color: var(--color-green) !important;
    color: var(--color-white) !important;
    font-size: 14px;
    border-style: solid solid none;
    border-width: 1px;
    font-weight: 400;
    text-align: center;
}

.w-tab-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 8px 30px;
    cursor: pointer;
    max-width: 100%;
}
    .w-tab-link a {
        color: var(--color-white) !important;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        padding: 8px 30px;
        cursor: pointer;
        max-width: 100%;
    }
.ef-submit-btn {
    background-color: #5ea72d !important;
    border: 1px solid #5ea72d !important;
    color: var(--color-white) !important;
    float: right;
}

.tab-content-scrollable {
    height: 500px;
    overflow-y: scroll;
    position: relative;
    float: left;
    width: 70rem;
}

.nav-link.active {
    background-color: var(--color-green-two) !important;
    color: var(--color-green-white) !important;
}

.section {
    padding: 40px 10px;
    border-bottom: 3px solid #ccc;
}

/*PersonOfficerPositionTab*/

.w-tab-content {
    position: relative;
    display: block;
}

.ef-tab-pane-position {
    padding-right: 10px;
    padding-left: 11px;
}

.w-tab-pane {
    position: relative;
}

.ef-information-box {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #a5c7d9;
    border-radius: 0;
    background-color: var(--color-green-four);
    background-image: url(~/images/education-icon@High.png);
    background-position: 17px 22px;
    background-size: 35px;
    background-repeat: no-repeat;
}

.ef-information-box h2 {
    box-shadow: none !important;
    position: relative;
    margin: 30px 0 10px;
    margin-top: 0 !important;
    line-height: 21px !important;
    border-bottom: none !important;
    font-size: 22px !important;
    color: #2a3135 !important;
    padding-top: 10px;
    padding-bottom: 10px !important;
    font-family: var(--font-family-myriad) !important;
}

.ef-information-box-title {
    display: block;
    padding-left: 47px;
    font-weight: 600;
}

/*h2 {
    font-size: 22px !important;
    color: #2a3135 !important;
    padding-top: 10px;
    padding-bottom: 10px !important;
    font-family: var(--font-family-myriad) !important;
}*/

ef-information-box p {
    line-height: 21px;
    margin-left: 0px !important;
    padding-top: 5px;
}


.ef-alert-box.success, .ef-alert-box.fail, .ef-alert-box.warning {
    background-color: #EAEFF2 !important;
    border-color: #EAEFF2 !important;
}

.ef-alert-box.fail {
    padding: 20px;
    color: #a94442;
}

.ef-alert-box {
    border-width: 1px !important;
    margin-bottom: 15px;
    border: 2px solid #59a16a;
}

.ef-alert-box.fail .ef-alert-box-main-text {
    color: #E91C12 !important;
}

.ef-form-wrap {
    margin-top: 0 !important;
    background-color: var(--color-white);
    margin: 40px 0 !important;
    padding: 0 !important;
    border: none !important;
    display: block;
}

.ef-form-wrap h2{
    box-shadow: none !important;
    position: relative;
    margin: 30px 0 10px;
}

.hr-line-1 {
    margin-bottom: 30px !important;
    height: 1px;
    margin-top: 10px;
    clear: both;
    border-bottom: 1px solid #ccc;
}

.mr-bot-30 {
    margin-bottom: 30px;
}

.lh-18 {
    line-height: 18px;
}

.fs-14 {
    font-size: 14px !important;
}

.role-select-wrapper {
    padding: 20px !important;
    background-color: #EAEFF2;
    margin-bottom: 20px;
}

.role-select-wrapper > .row-role-select {
    padding: 0;
}

.w-row:after, .w-row:before {
    content: " ";
    display: table;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-checkbox, .w-radio {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
}

.w-checkbox:after, .w-checkbox:before, .w-radio:after, .w-radio:before {
    content: " ";
    display: table;
}

.w-form-label {
    display: inline !important;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 18px;
}

.w-row:after {
    clear: both;
}

.w-checkbox-input {
    margin-top: 2px !important;
}

.ef-back-btn {
    background-color: #babdc0 !important;
    border: 1px solid #babdc0 !important;
    color: var(--color-white) !important;
}

.ef-back-btn:hover {
    background-color: #a6a9ab !important;
    border: 1px solid #a6a9ab !important;
}

.ef-btn.ef-primary-btn {
    border-radius: 0;
    transition-delay: initial;
    font-weight: 300;
    /*margin-right: 0;*/
    float: right;
}

.ef-primary-btn {
    background-color: #5ea72d !important;
    border: 1px solid #5ea72d !important;
    color: var(--color-white) !important;
}

.ef-submit-btn:after {
    content: "\f061";
    font-family: fontawesome;
    color: var(--color-white);
    padding-left: 20px;
    font-weight: normal;
}

.simple-row-elem {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    padding: 6px 0 6px 0;
}

.w-clearfix:after, .w-clearfix:before {
    content: " ";
    display: table;
}

.ef-panel-row {
    display: block;
    margin-bottom: 0;
}

.w-col-8 {
    width: 66.66666667%;
}

.w-col-4 {
    width: 33.33333333%;
}

.ef-alt-btn {
    background-color: var(--color-white) !important;
    border: 1px solid #84888a !important;
    color: #6f7b82 !important;
    margin-left: 9rem;
}

.ef-alt-btn:hover {
    background-color: #efefef !important;
    border-color: #84888a !important;
    color: #333 !important;
    text-decoration: none;
}

/*Person Details*/
.row-margin {
    padding: 5px 0;
    margin-bottom: 10px;
}

.w-col-6 {
    width: 50%;
}

.w-row .w-row {
    margin-left: 0;
    margin-right: 0;
}

.w-col .w-col {
    padding-left: 0;
    padding-right: 0;
}

.appointments-field {
    width: 93%;
}

#residential-address-wrapper {
    margin-bottom: 25px;
    background-color: #eef1f4;
    padding: 15px 20px !important;
}

.w-col-12 {
    width: 100%;
}

#residential-address-wrapper h3[for="officer-residential-address"] {
    font-size: 22px !important;
    margin-bottom: 15px;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
    border-bottom: none
}

.ef-primary-btn:hover {
    background-color: #329118 !important;
    border-color: #329118 !important;
    color: var(--color-white) !important;
}

.w-col-10 {
    width: 83.33333333%;
}

.officer-paq-wrapper h3 {
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
    margin: 10px 0 10px 0;
}

.w-col-3 {
    width: 25%;
}

.w-col-5 {
    width: 41.66666667%;
}

.w-col-1 {
    width: 8.33333333%;
}

.field-label {
    font-size: 17px;
    line-height: 18px;
    color: rgb(42, 49, 53);
    margin-bottom: 10px;
    font-weight: initial;
    font-family: MyriadW08-BoldSemiConde;
}

/*Person Addressing*/

#service-address-wrapper {
    background-color: var(--color-green-four);
    padding: 15px 20px !important;
    margin-top: 0 !important;
}

#service-address-wrapper h2 {
    box-shadow: none !important;
    position: relative;
    margin: 30px 0 10px;
    font-size: 22px !important;
    line-height: 22px !important;
    color: #2a3135 !important;
    padding-top: 10px;
    padding-bottom: 10px !important;
    /*font-family: var(--font-family-myriad) !important;*/
    border-bottom: none !important;
    font-weight: 600;
}

.ef-item-box {
    position: relative;
    margin-bottom: 20px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    border: 2px solid #ccc;
    background-color: #fff;
    border-width: 1px !important;
}

.ef-item-content {
    padding: 18px 0px !important;
    position: relative;
}

#my-own-service-address h3 {
    margin: 10px 0 10px 0;
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
    font-weight: 600;
    border-bottom: none;
}

.w-col-7 {
    width: 58.33333333%;
}

.add-col {
    padding-right: 10px;
    text-align: right;
}

.ef-item-bottom-border {
    border-bottom: 1px solid #ccc !important;
    margin: 30px 15px;
    padding-bottom: 1px;
}

.w-col-9 {
    width: 75%;
}

.w-col-9 h3 {
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
    margin: 10px 0 10px 0;
    font-weight: 600;
}

.item-box-price {
    float: right;
    text-align: right;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}

.item-box-price .price {
    font-size: 18px !important;
    margin-top: 0 !important;
    display: inline-block;
    margin-bottom: 0;
    padding-top: 0;
    float: right;
    color: #333;
    font-weight: 700;
}

.item-box-price .renewal {
    color: #333;
    font-size: 12px !important;
    margin-bottom: 10px;
    float: right;
    clear: right;
}

.ef-panel-icon {
    margin-bottom: 30px;
    margin-top: 0 !important;
    padding-top: 0;
    text-align: center;
}

.ef-service-address-icon {
    background-image: url(https://cdn-brand.s3.eu-west-1.amazonaws.com/assets/images/71-75SheltonStreetXL.jpg) !important;
    height: 230px !important;
    background-size: cover;
    width: 100%;
}

.service-address h3 {
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
    margin: 10px 0 10px 0;
    font-weight: 600;
}

.savings-amount-row {
    margin-bottom: 20px;
}

.item-show-details {
    background-color: var(--color-white) !important;
    border: 1px solid #84888a !important;
    color: #6f7b82 !important;
    margin-right: 5px;
}

.item-show-details:hover {
    background-color: #efefef !important;
    border-color: #84888a !important;
    color: #333 !important;
    text-decoration: none;
}

.ef-primary-btn__select {
    margin-right: 4px;
}

.ef-primary-btn__remove {
    margin-right: 4px;
    display: none;
}

.tab-link.active {
    background-color: #31a5cb !important;
    border-color: #31a5cb !important;
    color: var(--color-white) !important;
    border-top-left-radius: 0;
    font-weight: 600;
}

.scroll-container {
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.ef-corporate-save {
    background-color: #5ea72d !important;
    border: 1px solid #5ea72d !important;
    color: var(--color-white) !important;
    float: right;
}

.ef-corporate-save:hover {
    background-color: #329118 !important;
    border-color: #329118 !important;
    text-decoration: none !important;
}

.appointment-section {
    padding: 40px 10px;
    border-bottom: 3px solid #ccc;
}

.ef-other-save {
    background-color: #5ea72d !important;
    border: 1px solid #5ea72d !important;
    color: var(--color-white) !important;
    float: right;
}

.ef-other-save:hover {
    background-color: #329118 !important;
    border-color: #329118 !important;
    text-decoration: none !important;
}

.other-service-address {
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
    margin: 10px 0 10px 0;
}

.ef-other-service-address-title {
    margin: 10px 0 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc !important;
    font-size: 20px !important;
    line-height: 18px !important;
    font-family: var(--font-family-myriad) !important;
    color: #2a3135 !important;
}

.ef-order-form-nav-step-wrapper.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 70rem;
}