:root {
    --font-family-body: Arial, Helvetica, sans-serif;
    --font-family-myriad: "Myriad Bold Semi Condensed", sans-serif;
    --primary: #676767;
    --color-green: #38761d;
    --color-green-one: #6aa84f;
    --color-green-two: #93c47d;
    --color-green-three: #b6d7a8;
    --color-green-four: #d7f5cb;
    --button-hover: #6aa84f;
    --color-blue: #208bae;
    --color-blue-one: #1387ad;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #4c4e52;
    --color-yellow: #ffe400;
}
.st_searchbox {
    position: absolute;
    right: 10px;
    top: 4px;
    z-index: 9999;
    display: none;
}

.st_searchbox_open {
    display: block;
}

.st_searchbox_input {
    border: 1px solid #ccc;
    padding: 10px 50px 10px 10px;
    width: 296px;
}

.st_searchbox_submit {
    border: 0 none;
    position: absolute;
    right: 0;
    top: 10px;
    border-left: 1px solid #ccc;
    padding: 1px 0px;
    width: 45px;
    background: transparent;
    font-size: 16px;
    color: #fcbf09 !important;
}

.ff-topmeninfo p {
    padding-right: 0;
}

.search-activate {
    color: #fff;
    font-size: 20px;
    padding: 12px;
}

.divider-50 {
    height: 50px
}

.search-activate i {
    cursor: pointer;
    transition: all ease-in-out 0.35s;
    -webkit-transition: all ease-in-out 0.35s
}

    .search-activate i:hover {
        color: #fcbf09;
    }

#efResidentialAddressTextSpan {
    vertical-align: center !important;
    padding-top: 15px;
    float: left;
    width: 50%;
}

.col {
    margin-left: initial;
}

.font-style-italic {
    font-style: italic !important;
}

.rf-home-bc {
    background-color: #fff !important;
    border-bottom: 0 !important
}

.bc-checkout .eight {
    display: table;
    table-layout: fixed
}

.five-column {
    text-align: center;
    display: table-cell
}

    .five-column:nth-child(2) {
        max-width: 24%;
        width: 24%
    }

    .five-column:nth-child(3) {
        max-width: 27%;
        width: 27%
    }

    .five-column:nth-child(4) {
        max-width: 16%;
        width: 16%
    }

    .five-column:nth-child(5) {
        max-width: 16%;
        width: 16%
    }

    .five-column i {
        display: block;
        font-size: 21px;
        font-weight: 300;
        padding-bottom: 5px;
        color: #bcbcbc
    }

    .five-column .active {
        color: #00a800
    }

.slt-com-name > i {
    float: left;
    position: relative;
    top: 2px;
    font-size: 24px;
    padding-bottom: 10px;
    margin-right: 10px;
    color: #73B810
}

.slt-com-name p {
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 5px;
    color: #3b3b3b;
    font-weight: 400
}

.fc-bcbcbc {
    color: #BCBCBC
}

.slt-com-name p {
    font-size: 21px;
    line-height: 31px;
    font-family: "myriad-pro-semi-condensed-n4", "myriad-pro-semi-condensed", calibri, sans-serif, helvetica !important;
    margin-bottom: 5px
}

    .slt-com-name > span,
    .slt-com-name p > span {
        color: #479a00;
        display: inline-block;
        font-size: 21px;
        font-family: "myriad-pro-semi-condensed-n4", "myriad-pro-semi-condensed", calibri, sans-serif, helvetica !important
    }

.progress-bar {
    height: 6px;
    display: block;
    width: 100%;
    background-color: #F3F3F3;
    margin-top: 5px;
    position: relative
}

    .progress-bar.green {
        background-color: #73B810
    }

        .progress-bar.green.active:after {
            content: "";
            position: absolute;
            right: -3px;
            top: 0;
            width: 6px;
            height: 6px;
            border: none;
            -o-text-overflow: clip;
            text-overflow: clip;
            background: #73B810;
            -webkit-transform: skewX(45deg);
            transform: skewX(45deg);
            z-index: 1
        }

.custom.ncblock.ncinput-wrap.lbs1 {
    padding-left: 0;
    padding-right: 0;
}

.namecheck-holer .bc-checkout > .col {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.col-five.namecheck-holer .col {
    padding-left: 0;
    padding-right: 0;
}

.mheight-one {
    min-height: 357px !important;
}

ol.ordered-list li {
    list-style: outside decimal;
}

.cpolicy ul.terms-cond-roman li {
    list-style-type: lower-roman !important;
}

.team-member:nth-child(6n+1) {
    clear: both
}

.ff-link-three {
    display: inline-block !important;
    height: auto !important;
}
#efPaymentFromOption_CARD p > span.efButton {
    display: block;
    clear: both;
    margin: 20px auto 0;
}

#efPaymentFromOption_CONTAUTH p > span.efButton {
    margin: 20px auto 0;
    clear: both;
}

.packcol-two .fs-16.fc-green {
    line-height: 18px !important;
}

.lity {
    background: rgba(0,0,0,.8);
}

p.fst-ads-bankhead-white,
p.fst-ads-bankhead {
    font-size: 29px !important;
}

.package-cashback-ad {
    float: right;
    margin-top: 92px;
    background-color: rgba(255,255,255,.8);
    padding: 20px;
    max-width: 30%;
    text-align: center;
    box-sizing: border-box;
}

.box-icon-wrap.bg-color-red.addpack,
.box-icon-wrap.bg-color-yellow.addpack {
    height: 30px;
}

ul li {
    padding: initial;
}

.site-nav__menu-sub-item strong {
    color: #fff;
    font-size: 16px;
}

.site-nav__menu-sub-item a:hover strong {
    color: #fcbe18;
}

p strong {
    font-size: inherit !important;
}

.icon_bank_upgrade {
    float: left;
    background-attachment: scroll;
    background-image: url(../images/global-compare-icons.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 32px;
    width: 32px;
    position: absolute;
}

.icon_bank_upgrade {
    background-position: left -2308px;
    height: 40px;
}

.fp-left-col {
    padding: 0 3% 0 0;
    max-width: 50%;
}

.fp-right-col {
    padding: 0 0 0 3%;
    max-width: 50%;
}
*, input, select, textarea, option, button {
    outline: none !important;
}

.lity {
    background: rgba(108,105,105,.9) !important;
}
.sitemap h3,
.sitemap h4 {
    font-weight: 600 !important;
}

.fs-32 {
    font-size: 2rem;
}

.pack-container .fa-li.fa-check {
    top: 3px !important;
    font-size: 18px;
}

#packages-tabs .fa-ul li,
.main-content li {
    margin: 0 0 13px 25px;
}

#packages-tabs .fp-left-col ul.fa-ul {
    margin-top: 15px !important;
}

.colfaqs ul.fa-ul {
    margin-top: 5px !important;
}

.numeric-ul {
    list-style-type: decimal;
}

    .numeric-ul li {
        list-style-type: decimal;
    }

.service-add-page h4 {
    margin-bottom: 20px
}

body {
    font-size: 16px !important;
}

.main-content ul,
.main-content ol,
.main-content li,
.main-content p,
.main-content b,
.main-content strong {
    font-size: 16px !important;
    line-height: 1.4;
}

.main-content h3 {
    padding-bottom: 0;
}

.main-content h4 {
    font-size: 21px;
}

.main-content__internal-pages ul > li {
    margin-left: 45px;
}

.main-content__internal-pages ol > li {
    margin-left: 45px;
}

.ff-link-four,
.ff-link-five {
    font-size: 16px;
    height: auto !important;
    line-height: 1.5 !important;
    display: flex;
    padding: 0;
}

    .ff-link-four a,
    .ff-link-five a {
        padding: 10px 30px;
        height: auto !important;
        display: flex;
        justify-content: center;
        font-family: Myriad Semi Condensed,sans-serif;
        font-size: 18px;
    }

.page-heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #c2dff3;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

    .page-heading h1,
    .page-heading h2,
    .page-heading h3 {
        font-size: 2rem;
        line-height: 1.2;
        color: #000;
        margin: 0;
        padding: 0;
    }

.page-heading__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-heading__price {
    font-size: 31px;
    font-family: MyriadW08-BoldSemiConde !important;
    color: #333;
    margin-right: 1rem;
}

.page-heading__button {
    padding: 15px 30px;
    background-color: var(--color-green);
    font-family: MyriadW08-SemiCondensed !important;
    font-size: 1.5rem;
    color: var(--color-white) !important;
}

    .page-heading__button:hover {
        background-color:var(--color-green-one);
    }

    .page-heading__button.compare-packages {
        background-color: var(--color-green);
        color: var(--color-white) !important;
        margin-left: .5em;
    }

        .page-heading__button.compare-packages:hover {
            background-color: var(--button-hover);
        }

.package-faqs,
.service-faqs {
    margin-top: 20px;
}

    .package-faqs > h2,
    .service-faqs > h2 {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        padding: 0;
        color: #000;
        border-bottom: 1px solid #c2dff3;
        padding-bottom: 1rem;
    }

.service-faqs__columns,
.package-faqs__columns {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 30px;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}

.service-faqs__faq,
.package-faqs__faq {
    margin-bottom: 1.25rem;
}

    .service-faqs__faq h2,
    .package-faqs__faq h2,
    .service-faqs__faq h3,
    .package-faqs__faq h3 {
        font-size: 1.4375rem !important;
        line-height: 1.35 !important;
        margin-bottom: .5rem !important;
        padding: 0 !important;
        border: 0 !important;
    }

    .service-faqs__faq p,
    .package-faqs__faq p {
        font-size: 16px !important;
        line-height: 1.4 !important;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .service-faqs__faq ul li,
    .service-faqs__faq ol li,
    .package-faqs__faq ul li,
    .package-faqs__faq ol li {
        margin-bottom: .625rem;
    }

.page-banner .sp-heading {
    margin-top: 65px !important;
}

    .page-banner .sp-heading h1 {
        margin-bottom: 10px;
    }

        .page-banner .sp-heading h1.redux {
            font-size: 36px;
            line-height: 1.25;
        }

.page-banner a.btn.btn-buy-now.btn-order {
    margin-top: 25px;
    padding: 15px 30px;
    background-color: #5ea72d;
    font-family: MyriadW08-SemiCondensed !important;
    font-size: 1.5rem;
    color: #fff;
    float: left;
    clear: left;
    box-sizing: border-box;
    border: 1px solid;
}

    .page-banner a.btn.btn-buy-now.btn-order:hover {
        background-color: #4d961c;
    }

.your-address-service {
    display: grid;
    grid-template-columns: 1.5fr 1.1fr;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.your-address-service__image {
    overflow: hidden;
    background-image: url('../images/71-75SheltonStreetXL.jpg');
    background-size: cover;
}

.your-address-service__content {
    padding: 20px;
}

    .your-address-service__content h3 {
        color: #11abe4;
    }

    .your-address-service__content p {
        margin-bottom: 0;
        color: #000;
    }

.address-how-to-buy {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    float: left;
}

    .address-how-to-buy h2 {
        color: #11abe4;
    }

    .address-how-to-buy ul {
        color: #000;
    }

.no-padding {
    padding: 0 !important;
}

.buy-service__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buy-service__price {
    font-size: 2rem;
    font-family: MyriadW08-BoldSemiConde !important;
    color: #fff;
    margin-right: 1rem;
}

.buy-service__button {
    padding: 15px 30px;
    background-color: #5ea72d;
    font-family: MyriadW08-SemiCondensed !important;
    font-size: 1.5rem;
    color: #fff !important;
}

    .buy-service__button:hover {
        background-color: #4d961c;
    }

.gradient--blue {
    background: rgb(28,141,212);
    background: -moz-linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
    background: linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c8dd4",endColorstr="#0bd8d1",GradientType=1);
}

.gradient--orange {
    background: rgb(242,158,11);
    background: -moz-linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
    background: linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f29e0b",endColorstr="#ecb112",GradientType=1);
}

.gradient--green {
    background: rgb(66,147,12);
    background: -moz-linear-gradient(90deg, rgba(51,102,51,1) 0%, rgba(106,168,79,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(66,147,12,1) 0%, rgba(106,168,79,1) 100%);
    background: linear-gradient(90deg, rgba(51,102,51,1) 0%, rgba(106,168,79,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#336633",endColorstr="#6aa84f",GradientType=1);
}

.gradient--teal {
    background: rgb(82,141,135);
    background: -moz-linear-gradient(90deg, rgba(82,141,135,1) 0%, rgba(167,222,205,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(82,141,135,1) 0%, rgba(167,222,205,1) 100%);
    background: linear-gradient(90deg, rgba(82,141,135,1) 0%, rg51,102,51,1ba(167,222,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#528d87",endColorstr="#a7decd",GradientType=1);
}
:focus {
    outline: 0;
}

.site-header__open {
    display: block;
    font-family: Myriad Semi Condensed, sans-serif;
    font-size: 18px;
    letter-spacing: -0.5px;
    margin-bottom: 3px;
}

.cd-top {
    margin: 0 0 60px !important;
}