@charset "UTF-8";
@import url('common.css');

body {
    color: #676767;
    padding: 0;
    margin: 0
}

ul {
    list-style: none
}

    ul li {
        line-height: 18px
    }

div, section {
    box-sizing: border-box
}

div {
    display: block
}

p {
    margin: 8px 0
}

button {
    background: 0 0;
    border: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace,monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

    audio:not([controls]) {
        display: none;
        height: 0
    }

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

input {
    border-radius: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

    [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
        border-style: none;
        padding: 0
    }

    [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
        outline: 1px dotted ButtonText
    }

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

    [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

body {
    font-family: var(--font-family-body);
    font-size: 13px;
    font-size: .8125rem;
    color: #676767
}

.static-pages a {
    text-decoration: none
}

    .static-pages a, .static-pages a:active, .static-pages a:visited {
        color: #208bae;
        -webkit-transition: color .3s ease;
        -moz-transition: color .3s ease;
        -ms-transition: color .3s ease;
        -o-transition: color .3s ease;
        transition: color .3s ease
    }

        .static-pages a:hover {
            color: #31a5cb
        }

.static-pages h1, .static-pages h2, .static-pages h3 {
    font-family: var(--font-family-body);
    color: #676767;
    font-weight: 400
}

.static-pages h1 {
    font-size: 36px;
    font-size: 2.25rem
}

.static-pages h2 {
    font-size: 26px;
    font-size: 1.625rem
}

.static-pages h3 {
    font-size: 16px;
    font-size: 1rem
}

    .static-pages h3.section-title {
        font-size: 34px;
        font-size: 2.125rem;
        font-family: var(--font-family-body);
        font-weight: 700
    }

@media (min-width:48em) {
    .static-pages h3.section-title {
        font-size: 46px;
        font-size: 2.875rem
    }
}

.static-pages h3.section-title--large {
    font-size: 34px;
    font-size: 2.125rem
}

@media (min-width:48em) {
    .static-pages h3.section-title--large {
        font-size: 46px;
        font-size: 2.875rem
    }
}

.static-pages h3.section-title--mobile {
    display: block
}

@media (min-width:48em) {
    .static-pages h3.section-title--mobile {
        display: none
    }
}

.static-pages h4 {
    font-family: var(--font-family-body);
    font-size: 21px;
    font-size: 1.3125rem;
    font-weight: 700;
    color: #4c4e52;
    margin: 20px 0 10px
}

.static-pages ul.list {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 15px
}

    .static-pages ul.list li {
        position: relative;
        font-size: 13px;
        font-size: .8125rem
    }

        .static-pages ul.list li:before {
            font: var(--fa-font-solid);
            position: absolute;
            left: -10px
        }

.static-pages ul.list--tick li:before {
    color: #62a43f;
    content: "\f00c"
}

.static-pages ul.list--arrow li:before {
    color: #62a43f;
    content: "\f0da"
}

.static-pages ul.list--chevron-right li:before {
    top: 5px;
    font-size: 6px;
    font-size: .375rem;
    content: "\f054"
}

.static-pages button, .static-pages input, .static-pages optgroup, .static-pages select, .static-pages textarea {
    font-family: Arial,Helvetica,sans-serif
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px #75c14c
    }

    100% {
        box-shadow: 0 0 15px #518d31
    }
}

::target-text {
    color: #fff !important;
    background-color: #31a5cb !important
}

#js-body-loading-overlay {
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100
}

    #js-body-loading-overlay span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        color: #f9bd1c;
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.no-wrap {
    white-space: nowrap
}

.link-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1
}

.visible-mobile {
    display: block
}

@media (min-width:36em) {
    .visible-mobile {
        display: none
    }
}

.visible-tablet {
    display: none
}

@media (min-width:36em) {
    .visible-tablet {
        display: block
    }
}

@media (min-width:62em) {
    .visible-tablet {
        display: none
    }
}

.visible-desktop {
    display: none
}

@media (min-width:62em) {
    .visible-desktop {
        display: block
    }
}

.accordion-faqs {
    overflow: hidden;
    margin: 0 0 60px
}

@media (min-width:48em) {
    .accordion-faqs {
        margin: 60px 0 100px
    }
}

.accordion-faqs h3 {
    font-size: 2rem !important;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 30px
}

.accordion-faqs__column {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.accordion-faqs__faq {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    width: 100%;
    position: relative;
    padding: 20px;
    background: #fff;
    border: 1px solid #c7c7c7;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    box-sizing: border-box;
    margin-bottom: 1rem;
    transition: background-color ease-in-out .3s
}

    .accordion-faqs__faq:hover {
        cursor: pointer;
        background-color: #f9f9f9
    }

.accordion-faqs__question {
    display: grid;
    grid-template-columns: auto 20px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    grid-gap: 15px
}

    .accordion-faqs__question h4 {
        font-size: 20px;
        font-weight: 600 !important;
        line-height: 1.25;
        margin: 0 !important
    }

    .accordion-faqs__question i, .accordion-faqs__question svg {
        font-size: 1.3rem
    }

.accordion-faqs__answer {
    display: none;
    margin-right: 25px;
    margin-top: 1rem
}

    .accordion-faqs__answer p {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.4;
        color: #686868;
        margin: 0;
        margin-bottom: .5rem
    }

    .accordion-faqs__answer ol, .accordion-faqs__answer ul {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.4;
        color: #686868;
        margin: 0;
        margin-bottom: .5rem;
        padding-left: 2rem;
        list-style: disc
    }

        .accordion-faqs__answer ol li, .accordion-faqs__answer ul li {
            line-height: 1.4;
            margin-bottom: 10px
        }

.box {
    position: relative;
    overflow: hidden;
    padding: 25px 10px;
    background: #fff;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    box-sizing: border-box
}

.box--google {
    text-align: center;
    display: block;
    font-family: Myriad Pro Light Semi Condensed,sans-serif
}

@media (min-width:48em) {
    .box--google {
        display: none
    }
}

.box--google__title {
    font-size: 24px;
    font-size: 1.5rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-family: Myriad Pro Light Semi Condensed,sans-serif;
    font-weight: 700;
    margin-top: 0
}

.box--google__subtitle {
    font-size: 21px;
    margin-bottom: 15px
}

.box--google__reviews {
    font-size: 1.5rem
}

.box--google svg {
    display: inline-block;
    vertical-align: top;
    height: 1.5rem;
    width: 100%;
    margin-bottom: 10px
}

.box--google-star-fill {
    fill: #fcbe18
}

.box--google-star-fill-partial {
    fill: url(#googleGradient)
}

.box--google-star-fill-empty {
    fill: none
}

.box--bank {
    text-align: center;
    display: none
}

@media (min-width:48em) {
    .box--bank {
        display: block
    }
}

.box--bank__title {
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700
}

.box--bank__logos {
    padding-top: 10px
}

    .box--bank__logos a {
        float: left;
        width: 45%;
        box-sizing: border-box
    }

        .box--bank__logos a:first-child {
            text-align: right;
            margin: 5px 2% 0
        }

            .box--bank__logos a:first-child img {
                height: 20px
            }

        .box--bank__logos a:last-child {
            text-align: left;
            margin: 0 2%
        }

            .box--bank__logos a:last-child img {
                height: 25px
            }

.button {
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    display: inline-block
}

    .button:hover {
        cursor: pointer
    }

.button--home-search {
    width: 20%;
    height: 50px;
    margin-bottom: 10px;
    float: left;
    padding: 13px 15px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background: #62a43f
}

    .button--home-search:hover {
        background: #75c14c
    }

    .button--home-search:focus {
        background: #518d31
    }

@media (min-width:48em) {
    .button--home-search {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 20px
    }
}

.button--primary {
    color: var(--color-white) !important;
    padding: 10px 50px;
    background-color: var(--color-green)
}

    .button--primary:hover {
        color: var(--color-four) !important;
        background-color: var(--color-green-one)
    }

    .button--primary:focus {
        background-color: : var(--color-green-one)
    }

.button--secondary {
    color: var(--color-white) !important;
    padding: 10px 30px;
    background-color: var(--color-green);
    font-weight: 700;
}

    .button--secondary:hover {
        color: var(--color-white) !important;
        background-color: var(--color-green-one);
    }

    .button--secondary:focus {
        background-color: var(--color-green-one);
    }

.button--alt {
    color: #7c7c7c !important;
    padding: 9px 30px;
    border: 1px solid #7c7c7c
}

    .button--alt:hover {
        color: #000 !important;
        border: 1px solid #000
    }

    .button--alt:focus {
        color: #000 !important;
        border: 1px solid #000
    }

.button--login {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    display: none;
    border: 1px solid #00b1e3;
    margin: 0 0 0 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #00b1e3;
    text-decoration: none
}

@media (min-width:48em) {
    .button--login {
        display: inline-block
    }
}

.button--login:hover {
    background-color: #29c7f4;
    color: #fff !important
}

.button--login:focus {
    background-color: #1b79a4;
    color: #fff !important
}

.button--help-advice-search {
    width: 100%;
    height: 50px;
    float: left;
    padding: 13px 15px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background: #fcbe18
}

@media (min-width:36em) {
    .button--help-advice-search {
        width: 20%
    }
}

.button--help-advice-search:hover {
    background: #fdcc4a
}

.button--help-advice-search:focus {
    background: #f7b503
}

@media (min-width:48em) {
    .button--help-advice-search {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 20px
    }
}

.button--hide {
    display: none
}

.button--show {
    display: inline-block
}

.site-last-cta {
    background-color: #fff;
    padding: 60px 0
}

@media (min-width:48em) {
    .site-last-cta {
        padding: 100px 0
    }
}

.site-last-cta__wrap {
    text-align: center
}

    .site-last-cta__wrap h3 {
        font-size: 40px;
        font-size: 2.5rem;
        color: #4c4e52;
        margin: 0 0 30px 0;
        font-weight: 700
    }

    .site-last-cta__wrap p {
        font-size: 18px;
        font-size: 1.125rem;
        margin-top: 30px
    }

        .site-last-cta__wrap p:first-child {
            margin-bottom: 15px
        }

    .site-last-cta__wrap a {
        font-size: 18px;
        font-size: 1.125rem;
        margin: 30px;
        display: inline-block;
        font-weight: 700
    }

#tooltip {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    background: #fff;
    position: absolute;
    z-index: 100;
    padding: 15px;
    max-width: 400px !important;
    border: 1px solid #c7c7c7;
    left: 0;
    margin: 10px
}

@media (min-width:48em) {
    #tooltip {
        margin: 0
    }
}

#tooltip__triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c7c7c7;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px
}

#tooltip__triangle-inner {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    content: "";
    position: relative;
    left: -8px;
    bottom: 10px
}

#tooltip h4 {
    font-size: 15px;
    font-size: .9375rem;
    font-weight: 700;
    margin-top: 0
}

#tooltip.left #tooltip__triangle {
    left: 10px;
    margin: 0
}

#tooltip.right #tooltip__triangle {
    right: 10px;
    left: auto;
    margin: 0
}

.tooltip-title {
    color: #2f2f2f;
    font-size: 19px;
    font-size: 1.1875rem;
    font-weight: 700
}

#tooltip__content {
    font-size: 16px;
    line-height: 1.3
}

.site-nav-burger {
    text-align: right;
    max-width: 50px;
    position: absolute !important;
    right: 10px
}

@media (min-width:62em) {
    .site-nav-burger {
        display: none !important
    }
}

.site-nav-burger__wrap {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    margin-top: 15px;
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    left: -10px
}

@media (min-width:48em) {
    .site-nav-burger__wrap {
        left: 0
    }
}

.site-nav-burger__wrap span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--color-green);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

    .site-nav-burger__wrap span:nth-child(1) {
        top: 0
    }

    .site-nav-burger__wrap span:nth-child(2), .site-nav-burger__wrap span:nth-child(3) {
        top: 8px
    }

    .site-nav-burger__wrap span:nth-child(4) {
        top: 16px
    }

.site-nav-burger__wrap.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%
}

.site-nav-burger__wrap.open span:nth-child(2) {
    transform: rotate(45deg)
}

.site-nav-burger__wrap.open span:nth-child(3) {
    transform: rotate(-45deg)
}

.site-nav-burger__wrap.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%
}

.site-nav__wrap {
    background-color: var(--color-green);
    padding: 0
}

@media (min-width:62em) {
    .site-nav__wrap {
        padding: 15px 0
    }
}

.site-nav__wrap > div > div {
    position: absolute;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    left: 0;
    margin: 0;
    padding: 0 20px;
    background-color: var(--color-green-one);
    z-index: 99;
    width: 100%
}

@media (min-width:48em) {
    .site-nav__wrap > div > div {
        padding: 0 55px
    }
}

@media (min-width:62em) {
    .site-nav__wrap > div > div {
        position: relative;
        min-height: 18px !important;
        background-color: transparent;
        padding: 0;
        overflow: visible;
        margin: 0;
        width: 96%;
        padding: 0
    }
}

.site-nav__wrap > div > div.open {
    min-height: 100%;
    max-height: 1500px;
    margin: 0
}

.site-nav__wrap > div > div.closed {
    margin: 0
}

@media (min-width:62em) {
    .site-nav__wrap > div > div.closed {
        margin: 0 1%
    }
}

.site-nav__body {
    display: inline-block;
    list-style: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 100%
}

@media (min-width:62em) {
    .site-nav__body {
        width: auto
    }
}

.site-nav__body--subnav {
    padding: 0;
    margin: 0;
    list-style: none
}

@media (min-width:62em) {
    .site-nav__body--subnav {
        float: right;
        margin-right: -10px
    }
}

@media (min-width:62em) {
    .site-nav__body--subnav .site-nav__menu {
        right: 0;
        min-width:270px;
    }
}

@media (min-width:75em) {
    .site-nav__body li:nth-child(1) a:hover {
        cursor: pointer;
        color: var(--color-green-four) !important
    }

    .site-nav__body li:nth-child(2) a:hover {
        cursor: pointer;
        color: var(--color-green-four) !important
    }
}

.site-nav__item {
    cursor: pointer;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-white);
}

    .site-nav__item a {
        cursor: pointer;
        padding: 0
    }

.site-nav__item--subnav a {
    padding: 0
}

.site-nav__item:hover > a {
    color: var(--color-green-four) !important;
    box-sizing: border-box
}

.site-nav__item--login a {
    cursor: pointer;
    padding: 9px !important;
    transition: all .45s ease-in
}

@media (min-width:62em) {
    .site-nav__item--login a {
        border: 0px solid #75c14c
    }
}

.site-nav__item--login a i, .site-nav__item--login a svg {
    color: var(--color-white);
    padding: 0 5px 0 0;
    font-size: 16px;
    font-size: 1rem
}

@media (min-width:62em) {
    .site-nav__item--login a:hover {
        color: var(--color-green-four) !important;
    }
}

@media (min-width:62em) {
    .site-nav__item {
        padding: 0;
        border: none;
        display: inline-block;
        cursor: pointer
    }

        .site-nav__item:first-of-type {
            margin-left: -10px
        }

    .site-nav__item--dropdown-hover {
        color: #fcbe18 !important;
        cursor: pointer
    }
}

.site-nav__item > a {
    font-size: 17px;
    font-size: 1.0625rem;
    text-decoration: none !important;
    font-family: var(--font-family-body);
    color: var(--color-white) !important;
    font-weight:bold;
}

    .site-nav__item > a > span {
        font-size: 24px;
        font-size: 1.5rem;
        float: right
    }

@media (min-width:62em) {
    .site-nav__item > a > span {
        display: none
    }
}

@media (min-width:62em) {
    .site-nav__item > a {
        padding: 14px 9px;
        font-weight: bold;
    }
}

.site-nav__item--subnav:not(:last-child) a:hover {
    color: var(--color-green-four) !important
}

.site-nav__item--myAccount > a > i, .site-nav__item--myAccount > a > svg {
    display: none
}

@media (min-width:62em) {
    .site-nav__item--myAccount > a > i, .site-nav__item--myAccount > a > svg {
        display: inline-block;
        margin-left: 5px
    }

    .site-nav__item--myAccount ul li:last-child {
        border-top: 1px dotted #c7c7c7;
        margin: 5px 20px 0;
        padding: 0 10px
    }
}

.site-nav__cta {
    display: block;
    text-align: center;
    margin-top: 1.5rem
}

@media (min-width:62em) {
    .site-nav__cta {
        display: flex;
        align-items: center;
        justify-content: center
    }
}

.site-nav__cta .button {
    display: block;
    font-size: 1.35rem;
    padding: .85rem 1rem;
    border: 1px solid var(--color-green-four);
    background-color: transparent;
    transition: border .3s ease;
    text-decoration: none
}

    .site-nav__cta .button:hover {
        background-color: transparent;
        border-color: var(--color-green-four)
    }

@media (min-width:62em) {
    .site-nav__menu {
        position: absolute;
        top: 184%;
        background-color: var(--color-green-one);
        z-index: 999
    }
}

.site-nav__menu--inactive {
    max-height: 0;
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out;
    opacity: 0;
    overflow: hidden
}

@media (min-width:62em) {
    .site-nav__menu--inactive {
        max-height: 500px;
        display: none;
        opacity: 1;
        overflow: visible
    }
}

.site-nav__menu--active {
    opacity: 1;
    -webkit-transition: all .55s ease-in;
    -moz-transition: all .55s ease-in;
    -ms-transition: all .55s ease-in;
    -o-transition: all .55s ease-in;
    transition: all .55s ease-in
}

@media (min-width:62em) {
    .site-nav__menu--active {
        display: block;
        opacity: 1
    }
}

.site-nav__menu-body {
    padding: 20px 0
}

.site-nav__menu-sub-title {
    color: #fcbe18;
    border-bottom: 1px solid #7c7c7c;
    padding: 0 !important;
    margin: 0 20px;
    font-size: 18px;
    font-size: 1.125rem
}

    .site-nav__menu-sub-title i, .site-nav__menu-sub-title svg {
        padding: 0 10px 0 0
    }

.site-nav__menu-divider {
    width: 83%;
    border-top: 1px solid #676767;
    display: block;
    margin: 9px 0 9px 20px
}

.site-nav__menu-heading {
    font-family: var(--font-family-body);
    font-weight:bold;
    font-size: 1.125rem !important;
    color: var(--color-white) !important;
    padding-left: 20px;
    margin-bottom: 10px
}

.site-nav__menu-sub-item {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 40px;
    padding: 0 30px 0 30px;
    font-family: var(--font-family-body);
}

@media (min-width:48em) {
    .site-nav__menu-sub-item {
        line-height: 30px
    }
}

.site-nav__menu-sub-item a {
    position: relative;
    text-decoration: none;
    color: var(--color-white) !important
}

    .site-nav__menu-sub-item a:hover {
        cursor: pointer;
        color: var(--color-green-four) !important
    }

    .site-nav__menu-sub-item a i, .site-nav__menu-sub-item a svg {
        font-size: 10px;
        font-size: .625rem;
        position: absolute;
        top: 6px;
        left: -15px
    }

.site-nav__menu-links {
    list-style: none;
    padding: 0
}

.site-nav__menu-links--two-col {
    display: grid;
    grid-template-columns: 1fr
}

@media (min-width:62em) {
    .site-nav__menu-links--two-col {
        grid-template-columns: 1fr 1fr
    }
}

.site-nav__menu-links--three-col {
    display: grid;
    grid-template-columns: 1fr
}

@media (min-width:62em) {
    .site-nav__menu-links--three-col {
        grid-template-columns: 1fr 1fr 1fr
    }
}

.site-nav__menu-grid-layout {
    display: grid;
    grid-template-columns: 1fr !important
}

@media (min-width:62em) {
    .site-nav__menu-grid-layout {
        grid-template-columns: 1fr 1fr 1fr 1fr !important
    }
}

.home-hero .site-nav__wrap {
    overflow: visible;
    background-color: transparent
}

@media (min-width:62em) {
    .home-hero .site-nav__wrap {
        padding: 30px 0 10px
    }
}

.home-hero .site-nav__wrap > div > div {
    background-color: var(--color-green);
    width: 100%
}

@media (min-width:62em) {
    .home-hero .site-nav__wrap > div > div {
        background: 0 0;
        width: 96%
    }
}

.home-hero .site-nav__wrap > div > div.open {
    min-height: 100%;
    max-height: 1500px;
    margin: 0
}

@media (min-width:62em) {
    .home-hero .site-nav__wrap > div > div.open {
        margin: .5rem 2%
    }
}

.home-hero .site-nav__wrap > div > div.closed {
    margin: 0
}

@media (min-width:62em) {
    .home-hero .site-nav__wrap > div > div.closed {
        margin: 0 2%
    }
}

@media (min-width:62em) {
    .home-hero .site-nav__item > a {
        padding: 20px 10px
    }
}

.home-hero .site-nav__item--login a {
    border: none
}

@media (min-width:62em) {
    .home-hero .site-nav__item--login a {
        border: none
    }
}

@media (min-width:62em) {
    .home-hero .site-nav__item--login a:hover {
        color: #fcbe18 !important
    }
}

@media (min-width:62em) {
    .home-hero .site-nav__menu {
        position: absolute;
        top: 210%;
        background-color: rgba(0,0,0,.9);
        border-top: 3px solid #fcbe18;
        z-index: 999
    }
}

.home-hero .site-nav__menu-divider {
    width: 83%;
    border-top: 1px solid #676767;
    display: block;
    margin: 9px 0 9px 20px
}

footer {
    width: 100%;
    overflow: hidden
}

.site-footer {
    font-size: 14px;
    font-size: .875rem
}

.site-footer__wrap {
    background-color: var(--color-green);
    border-top: 5px solid var(--color-green-one);
    padding-bottom: 50px
}

.site-footer__icon-strip {
    display: flex;
    flex-direction: column-reverse;
    width: 96%;
    max-width: 1140px;
    padding: 30px 20px 20px;
    margin: 0 auto;
    overflow: hidden
}

@media (min-width:62em) {
    .site-footer__icon-strip {
        display: block;
        flex-direction: unset;
        width: 90%;
        max-width: 71.25rem
    }
}

.site-footer__container {
    width: 96%;
    margin: 20px auto 0;
    padding: 10px 20px 0
}

    .site-footer__container:after {
        content: "";
        display: table;
        clear: both
    }

@media (min-width:62em) {
    .site-footer__container {
        width: 90%;
        max-width: 71.25rem
    }
}

.site-footer__col {
    float: left;
    width: 25%;
    margin: 0;
    text-align: center
}

@media (min-width:48em) {
    .site-footer__col {
        text-align: left
    }
}

.site-footer__col--one {
    width: 25%
}

.site-footer__col--two {
    float: right;
    width: 65%
}

    .site-footer__col--two h2 {
        font-size: 16px;
        font-size: 1rem;
        margin: 5px 0 20px;
        color: #fff;
        font-weight: 700
    }

    .site-footer__col--two .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

@media (min-width:48em) {
    .site-footer__col--two .logos {
        flex-direction: row;
        justify-content: left
    }
}

.site-footer__col--two .logos .logo {
    padding: 20px 0;
    position: relative
}

@media (min-width:48em) {
    .site-footer__col--two .logos .logo {
        padding: 0 15px
    }

        .site-footer__col--two .logos .logo:first-child {
            padding-left: 0
        }

        .site-footer__col--two .logos .logo:last-child {
            padding-right: 0
        }
}

.site-footer__col--two .logos .logo img {
    max-width: 7.875rem
}

@media (min-width:48em) {
    .site-footer__col--two .logos .logo img {
        max-width: 100%
    }
}

.site-footer__col--two .logos .logo.living-wage img {
    max-width: 7rem
}

.site-footer__col--two .logos .logo.green-mark img {
    max-width: 4.725rem
}

.site-footer__col--two .logos .logo.mindful-employer img {
    max-width: 6rem
}

.site-footer__col--two .logos .logo.acra img {
    max-width: 7.5rem
}

.site-footer__col--two .logos .logo.cnb img {
    max-width: 4.85rem
}

.site-footer__col--two .logos .logo.cse img {
    max-width: 5.65rem
}

.site-footer__col--title {
    font-size: 16px;
    font-size: 1rem;
    color: #fff !important
}

.site-footer__col--nav {
    text-align: left;
    margin: 0 !important
}

@media (min-width:48em) {
    .site-footer__col--nav {
        min-height: 180px
    }

        .site-footer__col--nav:not(:first-child) {
            padding-left: 10px
        }
}

.site-footer__col--nav > ul {
    max-height: 0;
    overflow: hidden
}

@media (min-width:48em) {
    .site-footer__col--nav > ul {
        max-height: 300px;
        overflow: visible
    }
}

.site-footer__col--nav.expand > ul {
    max-height: 300px;
    overflow: visible
}

.site-footer__col p {
    color: var(--color-white);
    margin-bottom: 25px;
    line-height: 18px
}

    .site-footer__col p a {
        color: var(--color-white);
    }

        .site-footer__col p a:hover {
            color: var(--color-white);
        }

.site-footer__col h4 {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: var(--font-family-body);
    font-weight: 600;
    float: left;
    width: 100%;
    display: block;
    padding: 0 0 5px;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-black)
}

@media (min-width:48em) {
    .site-footer__col h4 {
        margin: 0 0 15px
    }

        .site-footer__col h4 span {
            display: none
        }
}

.site-footer__col ul {
    margin: 15px 0 0;
    padding: 0
}

    .site-footer__col ul li {
        margin: 0 10px 4px 0;
        padding: 0;
        float: left;
        width: 100%;
        list-style-image: none;
        list-style-type: none
    }

.site-footer__col a[href^="tel:"] {
    color: inherit;
    text-decoration: none
}

.site-footer a {
    color: #676767 !important;
    text-decoration: none
}

    .site-footer a:hover {
        color: var(--color-green) !important;
    }

.card-icon {
    float: left;
    width: 100%;
    max-width: 60px;
    margin: 0 5px 0 0;
    background-image: none
}

.social-icons {
    width: 100%;
    max-width: 280px;
    float: right;
    text-align: right
}

.social-icons__item {
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    float: right;
    margin: 0 5px 0 0;
    cursor: pointer;
    background-image: none;
    color: #fff
}

.social-icons__item--youtube {
    background-color: red
}

.social-icons__item--instagram {
    background-color: #e1306c
}

.social-icons__item--facebook {
    background-color: #295396
}

.social-icons__item--twitter {
    background-color: #1e3050
}

.social-icons__item--linkedin {
    background-color: #0076b3
}

.social-icons__item--website {
    background-color: #ccc
}

.social-icons__item--podcast {
    background-color: #74c0fc
}

.social-icons__item--blog {
    background-color: #0ca678
}

.social-icons__item:hover {
    opacity: .7
}

.social-icons__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff !important;
    font-size: 17px
}

@media handheld,screen and (max-width:767px) {
    .site-footer {
        font-size: 14px;
        font-size: .875rem;
        line-height: 21px
    }

    .site-footer__icon-strip {
        text-align: center
    }

    .site-footer__col {
        width: 100%;
        padding: 0;
        margin: 0 0 20px
    }

        .site-footer__col:nth-child(4) h4 {
            border-bottom: 0
        }

        .site-footer__col h4 {
            font-size: 16px;
            font-size: 1rem;
            font-weight: 700;
            margin-top: 30px;
            padding-bottom: 20px;
            border-bottom: 2px solid #7c7c7c
        }

            .site-footer__col h4 span {
                font-size: 30px;
                font-size: 1.875rem;
                display: inline-block;
                min-width: 21px;
                float: right
            }

        .site-footer__col ul li a {
            width: 100%;
            margin: 0;
            line-height: 31px;
            padding: 0;
            height: 35px;
            display: block;
            line-height: 31px
        }

    .site-footer p {
        line-height: 21px
    }

    .card-icon {
        display: inline-block;
        float: none;
        height: 50px;
        margin: 0 5px
    }

    .social-icons {
        max-width: 100%;
        text-align: center;
        padding: 20px 0;
        text-align: center;
        border: 0
    }

    .social-icons__item {
        display: inline-block;
        float: none
    }
}

@media handheld,screen and (min-width:768px) and (max-width:959px) {
    .site-footer__icon-strip {
        text-align: center
    }

    .social-icons {
        max-width: 100%;
        text-align: center;
        padding: 20px 0;
        text-align: center;
        border-top: 1px solid #eee
    }

    .social-icons__item {
        display: inline-block;
        float: none
    }

    .card-icon {
        display: inline-block;
        float: none;
        height: 50px;
        margin: 0 5px
    }
}

#tooltip-footer {
    font-size: 14px;
    font-size: .875rem;
    position: absolute;
    background-color: #fff;
    border: 5px solid #ccc;
    padding: 20px;
    line-height: 20px;
    margin: 0 0 10px;
    height: auto;
    width: 100%
}

@media (min-width:48em) {
    #tooltip-footer {
        max-width: 600px !important
    }
}

#tooltip-footer .tooltip-title {
    font-size: 22px;
    font-size: 1.375rem;
    font-family: var(--font-family-body) !important;
    color: #000 !important;
    font-weight: 400
}

#tooltip-footer .tooltip-close {
    display: block
}

@media (min-width:62em) {
    #tooltip-footer .tooltip-close {
        display: none
    }
}

#tooltip-footer p {
    color: #717171 !important;
    margin: 8px 0 !important;
    padding: 0 !important
}

form.static-form {
    width: 100%;
    overflow: hidden;
    margin: auto
}

    form.static-form input {
        padding: 0 15px;
        border: 0;
        font-size: 15px;
        font-size: .9375rem;
        line-height: normal;
        height: 50px
    }

@media (min-width:62em) {
    form.static-form input {
        font-size: 21px;
        font-size: 1.3125rem
    }
}

.header-open {
    background-color: var(--color-white)  !important;
}

.home-hero .site-header {
    padding: 10px 0;
    background-color: transparent
}

.home-hero .site-header__wrap {
    margin: 0;
    margin-left: auto;
    margin-right: auto
}

.home-hero .site-header__contact {
    color: #fff;
    font-weight: 700;
    margin-top: 0
}

@media (min-width:62em) {
    .home-hero .site-header__contact {
        margin-top: 5px
    }
}

@media (min-width:62em) {
    .home-hero .site-header__contact {
        font-weight: 400
    }
}

.home-hero .site-header__contact a:first-of-type {
    margin-right: 10px
}

.home-hero .site-header__contact i, .home-hero .site-header__contact svg {
    position: relative;
    top: 0;
    color: #fff;
    padding-right: 0;
    font-size: 17px
}

.home-hero .site-header__contact > a {
    color: #fff
}

    .home-hero .site-header__contact > a:hover {
        color: #fff
    }

@media (min-width:62em) {
    .home-hero .site-header__contact {
        font-size: 15px;
        font-size: .9375rem;
        margin: 11px 0 0
    }
}

.home-hero .site-header__open {
    color: #fff !important
}

.site-header {
    background-color: var(--color-white);
}

@media (min-width:62em) {
    .site-header {
        background-color: transparent;
        margin: 0
    }
}

.site-header__wrap {
    min-height: 60px;
    padding-top: 5px
}

@media (min-width:62em) {
    .site-header__wrap {
        margin: 10px auto
    }
}

.site-header__logo {
    margin: 10px 0 0;
    float: left
}

@media (min-width:62em) {
    .site-header__logo {
        margin: 0
    }
}

.site-header__logo img {
    width: 125px;
    max-width: 228px
}

@media (min-width:62em) {
    .site-header__logo img {
        width: 100%
    }
}

.site-header__contact {
    position: relative;
    float: right;
    text-align: right;
    margin: 17px 0 0;
    max-height: 20px;
    top: 10px
}

@media (min-width:62em) {
    .site-header__contact {
        margin-top: 0;
        max-height: 75px;
        top: 0
    }
}

.site-header__contact a.button {
    font-size: 13px;
    font-size: .8125rem
}

.site-header__contact--auth {
    margin-top: 5px
}

.site-header__contact {
    font-size: 16px;
    font-size: 1rem;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0
}

@media (min-width:62em) {
    .site-header__contact {
        font-size: 15px;
        font-size: .9375rem;
        margin: 7px 0 0
    }
}

.site-header__contact i, .site-header__contact svg {
    font-size: 17px;
    font-size: 1.0625rem;
    display: inline-block
}

.site-header__contact a:first-of-type {
    margin-right: 10px
}

.site-header__contact > a {
    text-decoration: none;
    color: #fff
}

@media (min-width:62em) {
    .site-header__contact > a {
        color: var(--color-black) !important;
        display: inline-block
    }
}

.site-header__contact > a:hover {
    color: var(--color-green) !important;
}

.site-header__contact, .site-header__tagline {
    display: none
}

@media (min-width:48em) {
    .site-header__contact, .site-header__tagline {
        display: inline-block
    }
}

.site-header__open {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: var(--font-family-body);
    color: #676767 !important;
    letter-spacing: -.5px
}

@media (min-width:62em) {
    .site-header__open {
        display: inline
    }
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width:62em) {
    .container {
        max-width: 64rem;
        padding-left: 10px;
        padding-right: 10px
    }
}

.container__full-width {
    width: 100%;
    max-width: 100%
}

.container__full-width--grey {
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc
}

.container__full-width .row {
    margin-bottom: 0
}

.row {
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
    height: auto
}

    .row [class^=col] {
        float: left;
        display: block;
        position: relative;
        margin: 0;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px
    }

.col {
    width: 100%
}

.hidden-xs {
    display: block
}

.hidden-lg, .hidden-md, .hidden-sm {
    display: none
}

@media (max-width:36em) {
    .col-xs-1 {
        width: 8.3333333333%
    }

    .col-xs-2 {
        width: 16.6666666667%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-4 {
        width: 33.3333333333%
    }

    .col-xs-5 {
        width: 41.6666666667%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-7 {
        width: 58.3333333333%
    }

    .col-xs-8 {
        width: 66.6666666667%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-10 {
        width: 83.3333333333%
    }

    .col-xs-11 {
        width: 91.6666666667%
    }

    .col-xs-12 {
        width: 100%
    }

    .hidden-xs {
        display: none
    }
}

@media (min-width:36em) {
    .col-sm-1 {
        width: 8.3333333333%
    }

    .col-sm-2 {
        width: 16.6666666667%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.3333333333%
    }

    .col-sm-5 {
        width: 41.6666666667%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.3333333333%
    }

    .col-sm-8 {
        width: 66.6666666667%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: 83.3333333333%
    }

    .col-sm-11 {
        width: 91.6666666667%
    }

    .col-sm-12 {
        width: 100%
    }

    .hidden-sm {
        display: block
    }
}

@media (min-width:48em) {
    .col-md-1 {
        width: 8.3333333333%
    }

    .col-md-2 {
        width: 16.6666666667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.3333333333%
    }

    .col-md-5 {
        width: 41.6666666667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.3333333333%
    }

    .col-md-8 {
        width: 66.6666666667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.3333333333%
    }

    .col-md-11 {
        width: 91.6666666667%
    }

    .col-md-12 {
        width: 100%
    }

    .hidden-md {
        display: block
    }
}

@media (min-width:62em) {
    .col-lg-1 {
        width: 8.3333333333%
    }

    .col-lg-2 {
        width: 16.6666666667%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-4 {
        width: 33.3333333333%
    }

    .col-lg-5 {
        width: 41.6666666667%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-7 {
        width: 58.3333333333%
    }

    .col-lg-8 {
        width: 66.6666666667%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-10 {
        width: 83.3333333333%
    }

    .col-lg-11 {
        width: 91.6666666667%
    }

    .col-lg-12 {
        width: 100%
    }

    .hidden-lg {
        display: block
    }
}

@media (min-width:75em) {
    .col-xl-1 {
        width: 8.3333333333%
    }

    .col-xl-2 {
        width: 16.6666666667%
    }

    .col-xl-3 {
        width: 25%
    }

    .col-xl-4 {
        width: 33.3333333333%
    }

    .col-xl-5 {
        width: 41.6666666667%
    }

    .col-xl-6 {
        width: 50%
    }

    .col-xl-7 {
        width: 58.3333333333%
    }

    .col-xl-8 {
        width: 66.6666666667%
    }

    .col-xl-9 {
        width: 75%
    }

    .col-xl-10 {
        width: 83.3333333333%
    }

    .col-xl-11 {
        width: 91.6666666667%
    }

    .col-xl-12 {
        width: 100%
    }

    .hidden-xl {
        display: block
    }
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

    .slick-list:focus {
        outline: 0
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand
    }

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

    .slick-track:after, .slick-track:before {
        content: "";
        display: table
    }

    .slick-track:after {
        clear: both
    }

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: auto;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(https://s3-eu-west-1.amazonaws.com/1stformations/assets/live/images/ajax-loader.gif) center center no-repeat
}

@font-face {
    font-family: slick;
    src: url(../assets/live/fonts/slick/slick.eot);
    src: url(../assets/live/fonts/slick/slick.eot?#iefix) format("embedded-opentype"), url(../assets/live/fonts/slick/slick.woff) format("woff"), url(../assets/live/fonts/slick/slick.ttf) format("truetype"), url(../assets/live/fonts/slick/slick.svg#slick) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

.slick-next, .slick-prev {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    padding: 0;
    border: none;
    outline: 0
}

    .slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
        outline: 0;
        background: 0 0;
        color: transparent
    }

        .slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
            opacity: 1
        }

    .slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
        opacity: .25
    }

    .slick-next:before, .slick-prev:before {
        font-family: slick;
        font-size: 20px;
        line-height: 1;
        color: #fff;
        opacity: .75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    left: auto;
    right: -25px
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    left: -25px;
    right: auto
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    left: 0;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%
}

    .slick-dots li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer
    }

        .slick-dots li button {
            border: 0;
            background: 0 0;
            display: block;
            height: 20px;
            width: 20px;
            outline: 0;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer
        }

            .slick-dots li button:focus, .slick-dots li button:hover {
                outline: 0
            }

                .slick-dots li button:focus:before, .slick-dots li button:hover:before {
                    opacity: 1
                }

            .slick-dots li button:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "•";
                width: 20px;
                height: 20px;
                font-family: slick;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                color: #000;
                opacity: .25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale
            }

        .slick-dots li.slick-active button:before {
            color: #fcbe18;
            opacity: .75
        }
.site-footer__wrap .site-footer__col.site-footer__col--one p a {
    color: var(--color-white) !important;
}
@media only screen and (max-width: 1040px) and (min-width: 1024px) {
    .site-nav__item > a {
        padding: 14px 3px;
    }
}
@media (max-width: 768px) {
    .accordion-faqs h3 {
    margin-top:50px;
    margin-bottom:50px;
    }
}
   