<footer>
    <div class="site-footer">
        <div class="site-footer__container">
            <div class="site-footer__col site-footer__col--nav">
                <h4>Packages <span>+</span></h4>
                <ul>
                    <li><a href="#">All Packages</a></li>
                    <li><a href="#">Digital Package</a></li>
                    <li><a href="#">Privacy Package</a></li>
                    <li><a href="#">Professional Package</a></li>
                    <li><a href="#">Prestige Package</a></li>
                    <li><a href="#">All Inclusive Package</a></li>
                    <li><a href="#">Non-Residents Package</a></li>
                    <li><a href="#">LLP Package</a></li>
                    <li><a href="#">Guarantee Package</a></li>
                    <li><a href="#">eSeller Package</a></li>
                    <li><a href="#">PLC Package</a></li>
                </ul>
            </div>
            <div class="site-footer__col site-footer__col--nav">
                <h4>
                    Useful
                    <span>+</span>
                </h4>
                <ul>
                    <li>
                        <a href="#">Company Services Overview</a>
                    </li>
                    <li>
                        <a href="#">Serviced Offices</a>
                    </li>
                    <li>
                        <a href="#">Meeting Rooms</a>
                    </li>
                    <li>
                        <a href="#">London Registered Office</a>
                    </li>
                    <li>
                        <a href="#">London Business Address</a>
                    </li>
                    <li>
                        <a href="#">WONDER Partnership</a>
                    </li>
                    <li>
                        <a href="#">Scholarship</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Case Studies</a>
                    </li>
                    <li>
                        <a href="#">Partners Offers</a>
                    </li>
                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                </ul>
            </div>
            <div class="site-footer__col site-footer__col--nav">
                <h4>
                    Legal
                    <span>+</span>
                </h4>
                <ul>
                    <li>
                        <a href="#">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="#">Complaints Policy</a>
                    </li>
                    <li>
                        <a href="#">Refund &amp; Cancellation Policy</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Cookie Policy</a>
                    </li>
                    <li>
                        <a href="#">ID Requirements</a>
                    </li>
                    <li>
                        <a href="#">Modern Slavery Statement</a>
                    </li>
                </ul>
            </div>
            <div class="site-footer__col site-footer__col--nav">
                <h4>
                    Get in Touch
                    <span>+</span>
                </h4>
                <ul>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="tel:+442038972233">Call</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Email</a>
                    </li>
                    <li>
                        <a href="#">Affiliate Program</a>
                    </li>
                    <li>
                        <a href="#">Become a Partner</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site-footer__icon-strip">
            <div class="card-icons">
                <div class="card-icon card-icon--visa">
                    <img loading="lazy" src="/images/visa.svg" alt="Visa" title="Visa">
                </div>
                <div class="card-icon card-icon--mastercard">
                    <img loading="lazy" src="/images/mastercard.svg" alt="Mastercard" title="Mastercard">
                </div>
                <div class="card-icon card-icon--maestro">
                    <img loading="lazy" src="/images/maestro.svg" alt="Maestro" title="Maestro">
                </div>
                <div class="card-icon card-icon--amex">
                    <img loading="lazy" src="/images/amex.svg" alt="American Express" title="American Express">
                </div>
            </div>
            <div class="social-icons">
                <div class="social-icons__item social-icons__item--linkedin">
                    <a href="#" target="_blank" class="social-link" title="Visit us on LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="social-icons__item social-icons__item--twitter">
                    <a href="#" target="_blank" class="social-link" title="Visit us on X">
                        <i class="fab fa-x-twitter"></i>
                    </a>
                </div>
                <div class="social-icons__item social-icons__item--facebook">
                    <a href="#" target="_blank" class="social-link" title="Visit us on Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <div class="social-icons__item social-icons__item--instagram">
                    <a href="#" target="_blank" class="social-link" title="Visit us on Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="social-icons__item social-icons__item--youtube norightmargin">
                    <a href="#" target="_blank" class="social-link" title="Visit us on YouTube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="site-footer__wrap">
            <div class="site-footer__container">
                <div class="site-footer__col site-footer__col--one">
                    <a href="#">
                        <img alt="Spendwise Ltd Logo" loading="lazy" src="/images/Logo-for-website-SpendWise-Logo-New.png">
                    </a>
                    <br>
                    <br>
                    <p>
                        Spendwise Limited<br>
                        Registered in England & Wales
                        <br>at
                        <span>
                            <span>71-75, Shelton Street</span>,
                            <span>Covent Garden, London</span>,
                            <span>WC2H 9JQ</span>
                        </span>
                        <br>
                        <br>Tel:
                        <span><a href="tel:+442038972233" style="color:inherit">020 3897 2233</a></span>
                        <br>
                        <br>Company Nr: 08861249
                        <br><span>ICO Registration Nr: <a href="#" target="_blank" style="color:inherit">ZA079053</a></span>
                        <br>VAT Registration Nr: 185 8695 41
                    </p>
                    <p>
                        Copyright <span class="year">2024</span> &copy;
                        <span>Spendwise</span>
                    </p>
                </div>
                <div class="site-footer__col site-footer__col--two">
                    <h2>Accreditations</h2>

                    <div class="logos">
                        <div class="logo living-wage">
                            <img loading="lazy" src="/images/living-wage--color.png" rel="tooltip-footer" title="<p class='tooltip-title'>The Living Wage Foundation</p><p>In April 2016 the government introduced a higher minimum wage rate for all staff over 25 years of age and called it the ‘national living wage’.</p>
                            <p>Unfortunately, the government's 'national living wage' is not calculated according to what employees and their families need to live.</p>
                            <p>Spendwise is proud to be a member of The Living Wage Foundation who pay all employees the real Living Wage which is higher than the government’s ‘national living wage’ and is voluntarily paid by over 4,400 UK businesses who believe their staff deserve a fair day's pay for a hard day's work. We also make sure all our employees in London receive the London Living Wage.</p>
                            <p>Over 150,000 employees have received a pay rise as a result of the Living Wage campaign. Other employers accredited with the Foundation including 1/3 of the FTSE 100 and big household names including ITV, GOOGLE, IKEA, Everton FC and Chelsea FC.</p>">
                        </div>

                        <div class="logo acra">
                            <img loading="lazy" src="/images/acra--white.png" rel="tooltip-footer" title="<p class='tooltip-title'>ACRA</p><p>Spendwise is a member of ACRA, the Association of Company Formation Agents, which is an organisation with the purpose of encouraging high standards amongst agents and acting as an open forum for professionals working in the industry.</p>
                            <p>ACRA is the only recognised association for company registration and ACRA works closely with Government departments such as Companies House, HMRC, BEIS and HM Treasury.</p>
                            <p>Our ACRA membership is an endorsement of the quality of service we provide and gives our customers confidence they are dealing with an agent they can trust.</p>">
                        </div>

                        <div class="logo mindful-employer">
                            <img loading="lazy" src="/images/mindful-employer--white.png" rel="tooltip-footer" title="<p class='tooltip-title'>Mindful Employer</p><p>Mindful Employer was launched in 2004 and was an NHS initiative run by Workways who support people with mental health conditions to find and remain in employment. It has since been developed by employers into a UK wide initiative and has been recommended as good practice by the UK government.</p>
                            <p>Mindful Employer provides employers with easier access to information, local support, mental health awareness training and other resources to help employers support staff. Essentially the organisation is about increasing awareness of mental health, providing support networks and information, and making it easier to talk about mental health.</p>
                            <p>Being a Mindful Employer demonstrates a willingness to enable discussion of mental ill health to take place without fear of rejection or prejudice.</p>">
                        </div>

                        <div class="logo green-mark">
                            <img loading="lazy" src="/images/green-mark--color.png" rel="tooltip-footer" title="<p class='tooltip-title'>Green Mark Accreditation</p><p>Green Mark is an internationally recognised sustainability accreditation scheme.  Their certification process assesses, audits, and certifies a business' impact on the environment. This enables businesses to review, manage and implement policies to save energy, reduce waste and ultimately become more sustainable.</p>
                            <p>Spendwise is a Green Mark Level 2 accredited business.  </p>
                            <p>By achieving Green Mark Level 2 accreditation, we have demonstrated that we are operating to recognised environmental standards and have developed a comprehensive action plan which will push for environmental improvement.</p>">
                        </div>

                        <div class="logo cnb">
                            <img loading="lazy" src="/images/cnb--white.png?v=2" rel="tooltip-footer" title="<p class='tooltip-title'>Carbon Neutral Britain</p><p>As of June 2022, we are delighted to be certified as a Carbon Neutral Business by Carbon Neutral Britain.</p>
                            <p>Carbon Neutral Britain - “the UK’s Carbon Offsetting Initiative” - has helped over 1,000 companies become carbon neutral.</p>
                            <p>They work with businesses and individuals by assisting them with measuring and offsetting their carbon footprint, making a genuine impact on the climate change crisis.</p>
                            <p>Their projects have offset over 500,000 tonnes of CO²e and planted more than 3 million trees across the world, helping stop climate change and providing essential forest habitats for endangered wildlife.</p>">
                        </div>

                        <div class="logo cse">
                            <img loading="lazy" src="/images/cse_logo.png
                            " rel="tooltip-footer" title="<p class='tooltip-title'>Cyber Essentials</p><p>Cyber Essentials is a comprehensive security framework developed by the UK Government and the National Cyber Security Centre. It provides a systematic approach to safeguarding organisational IT systems from various cyber threats.</p>
                            <p>Earning the Cyber Essentials certification demonstrates our commitment to robust security practices, willingness to undergo rigorous assessments by authoritative bodies, and dedication to maintaining the safety and trust of our clients. Spendwise commits to annual reassessments, reinforcing our pledge to continual safety enhancements and modernisation.</p>
                            <p>This certification affirms Spendwise' dedication to addressing the evolving security challenges of today’s technological landscape.</p>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>