@page
@model Spendwise_WebApp.Pages.About_usModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<style>
    /*
            .service-add-page .fa-li,
            .fa-li {
                top: 0em !important;
            }
            */

    .sitemap h3,
    .sitemap h4 {
        font-weight: 600 !important;
    }

    .fs-32 {
        font-size: 2rem;
    }

    .pack-container .fa-li.fa-check {
        top: 3px !important;
        font-size: 18px;
    }

    #packages-tabs .fa-ul li,
    .main-content li {
        margin: 0 0 13px 25px;
    }

    #packages-tabs .fp-left-col ul.fa-ul {
        margin-top: 15px !important;
    }

    .colfaqs ul.fa-ul {
        margin-top: 5px !important;
    }

    .numeric-ul {
        list-style-type: decimal;
    }

        .numeric-ul li {
            list-style-type: decimal;
        }

    .service-add-page h4 {
        margin-bottom: 20px
    }

    body {
        font-size: 16px !important;
    }

    .main-content ul,
    .main-content ol,
    .main-content li,
    .main-content p,
    .main-content b,
    .main-content strong {
        font-size: 16px !important;
        line-height: 1.4;
    }

    .main-content h3 {
        padding-bottom: 0;
    }

    .main-content h4 {
        font-size: 21px;
    }

    .main-content__internal-pages ul > li {
        margin-left: 45px;
    }

    .main-content__internal-pages ol > li {
        margin-left: 45px;
    }

    .ff-link-four,
    .ff-link-five {
        font-size: 16px;
        height: auto !important;
        line-height: 1.5 !important;
        display: flex;
        padding: 0;
    }

        .ff-link-four a,
        .ff-link-five a {
            padding: 10px 30px;
            height: auto !important;
            display: flex;
            justify-content: center;
            font-family: Myriad Semi Condensed,sans-serif;
            font-size: 18px;
        }

    .page-heading {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid #c2dff3;
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

        .page-heading h1,
        .page-heading h2,
        .page-heading h3 {
            font-size: 2rem;
            line-height: 1.2;
            color: #000;
            margin: 0;
            padding: 0;
        }

    .page-heading__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .page-heading__price {
        font-size: 31px;
        font-family: MyriadW08-BoldSemiConde !important;
        color: #333;
        margin-right: 1rem;
    }

    .page-heading__button {
        padding: 15px 30px;
        background-color: #5ea72d;
        font-family: MyriadW08-SemiCondensed !important;
        font-size: 1.5rem;
        color: #fff !important;
    }

        .page-heading__button:hover {
            background-color: #4d961c;
        }

        .page-heading__button.compare-packages {
            background-color: #31a5cb;
            margin-left: .5em;
        }

            .page-heading__button.compare-packages:hover {
                background-color: #1387ad;
            }

    .package-faqs,
    .service-faqs {
        margin-top: 20px;
    }

        .package-faqs > h2,
        .service-faqs > h2 {
            font-size: 2rem;
            line-height: 1.2;
            margin-bottom: 2rem;
            padding: 0;
            color: #000;
            border-bottom: 1px solid #c2dff3;
            padding-bottom: 1rem;
        }

    .service-faqs__columns,
    .package-faqs__columns {
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 30px;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }

    .service-faqs__faq,
    .package-faqs__faq {
        margin-bottom: 1.25rem;
    }

        .service-faqs__faq h2,
        .package-faqs__faq h2,
        .service-faqs__faq h3,
        .package-faqs__faq h3 {
            font-size: 1.4375rem !important;
            line-height: 1.35 !important;
            margin-bottom: .5rem !important;
            padding: 0 !important;
            border: 0 !important;
        }

        .service-faqs__faq p,
        .package-faqs__faq p {
            font-size: 16px !important;
            line-height: 1.4 !important;
            margin: 0;
            margin-bottom: 0.5rem;
        }

        .service-faqs__faq ul li,
        .service-faqs__faq ol li,
        .package-faqs__faq ul li,
        .package-faqs__faq ol li {
            margin-bottom: .625rem;
        }

    .page-banner .sp-heading {
        margin-top: 65px !important;
    }

        .page-banner .sp-heading h1 {
            margin-bottom: 10px;
        }

            .page-banner .sp-heading h1.redux {
                font-size: 36px;
                line-height: 1.25;
            }

    .page-banner a.btn.btn-buy-now.btn-order {
        margin-top: 25px;
        padding: 15px 30px;
        background-color: #5ea72d;
        font-family: MyriadW08-SemiCondensed !important;
        font-size: 1.5rem;
        color: #fff;
        float: left;
        clear: left;
        box-sizing: border-box;
        border: 1px solid;
    }

        .page-banner a.btn.btn-buy-now.btn-order:hover {
            background-color: #4d961c;
        }

    .your-address-service {
        display: grid;
        grid-template-columns: 1.5fr 1.1fr;
        border: 1px solid #ccc;
        margin-bottom: 30px;
    }

    .your-address-service__image {
        overflow: hidden;
        background-image: url('https://cdn-brand.s3.eu-west-1.amazonaws.com/assets/images/71-75SheltonStreetXL.jpg');
        background-size: cover;
    }

    .your-address-service__content {
        padding: 20px;
    }

        .your-address-service__content h3 {
            color: #11abe4;
        }

        .your-address-service__content p {
            margin-bottom: 0;
            color: #000;
        }

    .address-how-to-buy {
        padding: 20px;
        background-color: #f8f8f8;
        border: 1px solid #CBCBCB;
        box-sizing: border-box;
        float: left;
    }

        .address-how-to-buy h2 {
            color: #11abe4;
        }

        .address-how-to-buy ul {
            color: #000;
        }

    .no-padding {
        padding: 0 !important;
    }

    .buy-service__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .buy-service__price {
        font-size: 2rem;
        font-family: MyriadW08-BoldSemiConde !important;
        color: #fff;
        margin-right: 1rem;
    }

    .buy-service__button {
        padding: 15px 30px;
        background-color: #5ea72d;
        font-family: MyriadW08-SemiCondensed !important;
        font-size: 1.5rem;
        color: #fff !important;
    }

        .buy-service__button:hover {
            background-color: #4d961c;
        }

    .gradient--blue {
        background: rgb(28,141,212);
        background: -moz-linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
        background: linear-gradient(90deg, rgba(28,141,212,1) 0%, rgba(11,216,209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c8dd4",endColorstr="#0bd8d1",GradientType=1);
    }

    .gradient--orange {
        background: rgb(242,158,11);
        background: -moz-linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
        background: linear-gradient(90deg, rgba(242,158,11,1) 0%, rgba(236,177,18,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f29e0b",endColorstr="#ecb112",GradientType=1);
    }

    .gradient--green {
        background: rgb(66,147,12);
        background: -moz-linear-gradient(90deg, rgba(66,147,12,1) 0%, rgba(169,203,50,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(66,147,12,1) 0%, rgba(169,203,50,1) 100%);
        background: linear-gradient(90deg, rgba(66,147,12,1) 0%, rgba(169,203,50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42930c",endColorstr="#a9cb32",GradientType=1);
    }

    .gradient--teal {
        background: rgb(82,141,135);
        background: -moz-linear-gradient(90deg, rgba(82,141,135,1) 0%, rgba(167,222,205,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(82,141,135,1) 0%, rgba(167,222,205,1) 100%);
        background: linear-gradient(90deg, rgba(82,141,135,1) 0%, rgba(167,222,205,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#528d87",endColorstr="#a7decd",GradientType=1);
    }

    .bg-image-aboutus {
        min-height: 400px;
    }

    .team-sort li {
        padding-right: 15px;
        display: flex;
    }

        .team-sort li a {
            line-height: 1.05;
        }

    .team-member:nth-child(6n+1) {
        clear: none;
    }

    .team-member {
        padding-left: 5px;
        padding-right: 5px;
        overflow: visible !important;
    }

    .team-member-box {
        min-height: 203px;
    }

    .team-member-desc p:last-child {
        min-height: 57px;
    }


    .infobox {
        position: absolute;
        bottom: 110%;
        right: -15%;
        padding: 10px;
        display: none;
        z-index: 123;
        background-color: #fff;
        box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .3);
        width: 206px;
        height: auto;
        border-radius: 4px;
    }

        .infobox:after {
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-width: 8px;
            margin-left: -8px;
        }

    .infobox-arrow--bottom:after {
        top: 100%;
        border-top-color: #fff;
    }

    .infobox-btn {
        cursor: pointer;
    }

    .infobox__wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
        transition-duration: 350ms;
        animation-duration: 350ms;
        display: block;
    }

    .infobox__content {
        margin: 0;
        box-shadow: none;
        overflow: hidden;
        padding: 10px;
    }

    .infobox__close {
        display: none !important;
    }

    .infobox--active {
        display: block;
    }


    .about-us-social {
        margin-top: 8px;
    }

        .about-us-social a {
            font-size: 28px;
            margin-right: 5px;
        }

            .about-us-social a.youtube {
                color: #c4302b !important;
            }

            .about-us-social a.instagram {
                background: -webkit-linear-gradient(#F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .about-us-social a.facebook {
                color: #3b5998 !important;
            }

            .about-us-social a.twitter {
                color: #00acee !important;
            }

            .about-us-social a.linkedin {
                color: #0e76a8 !important;
            }

    .about-us-gallery__carousel .slick-slide {
        margin: 0 15px 30px 15px;
    }

    .about-us-gallery__carousel .slick-dots {
        bottom: -40px;
    }

    .about-us-gallery__carousel {
        margin-top: 50px;
        width: 100%;
    }

    .about-us-gallery__item {
        display: block;
    }

        .about-us-gallery__item img {
            width: 100%;
        }

    .about-us-gallery__carousel .slick-arrow:before {
        color: #333;
    }

</style>

<div class="container-one-white padding-bot-ft first-about">
    <div class="container-inner">
        <section class="main-content">
            <div class="page-heading" style="flex-direction:row;">
                <div class="page-heading__left">
                    <h1>About us</h1>
                </div>
                <div class="page-heading__right">
                    <a class="page-heading__button compare-packages" href="/contact-us/">Contact us</a>
                </div>
            </div>
            <div class="col-one-wide fp-left-col">
                <h3>Who we are</h3>
                <p><strong>Market leaders</strong></p>
                <p class="mr-bot-20">1st Formations is the UK's leading company formation agent. Founded in 2014, we have formed over 1 million companies and assisted many thousands of clients to grow their business with expert advice on limited companies, reporting requirements, and corporate governance.</p>
                <p><strong>Our values</strong></p>
                <p class="mr-bot-20">Customer service excellence is the driving force of what we do. Our highly trained team is devoted to supporting our customers before, during, and after the company formation process. We also pride ourselves in our environmental responsibility, diversity and inclusion, and the support of many UK charities.</p>
                <p><strong>Business improvement</strong></p>
                <p class="mr-bot-20">We are dedicated to a program of continuous business improvement. Our team is focused on developing our range of services to provide new and innovative products. We pride ourselves on listening to our customers to properly understand how we can help them achieve their goals.</p>
            </div>
            <div class="col-one-wide fp-right-col">
                <h3>What we do</h3>
                <p><strong>Online company formation</strong></p>
                <p class="mr-bot-20">As an authorised Companies House eFiling agent, we offer quick and simple online company formation, for customers from the UK and overseas, with the majority of new companies registered within just 24 hours.</p>
                <p><strong>Address services</strong></p>
                <p class="mr-bot-20">1st Formations provides a range of address services, from our enviable Covent Garden, London location, including Registered Office, Directors Service Address, and Business Address.</p>
                <p><strong>Corporate governance</strong></p>
                <p class="mr-bot-30">Our Company Secretarial Team has developed a comprehensive range of corporate governance services and products that help our clients maintain regulatory compliance and reporting.</p>
                <h3>Our Social Media</h3>
                <div class="social-icons float-left-imp align-left-imp" style="text-align: left!important; float: left!important; max-width: unset; display: flex; flex-direction: row-reverse; justify-content: start;">
                    <div class="social-icons__item social-icons__item--linkedin">
                        <a href="https://www.linkedin.com/company/1st-formations" target="_blank" class="social-link" title="Visit us on LinkedIn">
                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="social-icons__item social-icons__item--twitter">
                        <a href="https://x.com/1stformations" target="_blank" class="social-link" title="Visit us on X">
                            <i class="fab fa-x-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="social-icons__item social-icons__item--facebook">
                        <a href="https://www.facebook.com/1stformations" target="_blank" class="social-link" title="Visit us on Facebook">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="social-icons__item social-icons__item--instagram">
                        <a href="https://www.instagram.com/1stformationsofficial/" target="_blank" class="social-link" data-title="Visit us on Instagram" title="Visit us on Instagram">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="social-icons__item social-icons__item--youtube norightmargin">
                        <a href="https://www.youtube.com/channel/UCQPqa9rfOWE5MXeaXUE_mRw" target="_blank" class="social-link" data-title="Visit us on YouTube" title="Visit us on YouTube">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </section>
    </div>
</div>