@page
@model Spendwise_WebApp.Pages.About_usModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<div class="container-one-white padding-bot-ft first-about">
    <div class="bg-overlay">
        <div class="col-five bg-image-packages bg-image-aboutus expand" style="position: relative; background: none;">
            <div class="container-inner">
                <div class="col-five sp-top"> </div>
                <div class="col-five sp-heading"></div>
                <div class="clearfix"> </div>
            </div>
            <div class="anystretch"><img src="/images/about-us-banner.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; z-index: -999999; width: 1920px; height: 400px; left: -285.5px; top: 0px;"></div>
        </div>
    </div>
    <div style="height:300px">&nbsp;</div>
    <div class="container-inner">
        <section class="main-content">
            <div class="page-heading" style="flex-direction:row;">
                <div class="page-heading__left">
                    <h1>About us</h1>
                </div>
                <div class="page-heading__right">
                    <a class="page-heading__button compare-packages" href="/contact-us/">Contact us</a>
                </div>
            </div>
            <div class="col-one-wide fp-left-col">
                <h3>Who we are</h3>
                <p><strong>Market leaders</strong></p>
                <p class="mr-bot-20">Spendwise is the UK's leading company formation agent. Founded in 2014, we have formed over 1 million companies and assisted many thousands of clients to grow their business with expert advice on limited companies, reporting requirements, and corporate governance.</p>
                <p><strong>Our values</strong></p>
                <p class="mr-bot-20">Customer service excellence is the driving force of what we do. Our highly trained team is devoted to supporting our customers before, during, and after the company formation process. We also pride ourselves in our environmental responsibility, diversity and inclusion, and the support of many UK charities.</p>
                <p><strong>Business improvement</strong></p>
                <p class="mr-bot-20">We are dedicated to a program of continuous business improvement. Our team is focused on developing our range of services to provide new and innovative products. We pride ourselves on listening to our customers to properly understand how we can help them achieve their goals.</p>
            </div>
            <div class="col-one-wide fp-right-col">
                <h3>What we do</h3>
                <p><strong>Online company formation</strong></p>
                <p class="mr-bot-20">As an authorised Companies House eFiling agent, we offer quick and simple online company formation, for customers from the UK and overseas, with the majority of new companies registered within just 24 hours.</p>
                <p><strong>Address services</strong></p>
                <p class="mr-bot-20">Spendwise provides a range of address services, from our enviable Covent Garden, London location, including Registered Office, Directors Service Address, and Business Address.</p>
                <p><strong>Corporate governance</strong></p>
                <p class="mr-bot-30">Our Company Secretarial Team has developed a comprehensive range of corporate governance services and products that help our clients maintain regulatory compliance and reporting.</p>
                <h3>Our Social Media</h3>
                <div class="social-icons float-left-imp align-left-imp" style="text-align: left!important; float: left!important; max-width: unset; display: flex; flex-direction: row-reverse; justify-content: start;">
                    <div class="social-icons__item social-icons__item--linkedin">
                        <a href="https://www.linkedin.com/company/1st-formations" target="_blank" class="social-link" title="Visit us on LinkedIn">
                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="social-icons__item social-icons__item--twitter">
                        <a href="https://x.com/1stformations" target="_blank" class="social-link" title="Visit us on X">
                            <i class="fab fa-x-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="social-icons__item social-icons__item--facebook">
                        <a href="https://www.facebook.com/1stformations" target="_blank" class="social-link" title="Visit us on Facebook">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="social-icons__item social-icons__item--instagram">
                        <a href="https://www.instagram.com/1stformationsofficial/" target="_blank" class="social-link" data-title="Visit us on Instagram" title="Visit us on Instagram">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="social-icons__item social-icons__item--youtube norightmargin">
                        <a href="https://www.youtube.com/channel/UCQPqa9rfOWE5MXeaXUE_mRw" target="_blank" class="social-link" data-title="Visit us on YouTube" title="Visit us on YouTube">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </section>
    </div>
</div>