@page
@model Spendwise_WebApp.Pages.accountModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<link href="~/css/FAQ.css" rel="stylesheet" />
<link href="~/css/account.css" rel="stylesheet" />

<div class="col-five clientpage">
    <div class="container-inner">
        <div style="display:none;">
            <div id="efPageContent" class="ui-widget">
                <div id="efAuthenticatedContent">
                    <div class="efAccountMenu ui-corner-all ui-widget-content ui-widget-header">
                        <ul class="efAccountMenuTabs">
                            <li class="efAccountMainMenuLi">
                                <a href="#" class="ui-corner-all ui-widget-content ui-state-default efAccountMainMenuItem efAccountMenuItem_MyAccount"><img src="/assets/icons/user_suit.png" alt="">My Account ▼</a>
                                <ul class="efAccountSubMenuUl">
                                    <li class="efAccountSubMenuLi current"><a href="/account/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_Overview"><img src="/assets/icons/user_suit.png" alt=""> Dashboard</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/my-details/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_MyDetails"><img src="/assets/icons/user_edit.png" alt="">My Details</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/?gle=logout" class="ui-widget-content ui-state-default ui-corner-bottom efAccountSubMenuItem efAccountMenuItem_Logout"><img src="/assets/icons/door_in.png" alt="">Logout</a></li>
                                </ul>
                            </li>
                            <li class="efAccountMainMenuLi">
                                <a href="#" class="ui-corner-all ui-widget-content ui-state-default efAccountMainMenuItem efAccountMenuItem_Orders"><img src="/assets/icons/book.png" alt="">Orders ▼</a>
                                <ul class="efAccountSubMenuUl">
                                    <li class="efAccountSubMenuLi"><a href="/order-history/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_ViewAllOrders"><img src="/assets/icons/book.png" alt="">View All Orders</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/order-history/?s=0" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_Incomplete"><img src="/assets/icons/book_error.png" alt="">Incomplete</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/order-history/?s=70,80,100,200,400,600" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_InProgress"><img src="/assets/icons/book_open.png" alt="">In Progress</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/order-history/?s=700" class="ui-widget-content ui-state-default ui-corner-bottom efAccountSubMenuItem efAccountMenuItem_Completed"><img src="/assets/icons/book_go.png" alt="">Completed</a></li>
                                </ul>
                            </li>
                            <li class="efAccountMainMenuLi">
                                <a href="#" class="ui-corner-all ui-widget-content ui-state-default efAccountMainMenuItem efAccountMenuItem_Companies"><img src="/assets/icons/building.png" alt="">Companies ▼</a>
                                <ul class="efAccountSubMenuUl">
                                    <li class="efAccountSubMenuLi"><a href="/companies/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_ViewAllCompanies"><img src="/assets/icons/building.png" alt="">View All Companies</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/compare-packages/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_IncorporateNewCompany"><img src="/assets/icons/building_link.png" alt="">Incorporate New Company</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/company-add/" class="ui-widget-content ui-state-default ui-corner-bottom efAccountSubMenuItem efAccountMenuItem_ImportCompanyviaAuth.Code"><img src="/assets/icons/building_add.png" alt="">Import Company via Auth. Code</a></li>
                                </ul>
                            </li>
                            <li class="efAccountMainMenuLi">
                                <a href="#" class="ui-corner-all ui-widget-content ui-state-default efAccountMainMenuItem efAccountMenuItem_Services"><img src="/assets/icons/plugin.png" alt="">Services ▼</a>
                                <ul class="efAccountSubMenuUl">
                                    <li class="efAccountSubMenuLi"><a href="/services/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_ViewAllServices"><img src="/assets/icons/plugin.png" alt="">View All Services</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/services/?e=31&amp;s=active" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_ExpiringServices"><img src="/assets/icons/error.png" alt="">Expiring Services</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/services/?e=31&amp;s=cancelled-expired" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_RenewExpiredServices"><img src="/assets/icons/exclamation.png" alt="">Renew Expired Services</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/processed-mail/" class="ui-widget-content ui-state-default ui-corner-bottom efAccountSubMenuItem efAccountMenuItem_ProcessedMail"><img src="/assets/icons/email.png" alt="">Your Mail</a></li>
                                </ul>
                            </li>
                            <li class="efAccountMainMenuLi">
                                <a href="#" class="ui-corner-all ui-widget-content ui-state-default efAccountMainMenuItem efAccountMenuItem_Finances"><img src="/assets/icons/coins.png" alt="">Finances ▼</a>
                                <ul class="efAccountSubMenuUl">
                                    <li class="efAccountSubMenuLi"><a href="/payments/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_InvoiceHistory"><img src="/assets/icons/table.png" alt="">Invoice History</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/transaction-history/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_PaymentHistory"><img src="/assets/icons/money.png" alt="">Payment History</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/payment-on-account/" class="ui-widget-content ui-state-default  efAccountSubMenuItem efAccountMenuItem_PaymentOnAccount"><img src="/assets/icons/money_add.png" alt="">Payment On Account</a></li>
                                    <li class="efAccountSubMenuLi"><a href="/payment-authority-setup/" class="ui-widget-content ui-state-default ui-corner-bottom efAccountSubMenuItem efAccountMenuItem_CardManagement"><img src="/assets/icons/ruby_link.png" alt="">Card Management</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="efWebStateCompanySearch">
                            <input class="efTextInput ui-corner-all ui-widget-content ui-autocomplete-input" value="Search my companies..." onfocus="if(this.value=='Search my companies...')this.value=''" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                        </div>
                    </div>



                    <script>
                        jQuery(document).ready(function () {
                            jQuery(".efWebStateCompanySearch input").autocomplete({
                                source: "/ejax-company-search/",
                                position: { my: "right top", at: "right bottom" },
                                select: function (event, ui) {
                                    event.preventDefault();
                                    jQuery(".efWebStateCompanySearch input").val(ui.item.label);
                                    document.location.href = "/account/company/?i=" + ui.item.value;
                                }
                            });
                            var m = jQuery(".efAccountMenuTabs");
                            m.find(".efAccountMainMenuItem").on('mouseover', function () {
                                jQuery(this).addClass("ui-state-active");
                            }).on('mouseleave', function () {
                                jQuery(this).removeClass("ui-state-active");
                            });
                            m.find(".efAccountMainMenuLi").on('mouseover', function () {
                                jQuery(this).find("ul").show();
                            }).on('mouseleave', function () {
                                jQuery(this).find("ul").hide();
                            });
                            m.find(".efAccountSubMenuItem").on('mouseover', function () {
                                jQuery(this).addClass("ui-state-active");
                            }).on('mouseleave', function () {
                                jQuery(this).removeClass("ui-state-active");
                            });
                        });
                    </script>

                    <h2 id="efMyAccountTitle">My Account</h2><div id="efMyAccountContainer">
                        <p>Welcome to your account overview. From here you can keep track of your orders, check their status and manage your account details.</p><div id="efMyAccountOrderControls">


                            <div class="efPanel efAccountPanel ui-widget-content ui-corner-all" id="efPendingOrdersControl">
                                <div class="efPanelHeader ui-widget-header"><img src="/assets/icons/book_error.png" alt="">Incomplete Orders</div>
                                <div class="efPanelContent ui-corner-bottom" style="padding:0px">

                                    <table class="efTable efTableCondensed efTableUnbordered ui-corner-bottom ui-widget-content">
                                        <tbody>
                                            <tr class="efTableSubheader ui-widget-content">
                                                <td>Order ID</td>
                                                <td>Package / Type</td>
                                                <td>Description</td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                            <tr class="efOdd">
                                                <td>5043293</td>
                                                <td>Digital Package</td>
                                                <td>CODEPLUS</td>

                                                <td style="text-align:right;padding-right:0px">
                                                    <form method="post" id="delform_1" action="">
                                                        <input type="hidden" name="action" value="namecheckpath">
                                                        <input type="hidden" name="pa" value="deleteo">
                                                        <input type="hidden" name="tmpoid" value="5043293">
                                                        <a href="javascript:confirm_delete('1')" class="efButton efEditButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text"><img src="/assets/icons/cross.png" alt="">Delete</span></a>
                                                    </form>
                                                    <form action="/payment-gateway/">
                                                        <input type="hidden" name="action" value="namecheckpath">
                                                        <input type="hidden" name="pt" value="d96d2580-04ae-11f0-866c-42010a84002e">
                                                        <input type="hidden" name="csrf-token" value="3c64956afc7f20c5adc73357fe154a3ad362b7539eb0a0d01db24c45bea01169">



                                                    </form>
                                                </td>


                                                <td style="text-align:right;padding-left:0px">

                                                    <button type="submit" class="efButton efEditButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Continue<img src="/assets/icons/arrow_right.png" alt=""></span></button>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="efAccountPanel efPanel ui-widget-content ui-corner-all" id="efNameCheckAccount">
                                <div class="efPanelHeader ui-widget-header"><img src="/assets/icons/building_link.png" alt="">Create a new company</div>
                                <div class="efPanelContent ui-corner-bottom" style="padding-top:0px;padding-bottom:0px">
                                    <form method="get" action="/name-check/#namecheckpath">
                                        <input type="hidden" name="action" value="namecheckpath">
                                        <input type="hidden" name="gle" value="namecheck">
                                        <p><span>Incorporate company:</span> <input type="text" class="efTextInput ui-widget-content" name="name" placeholder="Enter company name..."> <input type="submit" value="Check Availability »" class="efButton ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false"></p>
                                        <p><span>Import company:</span><input type="button" class="efButton ui-button ui-widget ui-state-default ui-corner-all" value="Import Company »" onclick="document.location.href='/company-add/'" role="button" aria-disabled="false"></p>
                                    </form>
                                </div>
                            </div>
                            <div class="efPanel efAccountPanel ui-widget-content ui-corner-all" id="efRecentlyPlacedOrders" style="">
                                <div class="efPanelHeader ui-widget-header"><img src="/assets/icons/book.png" alt="">Recently Placed Orders</div>
                                <div class="efPanelContent  ui-corner-bottom" style="padding:0px">
                                    <table class="efTable efTableCondensed efTableUnbordered ui-corner-bottom ui-widget-content" style="border:none">
                                        <tbody>
                                            <tr class="efTableSubheader">
                                            </tr>
                                            <tr class="efOdd">
                                                <td>5030038</td>
                                                <td>06/03/2025</td>
                                                <td>
                                                    Limited Liability Part...
                                                </td>
                                                <td>
                                                    A K PATEL LLP
                                                </td>
                                                <td>Complete</td>
                                                <td style="text-align:right"><a href="/order-details/?o=5030038" class="efButton efEditButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text"><img src="/assets/icons/magnifier.png" alt="">Details</span></a></td>
                                            </tr>
                                            <tr class="efEven">
                                                <td>5029857</td>
                                                <td>06/03/2025</td>
                                                <td>
                                                    Limited Liability Part...
                                                </td>
                                                <td>
                                                    DNAK LLP
                                                </td>
                                                <td>Complete</td>
                                                <td style="text-align:right"><a href="/order-details/?o=5029857" class="efButton efEditButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text"><img src="/assets/icons/magnifier.png" alt="">Details</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="efPanel efAccountPanel ui-widget-content ui-corner-all" id="efRecentlyIncorporatedCompanies" style="">
                                <div class="efPanelHeader ui-widget-header"><img src="/assets/icons/book.png" alt="">Recently Incorporated Companies</div>
                                <div class="efPanelContent  ui-corner-bottom" style="padding:0px">
                                    <table class="efTable efTableCondensed efTableUnbordered ui-corner-bottom ui-widget-content" style="border:none">
                                        <tbody>
                                            <tr class="efTableSubheader">
                                                <td>Incorporated</td>
                                                <td>Number</td>
                                                <td>Auth. Code</td>
                                                <td>Name</td>
                                                <td></td>
                                            </tr>
                                            <tr class="efOdd">
                                                <td>12/03/2025</td>
                                                <td>OC455861</td>
                                                <td>F3LLCH</td>
                                                <td>DNAK LLP</td>
                                                <td style="text-align:right"><a href="/account/company/?i=2986203" class="efButton efEditButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text"><img src="/assets/icons/magnifier.png" alt="">Details</span></a></td>
                                            </tr>
                                            <tr class="efEven">
                                                <td>10/03/2025</td>
                                                <td>OC455827</td>
                                                <td>8MK9AY</td>
                                                <td>A K PATEL LLP</td>
                                                <td style="text-align:right"><a href="/account/company/?i=2986287" class="efButton efEditButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text"><img src="/assets/icons/magnifier.png" alt="">Details</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div id="efMyAccountGlance">
                            <div class="efPanel efAccountPanel ui-widget-content ui-corner-all" id="efGlanceFinances">
                                <div class="efPanelHeader ui-widget-header"><img src="/assets/icons/user_suit.png" alt="">Account Overview</div>
                                <div class="efPanelContent ui-corner-bottom">
                                    <p>Welcome back, <span style="font-weight:bold;">Spendwise</span>!</p>
                                    <table>
                                        <tbody>
                                            <tr><th>Balance:</th><td>£0.00</td></tr>
                                            <tr><th>Credit Limit:</th><td>£0.00</td></tr>
                                            <tr><th>Registered:</th><td>04/03/2025</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                    <script>

                        function confirm_delete(fid) {
                            var agree = confirm("Are you sure you wish to delete this order?");
                            if (agree) {
                                jQuery("#delform_" + fid).submit();
                            }

                        }

                    </script>
                </div>

            </div>
        </div>
        <input type="hidden" name="account-balance" id="account-balance" value="0.00">
        <input type="hidden" name="pr-user-email" id="pr-user-email" value="it@spendwiseacc.com">
        <div id="efPageContent" class="ui-widget new-dashboard">
            <div id="dashboard__inner">
                <div class="dashboard__header">
                    <h1>Customer Dashboard</h1>
                </div>
                <div id="dashboard__content">
                    <div id="dashboard__alert">
                        <p class="mr-0">Welcome back, <strong>Spendwise</strong>. From your customer dashboard you can navigate to the department you require.</p>
                    </div>
                    <div id="dashboard__links">
                        <div class="col-row">
                            <div class="col nine t-twelve m-twelve">
                                <div class="col-row">
                                    <div class="col twelve">
                                        <a class="dashboard__link dashboard__link--partnerships" href="/partners-offers/">
                                            <h3>My Exclusive Offers</h3>
                                            <p>We have teamed up with some of the top business brands in the world <br>to give our customers a range of <strong>exclusive offers and discounts.</strong></p>
                                            <span class="dashboard__tag">Find Out More</span>
                                        </a>
                                    </div>
                                    <div class="col six t-six m-twelve">
                                        <a class="dashboard__link" href="/my-details/">
                                            <h3>My Details</h3>
                                            <p>Update your details including account username, password, contact addresses, phone numbers, and notification preferences.</p>
                                        </a>
                                        <a class="dashboard__link" href="/order-history/">
                                            <h3>My Order History</h3>
                                            <p>View your orders - complete, incomplete and in progress.</p>
                                        </a>
                                        <a class="dashboard__link" href="/payments/">
                                            <h3>My Invoice History</h3>
                                            <p>View your invoice and payment history. Download or print your invoices.</p>
                                        </a>
                                        <a class="dashboard__link" href="/payment-authority-setup/">
                                            <h3>Card Management</h3>
                                            <p>Check and update payment options by adding or removing credit / debit card details.</p>
                                        </a>
                                    </div>
                                    <div class="col six t-six m-twelve">
                                        <a class="dashboard__link mh-280" href="/companies/">
                                            <h3>My Companies</h3>
                                            <p>View, update, file changes at Companies House, and purchase services from the Shop area, for your companies.</p>
                                        </a>
                                        <a class="dashboard__link" href="/processed-mail/">
                                            <h3>My Mail</h3>
                                            <p>View, download and print items of mail received for your companies.</p>
                                        </a>
                                        <a class="dashboard__link" href="/services/">
                                            <h3>My Services &amp; Renewals</h3>
                                            <p>View and renew your business and address services, and change the address we forward your mail to.</p>
                                        </a>
                                        <a class="dashboard__link" href="/company-add/">
                                            <h3>Import a Company</h3>
                                            <p>Import an existing company to your account to update, file changes at Companies House or use our address services.</p>
                                        </a>
                                    </div>
                                    @* <div class="col twelve t-twelve m-twelve">
                                        <div class="contactContainer__left">
                                            <div class="contactContainer__left__faq">
                                                <h2>Find Quick Answers</h2>
                                                <div class="contactContainer__left__faq__header">
                                                    <div class="contactContainer__left__faq__header__more" data-toggled="on"><span id="faq-header" class="contactContainer__left__faq__header__title">Top Contact Reasons</span></div>
                                                </div>
                                                <div class="contactContainer__left__faq__body">
                                                    <div class="contactContainer__left__faq__body__dropdown">
                                                        <ul id="dropdown">
                                                            <li class="active"><a href="#top_contact_reasons">Top Contact Reasons</a></li>
                                                            <li><a href="#id_requirements">ID Requirements</a></li>
                                                            <li><a href="#address_services">Address Services</a></li>
                                                            <li><a href="#non-residents">Non-UK Residents</a></li>
                                                            <li><a href="#services-you-may-find-useful">Services You May Find Useful</a></li>
                                                        </ul>
                                                    </div>                                                   
                                                    <div class="contactContainer__left__faq__body__links">
                                                        <ul id="faq-questions"><li class="click-tracker"><a class="faq-question">How do I renew my address service(s)?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>Your address service(s) will renew automatically on an annual basis, so you don't have to worry about this.</p><p>You will receive a reminder email 3 to 7 days prior to the expiry date. No action is required and your renewal fee will be collected on the expiry date using the debit / credit card details we currently hold for you. Within this email you will also get the chance to check and update your card details, or add a new card.</p><p>If you wish to discuss the renewal of your address service(s), please call one of our Services Managers on 020 8036 5037, and they will be happy to assist you.</p></li></li><li class="click-tracker"><a class="faq-question">How do I add a new payment card?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>You can log a new card on your account by following the instructions below:</p><ol style="list-style:decimal; margin-left:30px;"><li style="list-style-type: decimal;">Login to your client account using your username and password.</li><li style="list-style-type: decimal;">Select 'Finances'</li><li style="list-style-type: decimal;">Select 'Card Management'</li><li style="list-style-type: decimal;">Select a new card to be your Primary Card or add a new card as your Primary Card.</li></ol><p>Once your new card has been accepted, it will be the card from which all future monies are taken, unless you wish to change your payment card again in the future. <a href="/payment-authority-setup" target="_blank"><span class="bold">Take me there now</span></a></p></li></li><li class="click-tracker"><a class="faq-question">How do I find my mail?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>On the Customer Dashboard, select ‘My Mail’. Here you will see all items of mail received for all of your companies.</p><p>If you have a scan and email address service(s) with us, you can click the PDF icon next to any item of mail, to view or download that item of mail in PDF format. <a href="/processed-mail" target="_blank"><span class="bold">Take me there now</span></a></p><p></p></li></li><li class="click-tracker"><a class="faq-question">What is the confirmation statement and do I need to file one?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>This is an annual filing which all limited companies and limited liability partnerships (LLPs) must file at least once every 12 months. It confirms certain details about the company – the shareholders, share capital, standard industrial classification code, and the trading status of shares.</p><p>It also confirms that all other information listed on Companies House is correct and that the company is still required.</p><p>Failure to submit a confirmation statement at least once every 12 months may lead to the company being dissolved by Companies House and the directors facing prosecution.</p></li></li><li class="click-tracker"><a class="faq-question">What is the £34.00 Companies House Disbursement Fee?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>This is the filing fee payable to Companies House on submission of a confirmation statement. It is paid once every 12 months; however, during this time, companies can submit as many confirmation statements as they want without additional filing fees from Companies House.</p></li></li><li class="click-tracker"><a class="faq-question">Where can I find my authentication code?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>You will find the authentication code in the email we sent you immediately upon incorporation of your company. </p><p>Select 'My Companies' where you will see a list of your companies and their authentication codes. <a href="/companies" target="_blank"><span class="bold">Take me there now</span></a></p></li></li><li class="click-tracker"><a class="faq-question">Where is my UTR (Unique Tax Reference) number?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>Within two to three weeks of registering a new limited company with Companies House, HMRC will send a letter to your registered office address. </p><p> This letter is a CT41(G) Form which will contain your company’s 10-digit Unique Taxpayer Reference number (UTR).</p><p>If you have misplaced this letter, you will need to contact HMRC directly to obtain a further copy of your UTR Number, as HMRC will only supply this information to the limited company. </p><p> If you have our Registered Office Address Service, select 'My Mail' and look for a letter from HMRC, as your UTR may be stored in your mail log on our system.</p><p> For further information see: <a href="https://www.gov.uk/find-lost-utr-number" target="_blank">lost UTR number</a></p></li></li><li class="click-tracker"><a class="faq-question">How long will VAT registration take?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>It takes between 20 and 30 days for a customer to receive their Certificate of VAT Registration by post, from the point they submit their completed VAT questionnaire to us.</p><p>Once you submit your completed questionnaire to us, you will receive an email from HMRC with your 15-character application reference code within 5-7 working days, and we will email your VAT Registration Number to you within another 21 days. Your Certificate of VAT Registration will be sent to you by HMRC by post shortly afterwards.</p></li></li><li class="click-tracker"><a class="faq-question">What is the procedure for opening a business bank account?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p><strong>UK residents</strong></p><p>During the order process, you will be presented with a number of our banking partners who offer a business bank account referral for your company, including Barclays, HSBC, NatWest and a number of others.</p><p>As soon as your company is incorporated, your chosen bank will contact you to open your business bank account.</p><p>Your bank account will be opened within either a few minutes or a few days, depending on which bank you have chosen.</p><p><strong>Please note:</strong> This is a referral service only, and an offer of a business bank account is not guaranteed and not all applications are successful. All directors and shareholders in the company (or partners in your new LLP) must be UK residents.</p><p><strong>Non-UK residents</strong></p><p>If you purchase the <a href="/package/non-residents/">Non-Residents Package</a>, you will be provided with a referral to WorldFirst, which will allow you to open a UK bank account without needing to visit the UK. If you purchase any other package and you are a non-UK resident, please contact us and we will gladly refer you to WorldFirst for your business bank account.</p></li></li><li class="click-tracker"><a class="faq-question">When are my accounts due?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>Annual accounts for private companies and limited liability partnerships (LLPs) are due 9 months after the financial year end (also known as the ‘accounting reference date’ or ARD). Your accounting reference date is the anniversary of your last accounting reference date.</p><p>For all new companies and limited liability partnerships (LLPs), the accounting reference date is set by default as the last day in the month in which the company’s incorporation anniversary falls. The first accounts are therefore due 9 months after your first year end (or 21 months after your incorporation date).</p></li></li><li class="click-tracker"><a class="faq-question">How do I make my company dormant?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>If you only require a company name and you do not wish to start trading, you should choose the <a href="https://www.1stformations.co.uk/package/reserve-company-name/">Reserve a Company Name package</a> and confirm with HMRC that you have no intention of starting trading and you would like it considered dormant.</p><p>You should contact HMRC as soon as possible, by contacting the Corporation Tax department by phone, email or in writing. This package includes a template letter to inform HMRC of your company's dormant status. For further reading please see our <a href="https://www.1stformations.co.uk/blog/what-is-a-dormant-company/">Guide to Dormant Companies</a>.</p><p></p></li></li><li class="click-tracker"><a class="faq-question">How do I import a company?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p><strong>Importing a company with an Authentication Code</strong></p><ol style="list-style:decimal; margin-left:30px;"><li style="list-style-type: decimal;">On the Customer Dashboard, select ‘Import a Company’.</li><li style="list-style-type: decimal;">Enter your company’s Company Registration Number in the ‘Company Number’ field, and your company’s Authentication Code in the ‘Auth. Code’ field.</li><li style="list-style-type: decimal;">Select ‘Search’. If you entered your company’s Authentication Code, your company details including its registered office address should now appear. Check the details of your company are correct and then select ‘Import’. Your company will now have been imported onto our system. <a href="/company-add" target="_blank"><span class="bold">Take me there now</span></a></li><li style="list-style-type: decimal;">You will be taken automatically to the ‘Companies List’ screen, where your newly imported company will appear in the list of your companies. You will now be able to purchase our address services from the Shop section for this company.</li></ol><p><strong>Importing a company without an Authentication Code</strong></p><p>If you do not have your company’s Authentication Code, you will need to contact us to import your company. Please call us on 020 3897 2233, send a message via our live chat, or send an email to support@1stformations.co.uk and we will assist in importing the company for you, including manually adding officers to your company.</p><p>When importing a company without your Authentication Code, you must inform Companies House directly of any changes of your company’s registered office or service address when purchasing one of our address services.</p></li></li><li class="click-tracker"><a class="faq-question">How do I close down (dissolve) my company?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>We offer a <a href="https://www.1stformations.co.uk/company-dissolution/" target="_blank">Company Dissolution Service</a> to all companies (as long as they have not traded in the last 3 months) which costs £89.99 +VAT.</p><p>If the company has traded, you will have to make sure all filing is up to date with Companies House and HMRC and all taxes are paid. We would recommend the use of an accountant.</p></li></li><li class="click-tracker"><a class="faq-question">Where can I find invoices for previous orders?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>On the Customer Dashboard, select ‘My Invoice History’. This will show you all previous invoices for all of your companies.</p><p>Select ‘Invoice’ for the relevant invoice to bring up a PDF version of the specific invoice, which you can then download and print if necessary. <a href="/payments" target="_blank"><span class="bold">Take me there now</span></a></p></li></li></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> *@
                                </div>
                            </div>
                            <div class="col three t-twelve m-twelve">
                                <div class="dashboard__credit">
                                    <h3><i class="fa fa-gbp" aria-hidden="true"></i> Balance Overview</h3>
                                    <div class="dashboard__credit-body">
                                        <p>Balance <span class="float-right account-balance">£0.00</span></p>
                                        <p>Credit Limit <span class="float-right">£0.00</span></p>
                                    </div>
                                </div>

                                <div class="dashboard__customer-service">
                                    <h3>Need any help?</h3>
                                    <p>Our team of advisors are standing by, ready to assist you.</p>
                                    <p>Whether you need help with a new company formation, or making a change to an existing company - we can walk you through the process step-by-step.</p>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i> 020 3897 2233</p>
                                    <p><i class="fa fa-comments" aria-hidden="true"></i> <a href="#" class="livechat--link">Chat</a> </p>
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="https://support.1stformations.co.uk/hc/en-gb/requests/new">E-mail</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
