@page
@model Spendwise_WebApp.Pages.casestudiesModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<link href="~/css/package.css" rel="stylesheet" />
<div class="bg-overlay packages-banner-trust" style="min-height: calc(100vh - 160px); display: flex; align-items: center; justify-content: center; text-align: center;">
    <div class="col-five bg-image-packages gradient--green" style="width: 100%;height:650px;">
        <div class="container-inner">
            <div class="page-banner left-col-sp-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 sp-heading" style="margin-top: 20% !important;margin-left: 15%;">
                        <h1 style="font-size: 64px; color: white; margin-bottom: 20px;">Coming Soon</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>