@page
@model Spendwise_WebApp.Pages.ConfirmEmailModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<div class="container">
    <div class="container-inner text-center">
        <div class="alert-success p-3 m-5">
            <h2>@Model.Message</h2>
        </div>
    </div>
</div>