@page
@model Spendwise_WebApp.Pages.ContactUsModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/1stformations/css/FAQ.css?v=11">
<div class="contactContainer">
    <div class="contactContainer__header">
        <h1>Contact Us</h1>
    </div>
    <p>Our Customer Service Team are standing by from 8:30am to 5:30pm, Monday to Friday, waiting on your call or message.</p>
    <div class="contactContainer__left">
        <div class="contactContainer__left__faq">
            <h2>Find Quick Answers</h2>
            <div class="contactContainer__left__faq__header">
                <div class="contactContainer__left__faq__header__more" data-toggled="off"><span id="faq-header" class="contactContainer__left__faq__header__title">Top Contact Reasons</span></div>
            </div>
            <div class="contactContainer__left__faq__body">
                <div class="contactContainer__left__faq__body__dropdown">
                    <ul id="dropdown">
                        <li class="active"><a href="#top_contact_reasons">Top Contact Reasons</a></li>
                        <li><a href="#my_order">My Order</a></li>
                        <li><a href="#company_formation">Company Formation</a></li>
                        <li><a href="#address_services">Address Services</a></li>
                        <li><a href="#non-residents">Non-UK Residents</a></li>
                        <li><a href="#id-requirements">ID Requirements</a></li>
                    </ul>
                </div>
                <div class="contactContainer__left__faq__body__links">
                    <ul id="faq-questions"><li class="click-tracker"><a class="faq-question">How do I renew my address service(s)?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>Your address service(s) will renew automatically, so you don't have to worry about this.</p><p>If you have an annual address service, you will receive a reminder email 3 to 7 days prior to the expiry date. No action is required and your renewal fee will be collected on the expiry date using the debit / credit card details we currently hold for you. Within this email you will also get the chance to check and update your card details, or add a new card.</p><p>If you wish to discuss the renewal of your address service(s), please call our Services Manager Angus Park on 020 8036 5037, and he will be happy to assist you.</p></li></li><li class="click-tracker"><a class="faq-question">Can you take my company formation order over the phone?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>Yes. If you are not confident forming a new company on your own, call our team of experts on 020 3897 2233 and we will be happy to complete your company formation order over the telephone.</p></li></li><li class="click-tracker"><a class="faq-question">How long does the company formation process usually take?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>It usually takes 24 hours to form a limited company, although it can take longer, dependent on Companies House workload on the day. </p><p> If it is important your company is incorporated as soon as possible or on the same day, we recommend you add the Guaranteed Same Day Service to your order.</p></li></li><li class="click-tracker"><a class="faq-question">Can I get an update on when my company will be formed?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>Once we send your company application to Companies House, we cannot get any information on its progress – we just have to wait for it to be successfully incorporated or rejected. </p><p> As soon as it is incorporated, we will send your company documents to you by email. If in the event it is rejected, we will deal with it immediately and be in touch with you if necessary.</p></li></li><li class="click-tracker"><a class="faq-question">How do I get my free domain name?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>Details of your free .com or .co.uk domain name will be sent to you by email, as soon as your company is incorporated. Within the email message is a voucher code and instructions advising how you can set up your new domain name directly at the names.co.uk website.</p></li></li><li class="click-tracker"><a class="faq-question">What package do I need?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>First of all, you will need to ascertain what your requirements are:</p><ul><li>What type of company do you need - limited by shares, limited by guarantee or LLP?</li><li>Is it a priority to keep the price as low as possible? </li><li>Do you need presentable printed documents, or will email versions suffice?</li><li>Do you need VAT registration?</li><li>Are you a non-resident of the UK?</li></ul><p>We recommend visiting our <a href="https://www.1stformations.co.uk/compare-packages/">compare packages</a> page and having a look at our available company formation packages. If you need any help, please feel free to talk to our customer service team at 020 3897 2233.</p></li></li><li class="click-tracker"><a class="faq-question">What is the difference between the address services you offer?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>We have created a useful guide which explains the difference between our address services. Please see our <a href="/company-address-guide/">Company Addresses Explained</a> guide for more information.</p></li></li><li class="click-tracker"><a class="faq-question">Do you offer accountancy services?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>As we are not accountants, we are unable to provide accountancy services.</p></li></li><li class="click-tracker"><a class="faq-question">What is the procedure for opening a business bank account?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p><strong>UK residents</strong></p><p>During the order process, you will be presented with a number of our banking partners who offer a business bank account referral for your company, including Barclays, Natwest, Monzo, Tide and HSBC.</p><p>As soon as your company is incorporated, you will be able to complete an online application with your chosen bank.</p><p>Your bank account will be opened within either a few minutes or a few days, depending on which bank you have chosen.</p><p><strong>Please note:</strong> This is a referral service only, and an offer of a business bank account is not guaranteed and not all applications are successful. All directors and shareholders in the company (or partners in your new LLP) must be UK residents.</p><p><strong>Non-UK residents</strong></p><p>If you purchase the <a href="/package/non-residents/">Non-Residents Package</a> or <a href="/package/eseller/">eSeller Package</a>, you will be provided with a referral to WorldFirst, which will allow you to open a UK bank account without needing to visit the UK.</p><p>Alternatively, you can add a referral to WorldFirst at the end of the order process when purchasing the <a href="/package/prestige/">Prestige Package</a> or the <a href="/package/all-inclusive/">All Inclusive Package.</a></p></li></li><li class="click-tracker"><a class="faq-question">How do I add a new payment card?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>You can add a new card to your account by following the instructions below:</p><ol style="list-style:decimal; margin-left:30px;"><li style="list-style-type: decimal;"><a href="https://www.1stformations.co.uk/login/">Login</a> to your customer account.</li><li style="list-style-type: decimal;">Select ‘Card Management’ on your Customer Dashboard.</li><li style="list-style-type: decimal;">Agree to the terms and conditions and select ‘Set up Payment Authority’.</li><li style="list-style-type: decimal;">Enter your preferred payment card details. Then select ‘Pay Securely’.</li><li style="list-style-type: decimal;">Once through the secure checkout, the payment card details you have entered have now been saved as the Primary Card.</li></ol><p>Please note, during secure checkout, your payment app may state an amount of £1.00 is paid to us; however, please be assured this does not actually happen, as the £1.00 is refunded before it leaves your account.</p></li></li><li class="click-tracker"><a class="faq-question">What does ‘mail received – not covered by your service’ mean?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>This email is sent when a customer has at least one address service, but we have received mail for their company which is not covered by this address service(s).</p><p>To clarify what each address service covers:</p><p><a href="https://www.1stformations.co.uk/registered-office-service/">Registered Office Address Service</a> covers mail addressed to your company, from all government departments and Court documents.</p><p><a href="https://www.1stformations.co.uk/service-address-service/">Service Address</a> covers mail received from all government departments and Court documents, where the mail is addressed to a company officer (director or company secretary).</p><p><a href="https://www.1stformations.co.uk/business-address-service/">Business Address Service</a> covers mail addressed to your company from any sender other than those listed above, e.g., general business correspondence, banks, suppliers, partners, and customers, etc.</p><p>To check which address service(s) you have, select ‘My Services &amp; Renewals’ in the Customer Dashboard.</p></li></li><li class="click-tracker"><a class="faq-question">How do I close down (dissolve) my company?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>We offer a <a href="https://www.1stformations.co.uk/company-dissolution/">Company Dissolution Service</a> to all companies (as long as they have not traded in the last 3 months) which costs £89.99 +VAT.</p><p>If the company has traded, you will have to make sure all filing is up to date with Companies House and HMRC and all taxes are paid. We would recommend the use of an accountant.</p></li></li><li class="click-tracker"><a class="faq-question">I’ve changed my home address – how do I update my details?</a><span class="dwn-arrow dwn-arrow--inactive"></span><li class="faq_answer--inactive faq_answer"><p>To update your home address on our system, please carry out the following steps for each of the Primary address, Billing address and forwarding address (if you have active address services):</p><p><strong>Primary and Billing Addresses</strong></p><ol><li><a href="/login/">Login</a> to the Online Customer Area</li><li>On the Customer Dashboard, select ‘My Details’</li><li>Under ‘Postal Address’, select ‘Choose Another’ next to the Primary address</li><li>Select a recently used address or select ‘Add New Address’</li><li>Click ‘Submit’ if adding a new address</li><li>Repeat for the Billing address</li></ol><p><strong>Forwarding Addresses for address services</strong></p><p>You must carry out the below steps for each active address service you have:</p><ol><li><a href="/login/">Login</a> to the Online Customer Area</li><li>On the Customer Dashboard, select ‘My Services &amp; Renewals’</li><li>Select one of your address services marked as ‘Active’ and click ‘Details’</li><li>Click the Pencil icon next to ‘Forwarding Address’</li><li>Select a recently used address or select ‘Add New Address’</li><li>Click ‘Submit’ if adding a new address</li><li>Repeat these steps for all address services marked as ‘Active’</li></ol></li></li></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="contactContainer__right">
        <div class="contactContainer__right__callus contactContainer__right--spacing">
            <h2>Contact Us</h2>
            <table class="contactUsTable mr-bot-30">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Office Hours</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st Formations <br>71-75 Shelton St, <br>Covent Garden, <br>London, WC2H 9JQ</td>
                        <td>Monday to Friday <br>8:30am to 5:30pm</td>
                        <td><a href="tel:+442038972233">020 3897 2233</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="contactContainer__right__callus contactContainer__right--spacing">
            <h2>Other Helpful Numbers</h2>
            <table class="otherContactUsTable mr-bot-40-imp">
                <tbody>
                    <tr>
                        <td>Customer Support &amp; Sales</td>
                        <td><a href="tel:+442038972233">020 3897 2233</a></td>
                    </tr>
                    <tr>
                        <td>Compliance and ID</td>
                        <td><a href="tel:+442039557565">020 3955 7565</a></td>
                    </tr>
                    <tr>
                        <td>VAT &amp; PAYE Registrations</td>
                        <td><a href="tel:+442039557563">020 3955 7563</a></td>
                    </tr>
                    <tr>
                        <td>Confirmation Statements</td>
                        <td><a href="tel:+44203984538">020 3984 5387</a></td>
                    </tr>
                    <tr>
                        <td>Company Secretarial Team</td>
                        <td><a href="tel:+442039845387">020 3984 5387</a></td>
                    </tr>
                    <tr>
                        <td>Mail Team</td>
                        <td><a href="tel:+442080365007">020 8036 5007</a></td>
                    </tr>
                    <tr>
                        <td>Service Renewals</td>
                        <td><a href="tel:+442080365037">020 8036 5037</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="contactContainer__right__form contactContainer__right--spacing">
            <h2>Drop Us a Line</h2>
            <span class="contactSpacer"></span>
            <p>Send us your message below and one of our representatives will quickly get back to you within business hours.</p>
            <div>
                <div id="efPageContent" class="ui-widget">


                    <div class="efContactUsForm">
                        <form method="post" action="/contact-us/">
                            <input type="hidden" name="g-recaptcha-response" placeholder="" value="03AFcWeA7pJM8friY5mW9VjcVN2nCPjg-Yifi7zv0vhh9LbXrOGfzj_JzDCr05TesF_j2WXqezIv4IrNd_j-eLm5rZotQhb-wItqZmLr2ezQu6oPubHZ5LAfJuRA1MlxYHuxjVeyaG9yQc8HlLde0YbevLdNYvnu19zIjmZPctoeChnib08vbb17vMq2DXXtYCnxOEaCD-mdssBwuJsgFtogwYpo0sWOwQ5XrDMZT1x879ueKc1JAlkGmpEb0_sGxIf-5RoZWsJ7z0m_o7cRk1otdiZuTm7XyaryiQXpuGQj-lO0s0612_2ZZug7yV6uE6MeMMbw-_MOQ7cow0Z_CQU4449WNJOItNRncOIbaBVbT0L0yFtF7O3rbqUPmG7VwSAE-T-0o2Y57FXad2yI96s-1kRO_Dn2IN-BcRSi_8lWw0LxLSuHJMx7suPaer9CtWxYPq4PNcXpnZxwALlcVx5HciqZ-YtRgtSaSuKFWuyaZDtj7uN38vovyTf2JsY2QVTqxIj-Us5eaehvPlOXW2qlA_tjpBAW8W6uQLY9mf0YTeztIGZZDFHf5RbWz3612Dn_JCTv5GAN6TsMrNVYj5vDLNVNtoJ40stxg9h6JIC25WrtndjW5zhdpfaDUXpP4uLPla_Fd4PqTIwhPpCywyO9_0ZxqXSvefani52gKgaMjytWMsRNh66DI0tXGVjz0ZEovK1TaS-_paeSYLtHb41LN1pNkE52Tl3Z-VLj7i3nYNpQRtpjwBLj3Md7ZN6JKPSPxmNaBdj4GKxd7kaUEmabRGO8b42-DlwXuFCLL2yhPYQz3HxHftpsbLW9TlIn9yOylCT8pmj1hDcvgt_nZBybnvbm1H_vzAZMNfpUiVS3jquGWNRBEjpEQ" id="g-recaptcha-response">        <h2>Contact Us</h2>

                            <!-- custom input fields -->
                            <p>Name:<br><input type="text" id="efContactName" name="name" class=""></p>
                            <p>
                                Email:<br><input type="text" id="efContactEmail" name="email" class="" <="" p="">
                            </p><p>Question:<br><textarea rows="2" cols="20" name="question"></textarea></p>
                            <p>
                                Department:<br>
                                <select name="department" id="efDepartment">
                                    <option value="General">General Enquiry</option>
                                    <option value="ID">ID requirements</option>
                                    <option value="RenewalsCancellations">Renewals/Cancellations</option>
                                    <option value="Mail">Mail</option>
                                    <option value="Refunds">Refund</option>
                                    <option value="VATPAYE">VAT/PAYE</option>
                                    <option value="Complaint">Complaint</option>
                                </select>
                            </p>

                            <!-- do you want the brand to a email to the customer confirming the request -->
                            <input type="hidden" id="SendToCustomer" name="SendToCustomer" value="1">

                            <!-- some custom hidden fields for extra replace codes -->
                            <input id="redir" type="hidden" value="/contact-us-thankyou/" name="redir">

                            <input type="hidden" id="hidden1" name="hidden1" value="1">
                            <input type="hidden" id="hidden2" name="hidden2" value="1">
                            <input type="hidden" id="hidden3" name="hidden3" value="1">
                            <input type="hidden" id="hidden4" name="hidden4" value="1">
                            <div id="efContactUsSubmit" style="clear:both">
                                <input id="efContactSubmitButton" class="efButton ui-button ui-widget ui-state-default ui-corner-all" type="submit" value="Submit" role="button" aria-disabled="false">
                            </div>
                        </form>

                    </div>


                    <script>
                        grecaptcha.ready(function () {
                            grecaptcha.execute('6LctSPcUAAAAAGqGPCeWQHpISurU2OwIHk8P5BFB', { action: 'contactus' })
                                .then(function (token) {
                                    document.getElementById('g-recaptcha-response').value = token;
                                });
                        });

                    </script>

                </div>

            </div>
        </div>
    </div>
    <div class="contactContainer__header"><span>Our London Office</span></div>
    <div class="col-five bg-color-nsgray au-infowrap float-left">
        <div class="au-image">
            <img alt="Exterior view of our office in Covent Garden, London" src="https://cdn-brand.s3.eu-west-1.amazonaws.com/assets/images/71-75SheltonStreetXL.jpg" width="500">
        </div>
        <div class="au-gmap">
            <iframe frameborder="0" height="375" src="https://maps.google.com/maps?q=1st%20Formationsᅷ-75%20Shelton%20Street&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" style="border:0" width="492"></iframe>
        </div>
    </div>
    <div class="clearfix"></div>
</div>