@page
@model Spendwise_WebApp.Pages.offersModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<link href="~/css/package.css" rel="stylesheet" />
<div class="bg-overlay packages-banner-trust">
    <div class="col-five bg-image-packages gradient--green">
        <div class="container-inner">
            <div class="page-banner left-col-sp-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 sp-heading">
                        <h1 class="mr-top-20-imp">Access exclusive offers</h1>
                        <h2 class="fs-thirty-one fc-white fw-three lh-zero">Our exclusive perks and benefits could save you £50,000+</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="py-5" style="background:#f7f7f7;">
    <div class="container-inner text-center">
        <h1 class="text-dark mb-3">No Offers Available at the Moment</h1>
        <h2 class="text-muted fs-4 mb-3">We’re working on bringing you exciting new offers. Please check back soon!</h2>
    </div>
</div>

<div class="clearfix"></div>