@page
@model Spendwise_WebApp.Pages.privacy_policyModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<style>
  .terms-cond-table {
    margin: 20px 0;
  }

  .terms-cond-table tr:nth-child(odd) {
    background-color: #f7f7f7;
  }

  .terms-cond-table th,
  .terms-cond-table td {
    border: 1px solid #eee;
  }

  .terms-cond-table th {
    font-weight: bold;
    padding: 8px 20px 8px 6px;
  }

  .terms-cond-table td {
    padding: 8px 6px;
    vertical-align: top;
  }

  .terms-cond-table .terms-cond-roman {
    margin: 0;
  }

  .terms-cond-table .terms-cond-roman li {
    list-style-type: lower-roman !important;
  }

  .cpolicy p,
  .cpolicy li {
    font-size: 16px !important;
    line-height: 1.4;
  }

  .cpolicy strong,
  .cpolicy b {
    font-size: 16px !important;
    line-height: 1.4;
  }

  .cpolicy h3,
  .cpolicy h4 {
    text-align: center;
    width: 100%;
  }

  .cpolicy h3 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  .cpolicy h4 {
    font-size: 1.4rem;
    margin-top: 0.7rem;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .cpolicy .disc li {
    list-style-type: disc;
  }

  @@media handheld, screen and (min-width: 768px) {
    .cpolicy h3 {
      font-size: 1.3rem;
    }

    .cpolicy h4 {
      font-size: 1.1rem;
    }
  }
</style>
<div class="col-five cpolicy padding-top-bot-ft">
    <div class="container-inner">
        <div class="fullwidth_wrap">
            <h1 class="pd-bot-15-imp margin-top-ten lh-31">Spendwise Privacy Policy</h1>
            <p>This website is owned and operated by Spendwise Limited (“we”, “us”, “our”, and “ourselves”).</p>
            <p>
                We are committed to protecting the privacy and security of your personal data. This Privacy Policy describes how we collect, use and store your personal data when you visit our website (regardless of where you visit it from),
                including when you purchase a product or services or sign up to our newsletter. It also tells you about your rights and how the law protects you.
            </p>
            <h2>1. Important information</h2>
            <ul>
                <li>
                    Our website is not intended for children and we do not knowingly collect data relating to children.
                </li>
                <li>
                    This Privacy Policy supplements the other policies (including our terms of use (Terms)) and is not intended to override them.
                </li>
                <li>
                    We are the controller and responsible for your personal data (we, us or our).
                </li>
                <li>
                    As we only provide services to corporate entities rather than individuals, we treat all website users and customers who purchase services from us as “corporate subscribers” as defined in the Privacy and Electronic Communications
                    (EC Directive) Regulations 2003. To assist you further in understanding this Privacy Policy, we have set out in Part 5 of Schedule 1 a glossary of terms used, examples of types of personal data we collect, how we use it, the
                    lawful basis for processing such data and further details of your rights.
                </li>
                <li>
                    If you have any questions about this Privacy Policy, including any requests to exercise your legal rights, please contact us in writing, either:
                    <ul class="terms-cond-roman">
                        <li>
                            by email to: info@1stformations.co.uk
                        </li>
                        <li>
                            by post to: Spendwise, 71-75 Shelton Street, Covent Garden, London WC2H 9JQ
                        </li>
                    </ul>
                </li>
                <li>
                    You have the right to make a complaint at any time to the ICO (www.ico.org.uk). We would, however, appreciate the chance to deal with your concerns before you approach the ICO so please contact us in the first instance.
                </li>
                <li>
                    Your duty to inform us of changes – it is important that the data we hold about you is accurate and current, therefore please keep us informed of any changes to your personal data.
                </li>
                <li>
                    Third-party links - our website may include links to third-party websites, plug-ins and applications. By clicking on these links or enabling connections you may be allowing third parties to collect or share your personal data. We
                    have no control or liability in respect of these third-party websites, plug in or applications and are not responsible for their privacy policies. You should also read their privacy policies to understand what personal data they
                    collect about you and how they use it.
                </li>
            </ul>
            <h2>
                2. The data we collect about you
            </h2>
            <ul>
                <li>
                    We may collect, use, store and transfer the types of personal data about you listed in Part 1 of Schedule 1.
                </li>
                <li>
                    We also collect, use and share aggregated data. This is data which does not reveal your identity, so is not classed as personal data. However, if we combine aggregated data with your personal data so that it can directly or
                    indirectly identify you, we treat this as your personal data.
                </li>
                <li>
                    We do not collect any special categories of personal data.
                </li>
                <li>
                    Failure to provide personal data - If we are required by law, or under the terms of a contract we have with you, to collect your personal data and you fail to provide it, we may not be able to enter into perform the contract with
                    you and, we may have to cancel a product or service. We will notify you of this at the relevant time.
                </li>
            </ul>
            <h2>
                3. How personal data is collected
            </h2>
            <ul>
                <li>
                    We collect personal data in the following ways:
                    <table class="terms-cond-table">
                        <tbody>
                            <tr>
                                <th>
                                    direct interactions
                                </th>
                                <td>
                                    you may provide personal data when you complete online forms, request products/services, subscribe to our services, create a user account, join our mailing lists or correspond with us (by post, phone or email or otherwise).
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    automated technology
                                </th>
                                <td>
                                    we automatically collect personal data (technical and usage) when you browse or interact with our website, by using cookies, and other similar technologies. We may also receive technical data about you if you visit other
                                    websites which use our cookies. Please see our Cookie Policy <a href="/cookies-policy/">here</a> for further details.
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    publicly available sources
                                </th>
                                <td>
                                    we may collect personal data from publicly availably sources such as Companies House and the Electoral Register and credit reference agencies, based inside the EU.
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    third parties
                                </th>
                                <td>
                                    we may receive personal data from: (a) analytics providers based outside the EU (such as Google); (b) advertising networks inside the EU; (c) search information providers inside the EU; and (d) our suppliers such as payment
                                    providers, delivery services, website support and maintenance providers based either inside or outside the EU.
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    recording of correspondence
                                </th>
                                <td>
                                    we may monitor, record, store and use any telephone, email or other communication with you. This includes those which contain personal data. We do this to check any instructions given to us, for training purposes, to prevent
                                    crime, and to improve the quality of our customer service.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
            <h2>
                4. How we use your personal data
            </h2>
            <ul>
                <li>
                    We will only use your personal data when the law allows us to. Most commonly, we will use your personal data:
                    <ul class="terms-cond-roman">
                        <li>
                            to perform the contract we are to enter into or have entered into with you;
                        </li>
                        <li>
                            to comply with a legal obligation; and
                        </li>
                        <li>
                            where it is necessary to carry out our legitimate interests (or those of a third party) and your interests and fundamental rights do not override those interests.
                        </li>
                    </ul>
                    Part 2 of Schedule 1 sets out the lawful basis we will rely on to process your personal data.
                </li>
                <li>
                    We may process your data for more than one lawful ground depending on the specific purpose for which we are using your information.
                </li>
                <li>
                    Marketing – We may analyse your personal data to form a view on what products and or services we think may be of interest to you. You will only receive marketing communications from us, if you have requested information from us or
                    purchased services from us, you have not opted out or we have another legal basis to send you the marketing communications. Please note that as you are a “corporate subscriber” it is not necessary for us to obtain your consent to
                    direct marketing. However, you will always have the option to opt out of receiving direct marketing messages.
                </li>
                <li>
                    How to opt out - You can opt out of email or SMS marketing by clicking the unsubscribe button within the particular marketing email or message. You can to opt out of direct marketing at any time by contacting us.
                </li>
                <li>
                    Even if you opt out of receiving direct marketing, we may still use your personal data for other purposes provided we have a lawful basis to do so.
                </li>
                <li>
                    Change of purpose - We will only use your personal data for the purpose that we originally collected it for, unless we reasonably consider that we need to use it for another reason and that reason is compatible with the original
                    purpose.
                </li>
                <li>
                    If we need to use your personal data for an unrelated purpose, we will notify you and we will explain the legal basis which allows us to use your personal data in this manner.
                </li>
                <li>
                    We may process your personal data (without your knowledge or consent) where this is required or permitted by law.
                </li>
                <li>
                    We only rely on consent as a legal basis for processing your personal data when we share personal data with our partners in respect of referrals. In such circumstances, we will ask you to complete a form which will contain the
                    personal data you consent to being provided to such partners. At the time you complete this form, the partner(s) with whom we will share your personal data will be expressly identified (e.g. the name of the bank if it relates to a
                    referral to open a bank account). We will also ask you to consent expressly to this sharing of your personal data by ticking a tick-box. This will include a statement setting out that you consent to the partner contacting you
                    directly. Whenever you have provided consent, you have the right to withdraw your consent at any time by contacting us.
                </li>
            </ul>
            <h2>
                5. Disclosure of your personal data
            </h2>
            <ul>
                <li>
                    We may share your personal data with third parties further details of which are set out in Part 4 of Schedule 1. We require all third parties to respect the security of your personal data and to treat it in accordance with the
                    law.
                </li>
            </ul>
            <h2>
                6. International transfers
            </h2>
            <ul>
                <li>
                    When sharing your data with third parties as specified in Part 4 of Schedule 1, it may be transferred outside the European Economic Area (EEA).
                </li>
                <li>
                    Some of our external third parties are based outside the European Economic Area (EEA) so their processing of your personal data will involve a transfer of data outside the EEA.
                </li>
                <li>
                    Whenever we transfer your personal data out of the EEA, we ensure a similar degree of protection is afforded to it by ensuring at least one of the following safeguards is implemented:
                    <ul class="terms-cond-roman">
                        <li>
                            We will only transfer your personal data to countries that have been deemed to provide an adequate level of protection for personal data by the European Commission.
                        </li>
                        <li>
                            We use specific contracts approved for use in the UK which give personal data the same protection it has in the UK with our service providers.
                        </li>
                    </ul>
                </li>
                <li>
                    Please contact us if you would like further information on the specific mechanism used by us when transferring your personal data out of the EEA.
                </li>
            </ul>
            <h2>
                7. Data Security
            </h2>
            <ul>
                <li>
                    The security of your personal information is important to us. Please bear in mind, however, that no security system is guaranteed to be 100% secure. Whilst we strive to protect your personal information, Spendwise cannot
                    guarantee or warrant the security of our servers, nor can we guarantee that information you supply through this website will not be intercepted whilst being transmitted over the Internet. We follow generally accepted industry
                    standards to protect the personal information submitted to us, both during transmission and once we receive it.
                </li>
                <li>
                    We have put in place appropriate security measures to prevent your personal data from being accidentally lost, used or accessed in an unauthorised way, altered or disclosed. We also limit access to your personal data to those
                    employees, agents, contractors and other third parties who have a business need to know and they can only process your personal data on our instructions and will be subject to a duty of confidentiality.
                </li>
                <li>
                    We have procedures in place to deal with any suspected personal data breach and will notify you and any applicable regulator of a breach where we are legally required to do so.
                </li>
            </ul>
            <h2>
                8. Data retention
            </h2>
            <ul>
                <li>
                    We will only retain your personal data for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.
                </li>
                <li>
                    Details of retention periods for different aspects of your personal data are available in our retention policy which you can request from us. However, we are legally required to keep basic information about our customers
                    (including contact, identity, financial and transaction data) for six years after they cease being customers, for tax purposes.
                </li>
                <li>
                    We may also anonymise your personal data (so that it can no longer be associated with you) for research or statistical purposes. We can use anonymised information indefinitely without further notice to you.
                </li>
            </ul>
            <h2>
                9. Your legal rights
            </h2>
            <ul>
                <li>
                    You have certain rights in certain circumstances under data protection law. These are set out in full in Part 3 of Schedule 1. If you wish to exercise any of your rights, please contact us.
                </li>
                <li>
                    You will not have to pay a fee to exercise any of your rights. However, if your request is clearly unfounded, repetitive or excessive, we may charge a reasonable fee for this information or refuse to comply with your request.
                </li>
                <li>
                    We may request specific information from you to help us confirm your identity when you contact us. This is a security measure to ensure that personal data is not disclosed to any person who does not have the right to receive it.
                </li>
                <li>
                    We try to respond to all legitimate requests within one month. Occasionally it may take us longer than a month if your request is particularly complex or you have made a number of requests. In this case, we will notify you and
                    keep you updated.
                </li>
            </ul>
            <h2>
                10. Changes to this Privacy Policy
            </h2>
            <ul>
                <li>
                    We reserve the right to update this Privacy Policy when required by law or at any time we deem necessary to reflect our processes. We encourage you to periodically refer to this policy to remain up to date – upon your first visit
                    to the website following any changes, you are deemed to have accepted the terms of this Policy.
                </li>
            </ul>
            <h3>Schedule 1</h3>
            <h4>Part 1: Types of personal data</h4>
            <table class="terms-cond-table mr-bot-40-imp">
                <tbody>
                    <tr>
                        <th>
                            contact data
                        </th>
                        <td>
                            billing address, delivery address, email address and telephone number
                        </td>
                    </tr>
                    <tr>
                        <th>
                            financial data
                        </th>
                        <td>
                            bank account and payment card details
                        </td>
                    </tr>
                    <tr>
                        <th>
                            identity data
                        </th>
                        <td>
                            first name, maiden name, last name, occupation, passport number or other similar identifier, username or similar identifier, title, date of birth, citizenship and gender
                        </td>
                    </tr>
                    <tr>
                        <th>
                            marketing and communication data
                        </th>
                        <td>
                            your preferences in receiving marketing from us
                        </td>
                    </tr>
                    <tr>
                        <th>
                            profile data
                        </th>
                        <td>
                            your username and password, purchase or orders made by you, preferences, feedback and survey responses
                        </td>
                    </tr>
                    <tr>
                        <th>
                            technical data
                        </th>
                        <td>
                            internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform and other technology on the devices you use to access
                            our website
                        </td>
                    </tr>
                    <tr>
                        <th>
                            transaction data
                        </th>
                        <td>
                            details about payments to and from you and other details of products and services you have purchased from us
                        </td>
                    </tr>
                    <tr>
                        <th>
                            usage data
                        </th>
                        <td>
                            includes information about how you interact with and use our website, products and services
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>Part 2: Lawful basis for processing and processing activities</h4>
            <p>The lawful basis upon which we may rely on to process your personal data are:</p>
            <table class="terms-cond-table mr-bot-40-imp">
                <tbody>
                    <tr>
                        <th>
                            contract
                        </th>
                        <td>
                            the processing is necessary for us to perform our contractual obligations with you under our contract, or because you have asked us to take specific steps before entering into a contract with you
                        </td>
                    </tr>
                    <tr>
                        <th>
                            legal obligation
                        </th>
                        <td>
                            the processing is necessary for us to comply with legal or regulatory obligation
                        </td>
                    </tr>
                    <tr>
                        <th>
                            legitimate interests
                        </th>
                        <td>
                            the processing is necessary for our or a third party’s legitimate interest e.g. in order for us to provide the best service to you via our website. Before we process your personal data on this basis we make sure we consider and
                            balance any potential impact on you, and we will not use your personal data on this basis where such impact outweighs our interest
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Set out below are specific details of the processing activities we undertake with your personal data and the lawful basis for doing this.</p>
            <div class="table-responsive">
                <table class="terms-cond-table mr-bot-40-imp">
                    <tbody>
                        <tr>
                            <th>
                                Purpose/Activity
                            </th>
                            <th>
                                Type of data
                            </th>
                            <th>
                                Lawful basis for processing
                            </th>
                        </tr>
                        <tr>
                            <th>
                                to register you as a new customer
                            </th>
                            <td>
                                identity &amp; contact
                            </td>
                            <td>
                                to perform our contract with you
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to process and deliver your order, manage payments, fees and charges and debt recovery
                            </th>
                            <td>
                                identity, contact, financial, transaction and marketing &amp; communications
                            </td>
                            <td>
                                <ul class="terms-cond-roman">
                                    <li>
                                        to perform our contract with you;
                                    </li>
                                    <li>
                                        as necessary for our legitimate interest in recovering debts due to us
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to carry out mail fowarding
                            </th>
                            <td>
                                identity &amp; contact
                            </td>
                            <td>
                                to perform our contract with you
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to manage our relationship with you, notifying you about changes to our Terms or Privacy policy and ask you to leave a review
                            </th>
                            <td>
                                identity, contact, profile &amp; marketing &amp; communications
                            </td>
                            <td>
                                <ul class="terms-cond-roman">
                                    <li>
                                        to perform our contract with you
                                    </li>
                                    <li>
                                        as necessary to comply with a legal obligation
                                    </li>
                                    <li>
                                        as necessary for our legitimate interests in keeping our records updated and analysing how customers use our products/services.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to administer and protect our business and this website (including troubleshooting, data analysis, testing, system maintenance, support, reporting and hosting of data)
                            </th>
                            <td>
                                identity, contact &amp; technical
                            </td>
                            <td>
                                <ul class="terms-cond-roman">
                                    <li>
                                        as necessary for our legitimate interests in running our business, provision of administration and IT services, network security, to prevent fraud and in the context of a business reorganisation or group restructuring
                                        exercise
                                    </li>
                                    <li>
                                        as necessary to comply with any legal obligations
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to deliver relevant website content/advertisements to you and measure or understand the effectiveness of our advertising
                            </th>
                            <td>
                                identity, contact, profile, usage, marketing &amp; communications &amp; technical
                            </td>
                            <td>
                                as necessary for our legitimate interests in studying how customers use our products/services, to develop them, to grow our business and to inform our marketing strategy
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to use data analytics to improve our website, products/services, marketing, customer relationships and experiences
                            </th>
                            <td>
                                technical &amp; usage
                            </td>
                            <td>
                                as necessary for our legitimate interests to define types of customers for our products and services, to keep our website updated and relevant, to develop our business and to inform our marketing strategy
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to make suggestions and recommendations to you about goods or services that may be of interest to you, including promotional offers
                            </th>
                            <td>
                                identity, contact, technical, usage &amp; profile
                            </td>
                            <td>
                                as necessary for our legitimate interests to develop our products/services and grow our business
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to share with our referral partners where you have requested this including requesting a service at checkout or clicking our referral partners’ links
                            </th>
                            <td>
                                identity, contact, profile, usage, marketing &amp; communications &amp; technical
                            </td>
                            <td>
                                to perform our contract with you as necessary for our legitimate interests to develop our products/services and grow our business
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to enable you to partake in a prize draw, competition or complete a survey
                            </th>
                            <td>
                                identity, contact, technical &amp; profile
                            </td>
                            <td>
                                <ul class="terms-cond-roman">
                                    <li>
                                        to perform our contract with you
                                    </li>
                                    <li>
                                        as necessary for our legitimate interests (to study how customers use our products/services, to develop them and grow our business)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                to conduct and keep a record of identity and address checks and verification in line with anti-money laundering and know your client requirements
                            </th>
                            <td>
                                identity, contact
                            </td>
                            <td>
                                <ul class="terms-cond-roman">
                                    <li>
                                        to perform our contract with you
                                    </li>
                                    <li>
                                        as necessary to comply with a legal obligation
                                    </li>
                                    <li>as necessary for our legitimate interests in keeping our records updated and prevention of unlawful or unethical activity</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4>Part 3: Your legal rights</h4>
            <p>
                You have the following legal rights in relation to your personal data:
            </p>
            <table class="terms-cond-table mr-bot-40-imp">
                <tbody>
                    <tr>
                        <th>
                            access your data
                        </th>
                        <td>
                            you can ask for access to and a copy of your personal data and can check we are lawfully processing it
                        </td>
                    </tr>
                    <tr>
                        <th>
                            erasure
                        </th>
                        <td>
                            you can ask us to delete or remove your personal data where:
                            <ul class="terms-cond-roman">
                                <li>
                                    there is no good reason for us continuing to process it;
                                </li>
                                <li>
                                    you have successfully exercised your right to object (see below);
                                </li>
                                <li>
                                    we may have processed your information unlawfully; or
                                </li>
                                <li>
                                    we are required to erase your personal data to comply with local law
                                </li>
                            </ul>
                            we may not always be able to comply with your request for specific legal reasons, which will be notified to you at the time of your request
                        </td>
                    </tr>
                    <tr>
                        <th>
                            object
                        </th>
                        <td>
                            you can object to the processing of your personal data where:
                            <ul class="terms-cond-roman">
                                <li>
                                    where we are relying on our legitimate interest (or those of a third party) as the basis for processing your personal data, if you feel it impacts on your fundamental rights and freedoms;
                                </li>
                                <li>
                                    where we are processing your personal data for direct marketing purposes
                                </li>
                            </ul>
                            In some cases, we may demonstrate that we have compelling legitimate grounds to process your information which override your rights and freedoms and, in such circumstances, we can continue to process your personal data for such
                            purposes
                        </td>
                    </tr>
                    <tr>
                        <th>
                            restrict processing
                        </th>
                        <td>
                            you can ask us to us to suspend or restrict the processing of your personal data, if:
                            <ul class="terms-cond-roman">
                                <li>
                                    you want us to establish the accuracy of your personal data;
                                </li>
                                <li>
                                    our use of your personal data is unlawful, but you do not want us to erase it;
                                </li>
                                <li>
                                    you need us to hold your personal data (where we no longer require it) as you need it to establish, exercise or defend legal claims; or
                                </li>
                                <li>
                                    you have objected to our use of your personal data, but we need to verify whether we have overriding legitimate grounds to use it
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            request a transfer
                        </th>
                        <td>
                            you can request a transfer of your personal data which is held in an automated manner and which you provided your consent for us to process, or which we need to process to perform our contract with you, to yourself or a third
                            party. We will provide your personal data in a structured, commonly used, machine-readable format
                        </td>
                    </tr>
                    <tr>
                        <th>
                            withdraw your consent
                        </th>
                        <td>
                            you can withdraw your consent at any time (where we are relying on consent to process your personal data - for example, when we share personal data with our referral partners). This does not affect the lawfulness of any
                            processing carried out before you withdraw your consent
                        </td>
                    </tr>
                    <tr>
                        <th>
                            request a correction
                        </th>
                        <td>
                            you can request correction of any of the personal data that we hold about you which may be incomplete or inaccurate. If you do request this, we may need to verify the accuracy of the new data you provide to us
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>Part 4: Third Parties</h4>
            <table class="terms-cond-table mr-bot-40-imp">
                <tbody>
                    <tr>
                        <th>
                            service providers
                        </th>
                        <td>
                            acting as processors or controllers based both inside and outside the EEA who provide services such as:
                            <ul class="disc">
                                <li>credit and identity checks</li>
                                <li>advertising and marketing</li>
                                <li>SEO facilities</li>
                                <li>bank and merchant account services</li>
                                <li>payment processing</li>
                                <li>delivery of goods and/or documents purchased from us</li>
                                <li>website services</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            professional advisors
                        </th>
                        <td>
                            joint controllers including lawyers, accountants, auditors and insurers based in the United Kingdom who provide consultancy, banking, legal, insurance and accounting services
                        </td>
                    </tr>
                    <tr>
                        <th>
                            HM Revenue &amp; Customs, regulators and other authorities
                        </th>
                        <td>
                            acting as joint controllers based in the EEA who require reporting of processing activities in certain circumstances
                        </td>
                    </tr>
                    <tr>
                        <th>
                            other members of our corporate group
                        </th>
                        <td>
                            acting as processors or controllers based within the EEA
                        </td>
                    </tr>
                    <tr>
                        <th>
                            third parties
                        </th>
                        <td>
                            <ul class="disc">
                                <li>
                                    third parties whom we choose to sell, transfer, or merge parts of our business or our assets. Alternatively, we may seek to acquire other businesses or merge with them. If a change happens to our business, then the new
                                    owners may use your personal data in the same way as set out in this Privacy Policy
                                </li>
                                <li>our referral partners acting as processors or controllers both inside and outside the EEA</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            other
                        </th>
                        <td>
                            we invite our customers to provide a review of their buying experience using our website. We may temporarily share your information (name, email address and order number) with Trustpilot, to allow them to send you this
                            invitation, however the information will not be stored. This information will also not be shared with anyone else
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>Part 5: Glossary</h4>
            <table class="terms-cond-table mr-bot-40-imp">
                <tbody>
                    <tr>
                        <th>
                            aggregated data
                        </th>
                        <td>
                            information such as statistical or demographic data which may be derived from personal data, but which cannot by itself identify a data subject
                        </td>
                    </tr>
                    <tr>
                        <th>
                            controller
                        </th>
                        <td>
                            a body that determines the purposes and means of processing personal data
                        </td>
                    </tr>
                    <tr>
                        <th>
                            data subject
                        </th>
                        <td>
                            an individual living person identified by personal data (which will generally be you)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            personal data
                        </th>
                        <td>
                            information identifying a data subject from that data alone or with other data we may hold but it does not include anonymised or aggregated data
                        </td>
                    </tr>
                    <tr>
                        <th>
                            processor
                        </th>
                        <td>
                            a body that is responsible for processing personal data on behalf of a controller
                        </td>
                    </tr>
                    <tr>
                        <th>
                            special categories of personal data
                        </th>
                        <td>
                            information about race, ethnicity political opinions, religious or philosophical beliefs, trade union membership, health, genetic, biometric data, sex life, sexual orientation
                        </td>
                    </tr>
                    <tr>
                        <th>
                            ICO
                        </th>
                        <td>
                            Information Commissioner’s Office, the UK’s supervisory authority for data protection issues
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>