@page
@model Spendwise_WebApp.Pages.ResetPasswordModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<div class="container">
    <div class="container-inner">
        <div class="alert-success p-3 m-5">
            <div class="text-center">
                <h2>Reset Password</h2>
            </div>
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
            }
            else
            {
                <form method="post">
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />

                    <div class="form-group">
                        <label>New Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success">Reset Password</button>
                </form>
            }

            @if (ViewData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@ViewData["SuccessMessage"]</div>
            }

        </div>
    </div>
</div>