@page
@model Spendwise_WebApp.Pages.rewardsModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}

<div class="bg-overlay packages-banner-trust" style="min-height: calc(100vh - 160px); display: flex; align-items: center; justify-content: center; text-align: center;">
    <div class="col-five bg-image-packages gradient--green" style="width: 100%;height:650px;">
        <div class="container-inner">
            <div class="page-banner left-col-sp-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 sp-heading">
                        <div class="container-reward">
                            <h1>Coming Soon</h1>
                            <h2>With exciting rewards</h2>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
